<div class="abidine-admin-menu">
    <div class="div-block-2">
      <div class="container-3 w-container"><img src="images/Logo---Top-Bar.png" alt="" class="image">
        <div class="div-block-6">
          <div class="text-block-3">Olá, <strong>Lorem Ipsum</strong></div><img src="images/Foto-Perfil---Top-Bar.png" alt=""></div>
      </div>
    </div>
    <div class="div-block-3">
      <div class="container-2 w-container">
        <div data-collapse="medium" data-animation="default" data-duration="400" role="banner" class="navbar w-nav">
          <div class="w-container">
            <nav role="navigation" class="nav-menu w-nav-menu"><a href="index.html" class="navlink w-nav-link">Início</a>
              <div data-hover="" data-delay="0" class="w-dropdown">
                <div class="dropdown-toggle w-dropdown-toggle">
                  <div class="icon w-icon-dropdown-toggle"></div>
                  <div class="text-block-75">Produtos</div>
                </div>
                <nav class="dropdown-list w-dropdown-list"><a href="cadastrar-produto-passo-1.html" class="dropdown-link w-dropdown-link">Cadastrar Produto</a><a href="cadastrar-servico-passo-1.html" class="dropdown-link w-dropdown-link">Cadastrar Serviço</a><a href="cadastrar-categoria-1.html" class="dropdown-link w-dropdown-link">Cadastrar Categoria</a><a href="untitled.html" class="dropdown-link w-dropdown-link">Upload em Masssa</a><a href="lista-de-anuncios.html" class="dropdown-link w-dropdown-link">Anúncios</a><a href="lista-de-categorias.html" class="dropdown-link w-dropdown-link">Categorias</a></nav>
              </div>
              <div data-hover="" data-delay="0" class="w-dropdown">
                <div class="dropdown-toggle w-dropdown-toggle">
                  <div class="icon w-icon-dropdown-toggle"></div>
                  <div class="text-block-75">Relatórios</div>
                </div>
                <nav class="dropdown-list w-dropdown-list"><a href="pedidos.html" class="dropdown-link w-dropdown-link">Pedidos</a><a href="exportar-receba-novidades.html" class="dropdown-link w-dropdown-link">Exportar Receba Novidades</a></nav>
              </div>
              <div data-hover="" data-delay="0" class="w-dropdown">
                <div class="dropdown-toggle w-dropdown-toggle">
                  <div class="icon w-icon-dropdown-toggle"></div>
                  <div class="text-block-75">Configurações</div>
                </div>
                <nav class="dropdown-list w-dropdown-list"><a href="configuracoes.html" class="dropdown-link w-dropdown-link">Gerais</a><a href="configuracoes-sobre-nos.html" class="dropdown-link w-dropdown-link">Sobre Nós</a><a href="configuracoes-politica-de-privavidade.html" class="dropdown-link w-dropdown-link">Política de Privacidade</a><a href="configuracoes-politica-entrega-troca-e-devolucao.html" class="dropdown-link w-dropdown-link">Política Entrega,Troca e Devolução</a><a href="configuracoes-visual-e-textos.html" class="dropdown-link w-dropdown-link">Visuais e Textos</a><a href="configuracoes-perguntas-frequentes.html" class="dropdown-link w-dropdown-link">Perguntas Frequentes</a></nav>
              </div><a href="e-commerce.html" class="navlink w-nav-link">E-Commerce</a>
              <div data-hover="" data-delay="0" class="w-dropdown">
                <div class="dropdown-toggle w-dropdown-toggle">
                  <div class="icon w-icon-dropdown-toggle"></div>
                  <div class="text-block-75">Clientes</div>
                </div>
                <nav class="dropdown-list w-dropdown-list"><a href="avaliacoes-de-clientes.html" class="dropdown-link w-dropdown-link">Avaliações</a><a href="mensagens-de-clientes.html" class="dropdown-link w-dropdown-link">Mensagens</a></nav>
              </div>
            </nav>
            <div class="w-nav-button">
              <div class="w-icon-nav-menu"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-21">
    <div class="container-6 w-container">
      <div class="w-layout-grid grid-7">
        <div class="text-block-21">Gerenciar &gt; Informações Sobre a Empresa XXXX</div>
        <div class="text-block-20">Hoje, <strong>22</strong> de <strong>Abril</strong> de <strong>2019</strong></div>
      </div>
    </div>
    <div class="w-container">
      <div class="text-block-23">Informações Sobre a Empresa</div>
      <div class="w-layout-grid grid-13">
        <div class="text-block-34">Empresa</div>
        <div class="text-block-33">Lorem Ipsum</div>
        <div class="text-block-34">Endereço</div>
        <div class="text-block-33">285923569825689</div>
        <div class="text-block-34">Sobre a Empresa</div>
        <div class="text-block-33">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed consectetur condimentum dui, eget facilisis tortor interdum ac. Etiam gravida volutpat augue, vel tempus dui porttitor et. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae.</div>
        <div class="text-block-34">Reputação Atual</div>
        <div class="text-block-33">4 Estrelas</div>
        <div class="text-block-34">Performace de Entrega</div>
        <div class="text-block-33">Bom</div>
        <div class="text-block-34">Índice de Reclamação</div>
        <div class="text-block-33">2%</div>
        <div class="text-block-34">Total de Avaliações</div>
        <div class="text-block-33">86755</div>
      </div>
      <div class="div-block-4">
        <div>
          <div class="text-block"><strong>Faturamento </strong>I <span class="text-span">Em Ciclos</span></div>
        </div>
      </div>
      <div class="w-layout-grid grid-2">
        <div id="w-node-527c83359ceb-f3965a5d" class="div-block-13">
          <div class="w-layout-grid grid-3">
            <div>
              <div class="text-block-12">Hoje</div>
            </div>
            <div id="w-node-527c83359cf0-f3965a5d">
              <div class="text-block-11">R$ 250,0</div>
            </div>
          </div>
        </div>
        <div id="w-node-527c83359cf3-f3965a5d" class="div-block-13">
          <div class="w-layout-grid grid-3">
            <div>
              <div class="text-block-12">14 Dias</div>
            </div>
            <div id="w-node-527c83359cf8-f3965a5d">
              <div class="text-block-11">R$ 500,0</div>
            </div>
          </div>
        </div>
        <div id="w-node-527c83359cfb-f3965a5d" class="div-block-13">
          <div class="w-layout-grid grid-3">
            <div>
              <div class="text-block-12">30 Dias</div>
            </div>
            <div id="w-node-527c83359d00-f3965a5d">
              <div class="text-block-11">R$ 2000,0</div>
            </div>
          </div>
        </div>
        <div id="w-node-527c83359d03-f3965a5d" class="div-block-13">
          <div class="w-layout-grid grid-3">
            <div>
              <div class="text-block-12">Total</div>
            </div>
            <div id="w-node-527c83359d08-f3965a5d">
              <div class="text-block-11">R$ 50.000,0</div>
            </div>
          </div>
        </div>
      </div>
      <div class="div-block-4 _2">
        <div>
          <div class="text-block"><strong>Histórico de Faturamento dos Últimos 12 Meses</strong></div>
        </div>
      </div>
      <div class="w-layout-grid grid-4">
        <div id="w-node-527c83359d11-f3965a5d" class="div-block-14"></div>
        <div id="w-node-527c83359d12-f3965a5d" class="div-block-14"></div>
        <div id="w-node-527c83359d13-f3965a5d" class="div-block-14"></div>
        <div id="w-node-527c83359d14-f3965a5d" class="div-block-14"></div>
        <div id="w-node-527c83359d15-f3965a5d" class="div-block-14"></div>
        <div id="w-node-527c83359d16-f3965a5d" class="div-block-14"></div>
        <div id="w-node-527c83359d17-f3965a5d" class="div-block-14"></div>
        <div id="w-node-527c83359d18-f3965a5d" class="div-block-14"></div>
        <div id="w-node-527c83359d19-f3965a5d" class="div-block-14"></div>
        <div id="w-node-527c83359d1a-f3965a5d" class="div-block-14"></div>
        <div id="w-node-527c83359d1b-f3965a5d" class="div-block-14"></div>
        <div id="w-node-527c83359d1c-f3965a5d" class="div-block-14"></div>
        <div id="w-node-527c83359d1d-f3965a5d" class="div-block-14"></div>
      </div>
      <div class="w-layout-grid grid-4 _2">
        <div id="w-node-527c83359d1f-f3965a5d" class="text-block-13">Fev</div>
        <div id="w-node-527c83359d21-f3965a5d" class="text-block-13">Nov</div>
        <div id="w-node-527c83359d23-f3965a5d" class="text-block-13">Mar</div>
        <div id="w-node-527c83359d25-f3965a5d" class="text-block-13">Jan</div>
        <div id="w-node-527c83359d27-f3965a5d" class="text-block-13">Abr</div>
        <div id="w-node-527c83359d29-f3965a5d" class="text-block-13">Mai</div>
        <div id="w-node-527c83359d2b-f3965a5d" class="text-block-13">Ago</div>
        <div id="w-node-527c83359d2d-f3965a5d" class="text-block-13">Jun</div>
        <div id="w-node-527c83359d2f-f3965a5d" class="text-block-13">Jul</div>
        <div id="w-node-527c83359d31-f3965a5d" class="text-block-13">Set</div>
        <div id="w-node-527c83359d33-f3965a5d" class="text-block-13">Out</div>
        <div id="w-node-527c83359d35-f3965a5d" class="text-block-13">Dez</div>
      </div>
      <div class="div-block-4">
        <div>
          <div class="text-block"><strong>Mais Vendidos </strong>I <span class="text-span">Nos últimos 30 dias</span></div>
        </div>
      </div>
      <div class="div-block-117">
        <div class="div-block-17">
          <div><img src="images/Produtos-Mais-vendidos.png" alt=""></div>
          <div class="div-block-18">
            <div class="text-block-15">Lorem Ipsum - Lorem Ipsum</div>
            <div class="div-block-16">
              <div class="div-block-15">
                <div class="text-block-16"><strong class="bold-text-3">30</strong><br>Vendidos</div>
              </div>
              <div class="div-block-15">
                <div class="text-block-16"><strong class="bold-text-3">4,8</strong><br>Avaliação</div>
              </div>
            </div>
          </div>
        </div>
        <div class="div-block-17">
          <div><img src="images/Produtos-Mais-vendidos.png" alt=""></div>
          <div class="div-block-18">
            <div class="text-block-15">Lorem Ipsum - Lorem Ipsum</div>
            <div class="div-block-16">
              <div class="div-block-15">
                <div class="text-block-16"><strong class="bold-text-3">30</strong><br>Vendidos</div>
              </div>
              <div class="div-block-15">
                <div class="text-block-16"><strong class="bold-text-3">4,8</strong><br>Avaliação</div>
              </div>
            </div>
          </div>
        </div>
        <div class="div-block-17">
          <div><img src="images/Produtos-Mais-vendidos.png" alt=""></div>
          <div class="div-block-18">
            <div class="text-block-15">Lorem Ipsum - Lorem Ipsum</div>
            <div class="div-block-16">
              <div class="div-block-15">
                <div class="text-block-16"><strong class="bold-text-3">30</strong><br>Vendidos</div>
              </div>
              <div class="div-block-15">
                <div class="text-block-16"><strong class="bold-text-3">4,8</strong><br>Avaliação</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="div-block-117">
        <div class="div-block-17">
          <div><img src="images/Produtos-Mais-vendidos.png" alt=""></div>
          <div class="div-block-18">
            <div class="text-block-15">Lorem Ipsum - Lorem Ipsum</div>
            <div class="div-block-16">
              <div class="div-block-15">
                <div class="text-block-16"><strong class="bold-text-3">30</strong><br>Vendidos</div>
              </div>
              <div class="div-block-15">
                <div class="text-block-16"><strong class="bold-text-3">4,8</strong><br>Avaliação</div>
              </div>
            </div>
          </div>
        </div>
        <div class="div-block-17">
          <div><img src="images/Produtos-Mais-vendidos.png" alt=""></div>
          <div class="div-block-18">
            <div class="text-block-15">Lorem Ipsum - Lorem Ipsum</div>
            <div class="div-block-16">
              <div class="div-block-15">
                <div class="text-block-16"><strong class="bold-text-3">30</strong><br>Vendidos</div>
              </div>
              <div class="div-block-15">
                <div class="text-block-16"><strong class="bold-text-3">4,8</strong><br>Avaliação</div>
              </div>
            </div>
          </div>
        </div>
        <div class="div-block-17">
          <div><img src="images/Produtos-Mais-vendidos.png" alt=""></div>
          <div class="div-block-18">
            <div class="text-block-15">Lorem Ipsum - Lorem Ipsum</div>
            <div class="div-block-16">
              <div class="div-block-15">
                <div class="text-block-16"><strong class="bold-text-3">30</strong><br>Vendidos</div>
              </div>
              <div class="div-block-15">
                <div class="text-block-16"><strong class="bold-text-3">4,8</strong><br>Avaliação</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="div-block-4">
        <div>
          <div class="text-block"><strong>Usuários Associados</strong>I <span class="text-span">Usuários com acesso às configurações da Abidine.shop</span></div>
        </div>
      </div>
      <div class="w-layout-grid grid-32">
        <div class="text-block-34">E-mail</div>
        <div class="text-block-34">Cargo</div>
        <div class="text-block-34 b">empresa@gmail.com</div>
        <div class="text-block-34 b">Diretor</div>
        <div class="text-block-34 b">empresa@gmail.com</div>
        <div class="text-block-34 b">Gerente</div>
      </div>
      <div class="div-block-97">
        <div class="div-block-96"><a href="#" class="button-20 w-button">Imprimir</a><a data-w-id="84f2034b-b02e-454a-0239-ada156c0478e" href="cadastrar-nova-empresa.html" class="button-18 _2 w-button">Editar Informações</a><a data-w-id="9b457511-7b33-6418-37ca-362fc5fff75b" href="cadastrar-novo-usuario.html" class="button-18 w-button">Cadastrar Novo Usuário Associado</a></div>
      </div>
    </div>
  </div>
  <div class="section-4">
    <div class="container-5 w-container">
      <div class="div-block-25"><img src="images/Logo---Top-Bar.png" width="194" alt="">
        <div class="text-block-19">I All Rights Reserved Copyright 2019</div>
      </div>
      <div class="div-block-26"><a href="#" class="link-3"> Sobre I</a><a href="#" class="link-3">Privacidade I </a><a href="#" class="link-3 _2">Central de Ajuda </a></div>
    </div>
  </div>
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=5ec829d6c4dfffb40b021510" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="js/webflow.js" type="text/javascript"></script>