<div class="abidine-admin-menu">
  <div class="div-block-2">
    <div class="container-3 w-container"><img src="images/Logo---Top-Bar.png" alt="" class="image">
      <div class="div-block-6">
        <div class="text-block-3">Olá, <strong>Lorem Ipsum</strong></div><img src="images/Foto-Perfil---Top-Bar.png" alt=""></div>
    </div>
  </div>
  <div class="div-block-3">
    <div class="container-2 w-container">
      <div data-collapse="medium" data-animation="default" data-duration="400" role="banner" class="navbar w-nav">
        <div class="w-container">
          <nav role="navigation" class="nav-menu w-nav-menu"><a href="index.html" class="navlink w-nav-link">Início</a>
            <div data-hover="" data-delay="0" class="w-dropdown">
              <div class="dropdown-toggle w-dropdown-toggle">
                <div class="icon w-icon-dropdown-toggle"></div>
                <div class="text-block-75">Produtos</div>
              </div>
              <nav class="dropdown-list w-dropdown-list"><a href="cadastrar-produto-passo-1.html" class="dropdown-link w-dropdown-link">Cadastrar Produto</a><a href="cadastrar-servico-passo-1.html" class="dropdown-link w-dropdown-link">Cadastrar Serviço</a><a href="cadastrar-categoria-1.html" class="dropdown-link w-dropdown-link">Cadastrar Categoria</a><a href="untitled.html" class="dropdown-link w-dropdown-link">Upload em Masssa</a><a href="lista-de-anuncios.html" class="dropdown-link w-dropdown-link">Anúncios</a><a href="lista-de-categorias.html" aria-current="page" class="dropdown-link w-dropdown-link w--current">Categorias</a></nav>
            </div>
            <div data-hover="" data-delay="0" class="w-dropdown">
              <div class="dropdown-toggle w-dropdown-toggle">
                <div class="icon w-icon-dropdown-toggle"></div>
                <div class="text-block-75">Relatórios</div>
              </div>
              <nav class="dropdown-list w-dropdown-list"><a href="pedidos.html" class="dropdown-link w-dropdown-link">Pedidos</a></nav>
            </div><a href="#" class="navlink w-nav-link">Configurações*</a><a href="#" class="navlink w-nav-link">E-Commerce*</a>
            <div data-hover="" data-delay="0" class="w-dropdown">
              <div class="dropdown-toggle w-dropdown-toggle">
                <div class="icon w-icon-dropdown-toggle"></div>
                <div class="text-block-75">Clientes</div>
              </div>
              <nav class="dropdown-list w-dropdown-list"><a href="avaliacoes-de-clientes.html" class="dropdown-link w-dropdown-link">Avaliações</a><a href="mensagens-de-clientes.html" class="dropdown-link w-dropdown-link">Mensagens</a></nav>
            </div>
          </nav>
          <div class="w-nav-button">
            <div class="w-icon-nav-menu"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section-18">
  <div class="container-6 w-container">
    <div class="w-layout-grid grid-7">
      <div class="text-block-21">Produto &gt; Lista de Categorias</div>
      <div class="text-block-20">Hoje, <strong>{{myDate}}</strong></div>
    </div>
  </div>
  <div class="w-container">
    <div class="div-block-70">
      <div class="w-form">
        <form id="email-form" name="email-form" data-name="Email Form">
          <div class="div-block-85">
            <div class="div-block-27"><input type="text" class="text-field _2 busca w-input" maxlength="256" name="name-5" data-name="Name 5" placeholder="" id="name-5">
              <div class="div-block-28"><img src="images/064-magnifying-glass-searcher.png" srcset="images/064-magnifying-glass-searcher-p-500.png 500w, images/064-magnifying-glass-searcher.png 512w" sizes="30px" alt="" class="image-3"></div>
            </div><a href="cadastrar-categoria-1.html" class="button-17 w-button">Nova Categoria</a></div>
        </form>
        <div class="w-form-done">
          <div>Thank you! Your submission has been received!</div>
        </div>
        <div class="w-form-fail">
          <div>Oops! Something went wrong while submitting the form.</div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-11 w-container">
    <div class="w-layout-grid grid-27">
      <div class="div-block-86">
        <div>ID</div>
      </div>
      <div class="div-block-86">
        <div>Nome da Categoria</div>
      </div>
      <div id="w-node-e0ddf4498081-c8c8a10a" class="div-block-86">
        <div>Status</div>
      </div>
      <div id="w-node-f9dc977dbcf8-c8c8a10a" class="div-block-87">
        <div>CD4687</div>
      </div>
      <div class="div-block-87">
        <div>Moda</div>
      </div>
      <div class="div-block-87">
        <div class="form-block-4 w-form">
          <form id="email-form-2" name="email-form-2" data-name="Email Form 2"><select id="field" name="field" class="select-field-6 w-select"><option value="Ativo">Ativo</option><option value="Inativo">Inativo</option></select></form>
          <div class="success-message w-form-done">
            <div>Thank you! Your submission has been received!</div>
          </div>
          <div class="error-message w-form-fail">
            <div>Oops! Something went wrong while submitting the form.</div>
          </div>
        </div>
      </div>
      <div class="div-block-87"><img src="images/edit.png" width="30" alt="" class="image-6"></div>
      <div class="div-block-87">
        <div>CD4687</div>
      </div>
      <div class="div-block-87">
        <div>    → Moda</div>
      </div>
      <div class="div-block-87">
        <div class="form-block-4 w-form">
          <form id="email-form-2" name="email-form-2" data-name="Email Form 2"><select id="field-2" name="field-2" data-name="Field 2" class="select-field-6 w-select"><option value="Ativo">Ativo</option><option value="Inativo">Inativo</option></select></form>
          <div class="success-message w-form-done">
            <div>Thank you! Your submission has been received!</div>
          </div>
          <div class="error-message w-form-fail">
            <div>Oops! Something went wrong while submitting the form.</div>
          </div>
        </div>
      </div>
      <div class="div-block-87"><img src="images/edit.png" width="30" alt="" class="image-6"></div>
      <div class="div-block-87">
        <div>CD4687</div>
      </div>
      <div class="div-block-87">
        <div>     → Moda</div>
      </div>
      <div class="div-block-87">
        <div class="form-block-4 w-form">
          <form id="email-form-2" name="email-form-2" data-name="Email Form 2"><select id="field-2" name="field-2" data-name="Field 2" class="select-field-6 w-select"><option value="Ativo">Ativo</option><option value="Inativo">Inativo</option></select></form>
          <div class="success-message w-form-done">
            <div>Thank you! Your submission has been received!</div>
          </div>
          <div class="error-message w-form-fail">
            <div>Oops! Something went wrong while submitting the form.</div>
          </div>
        </div>
      </div>
      <div class="div-block-87"><img src="images/edit.png" width="30" alt="" class="image-6"></div>
      <div class="div-block-87">
        <div>CD4687</div>
      </div>
      <div class="div-block-87">
        <div>            → Moda</div>
      </div>
      <div class="div-block-87">
        <div class="form-block-4 w-form">
          <form id="email-form-2" name="email-form-2" data-name="Email Form 2"><select id="field-2" name="field-2" data-name="Field 2" class="select-field-6 w-select"><option value="Ativo">Ativo</option><option value="Inativo">Inativo</option></select></form>
          <div class="success-message w-form-done">
            <div>Thank you! Your submission has been received!</div>
          </div>
          <div class="error-message w-form-fail">
            <div>Oops! Something went wrong while submitting the form.</div>
          </div>
        </div>
      </div>
      <div class="div-block-87"><img src="images/edit.png" width="30" alt="" class="image-6"></div>
      <div class="div-block-87">
        <div>CD4687</div>
      </div>
      <div class="div-block-87">
        <div>Moda</div>
      </div>
      <div class="div-block-87">
        <div class="form-block-4 w-form">
          <form id="email-form-2" name="email-form-2" data-name="Email Form 2"><select id="field-2" name="field-2" data-name="Field 2" class="select-field-6 w-select"><option value="Ativo">Ativo</option><option value="Inativo">Inativo</option></select></form>
          <div class="success-message w-form-done">
            <div>Thank you! Your submission has been received!</div>
          </div>
          <div class="error-message w-form-fail">
            <div>Oops! Something went wrong while submitting the form.</div>
          </div>
        </div>
      </div>
      <div class="div-block-87"><img src="images/edit.png" width="30" alt="" class="image-6"></div>
      <div class="div-block-87">
        <div>CD4687</div>
      </div>
      <div class="div-block-87">
        <div>    → Moda</div>
      </div>
      <div class="div-block-87">
        <div class="form-block-4 w-form">
          <form id="email-form-2" name="email-form-2" data-name="Email Form 2"><select id="field-2" name="field-2" data-name="Field 2" class="select-field-6 w-select"><option value="Ativo">Ativo</option><option value="Inativo">Inativo</option></select></form>
          <div class="success-message w-form-done">
            <div>Thank you! Your submission has been received!</div>
          </div>
          <div class="error-message w-form-fail">
            <div>Oops! Something went wrong while submitting the form.</div>
          </div>
        </div>
      </div>
      <div class="div-block-87"><img src="images/edit.png" width="30" alt="" class="image-6"></div>
      <div class="div-block-87">
        <div>CD4687</div>
      </div>
      <div class="div-block-87">
        <div>Moda</div>
      </div>
      <div class="div-block-87">
        <div class="form-block-4 w-form">
          <form id="email-form-2" name="email-form-2" data-name="Email Form 2"><select id="field-2" name="field-2" data-name="Field 2" class="select-field-6 w-select"><option value="Ativo">Ativo</option><option value="Inativo">Inativo</option></select></form>
          <div class="success-message w-form-done">
            <div>Thank you! Your submission has been received!</div>
          </div>
          <div class="error-message w-form-fail">
            <div>Oops! Something went wrong while submitting the form.</div>
          </div>
        </div>
      </div>
      <div class="div-block-87"><img src="images/edit.png" width="30" alt="" class="image-6"></div>
    </div>
  </div>
  <div class="container-8 w-container">
    <div class="div-block-32">
      <div class="div-block-33">
        <div>&lt;</div>
      </div>
      <div class="div-block-33">
        <div>1</div>
      </div>
      <div class="div-block-33">
        <div>2</div>
      </div>
      <div class="div-block-33">
        <div>3</div>
      </div>
      <div class="div-block-33">
        <div>4</div>
      </div>
      <div class="div-block-33">
        <div>5</div>
      </div>
      <div class="div-block-33">
        <div>6</div>
      </div>
      <div class="div-block-33">
        <div>&gt;</div>
      </div>
    </div>
  </div>
</div>
