<div class="abidine-admin-menu">
  <div class="div-block-2">
    <div class="container-3 w-container"><img src="../../assets/images/Logo---Top-Bar.png" alt="" class="image">
      <div class="div-block-6">
        <div class="text-block-3">Olá, <strong>{{user.name}}</strong></div><img src="../../assets/images/Foto-Perfil---Top-Bar.png" alt=""></div>
    </div>
  </div>
  <app-navbar></app-navbar>
</div>
<div>
