<div class="section-4">
  <div class="container-5 w-container">
    <div class="div-block-25"><img src="../../assets/images/Logo---Top-Bar.png" width="194" alt="">
      <div class="text-block-19">I All Rights Reserved Copyright 2019</div>
    </div>
    <div class="div-block-26"><a href="#" class="link-3"> Sobre I</a><a href="#" class="link-3">Privacidade I </a><a href="#" class="link-3"> Suporte I</a><a href="#" class="link-3"> F.A.Q.</a></div>
  </div>
</div>
<script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.4.1.min.220afd743d.js?site=5ec829d6c4dfffb40b021510" type="text/javascript" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

<script src="../../assets/js/webflow.js" type="text/javascript"></script>
