  <div>
    <div class="container-6 w-container">
      <div class="w-layout-grid grid-7">
        <div class="text-block-21">Produto &gt; Cadastro de Serviço</div>
        <div class="text-block-20">Hoje, <strong>{{myDate}}</strong></div>
      </div>
    </div>
    <div class="container-9 w-container">
      <div class="div-block-77"><img src="../../assets/images/logotipo-abidineshop-vetor.png" height="80" srcset="../../assets/images/logotipo-abidineshop-vetor-p-500.png 500w, ../../assets/images/logotipo-abidineshop-vetor-p-800.png 800w, ../../assets/images/logotipo-abidineshop-vetor-p-1080.png 1080w, ../../assets/images/logotipo-abidineshop-vetor-p-1600.png 1600w, ../../assets/images/logotipo-abidineshop-vetor-p-2000.png 2000w, ../../assets/images/logotipo-abidineshop-vetor-p-2600.png 2600w, ../../assets/images/logotipo-abidineshop-vetor-p-3200.png 3200w, ../../assets/images/logotipo-abidineshop-vetor.png 6962w" sizes="(max-width: 479px) 92vw, 232.828125px" alt="" class="image-4">
        <div class="text-block-67"><span class="text-span-7">Agora Falta Pouco!</span><br>Dentro de instantes você receberá um e-mail de confirmação<br>para seu cadastro ser concluído.</div><a href="#" class="button-14 w-button">Cadastrar Outra Empresa</a></div>
    </div>
  </div>
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=5ec829d6c4dfffb40b021510" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="js/webflow.js" type="text/javascript"></script>
  