
    <div class="section-15">
      <div class="container-6 w-container">
        <div class="w-layout-grid grid-7">
          <div class="text-block-21">Produto &gt; Cadastro de Serviço</div>
          <div class="text-block-20">Hoje, <strong>{{myDate}}</strong></div>
        </div>
      </div>
      <div class="container-9 w-container">
        <div class="w-layout-grid grid-18 servi-o">
          <div id="w-node-dfe58b672bfa-22f4047d" class="div-block-62">
            <div class="div-block-61"></div>
            <div class="div-block-60 cinza"></div>
            <div class="text-block-56 cinza">Empresa</div>
          </div>
          <div id="w-node-d29e932fa8fe-22f4047d" class="div-block-62">
            <div class="div-block-61"></div>
            <div class="div-block-60 cinza"></div>
            <div class="text-block-56 cinza">Unidades</div>
          </div>
          <div id="w-node-d233e4bf98dc-22f4047d" class="div-block-62">
            <div class="div-block-61"></div>
            <div class="div-block-60"></div>
            <div class="text-block-56">Usuário</div>
          </div>
        </div>
        <div>
          <div class="w-form">
            <form id="email-form" name="email-form" data-name="Email Form">
              <div class="text-block-76">Informações de Login</div>
              <div class="w-layout-grid grid-24">
                <div id="w-node-00342c70bd73-22f4047d"><label for="name" class="field-label-2">Login*</label><input type="text" class="w-input" maxlength="256" name="name" data-name="Name" placeholder="" id="name"></div>
                <div id="w-node-29293c2c2ca7-22f4047d"><label for="name-2" class="field-label-2">E-mail*</label><input type="email" class="w-input" maxlength="256" name="name-2" data-name="Name 2" placeholder="" id="name-2"></div>
                <div id="w-node-dfac56559dda-22f4047d"><label for="name-2" class="field-label-2">Senha*</label><input type="password" class="w-input" maxlength="256" name="name-3" data-name="Name 3" placeholder="" id="name-3"></div>
                <div id="w-node-ef7350868f30-22f4047d"><label for="name-2" class="field-label-2">Confirmação de Senha*</label><input type="password" class="w-input" maxlength="256" name="name-4" data-name="Name 4" placeholder="" id="name-4"></div>
              </div>
              <div class="div-block-64 _2"><a href="registro-2.html" class="button-16 w-button">Continuar</a></div>
            </form>
            <div class="w-form-done">
              <div>Thank you! Your submission has been received!</div>
            </div>
            <div class="w-form-fail">
              <div>Oops! Something went wrong while submitting the form.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=5ec829d6c4dfffb40b021510" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="js/webflow.js" type="text/javascript"></script>