    <div class="section-16">
      <div class="container-6 w-container">
        <div class="w-layout-grid grid-7">
          <div class="text-block-21">Produto &gt; Cadastro de Serviço</div>
          <div class="text-block-20">Hoje, <strong>{{myDate}}</strong></div>
        </div>
      </div>
      <div class="container-9 w-container">
        <div class="w-layout-grid grid-18 servi-o">
          <div id="w-node-dfe58b672bfa-39e18f42" class="div-block-62">
            <div class="div-block-61"></div>
            <div class="div-block-60"></div>
            <div class="text-block-56">Empresa</div>
          </div>
          <div id="w-node-d29e932fa8fe-39e18f42" class="div-block-62">
            <div class="div-block-61"></div>
            <div class="div-block-60 cinza"></div>
            <div class="text-block-56 cinza">Unidades</div>
          </div>
          <div id="w-node-d233e4bf98dc-39e18f42" class="div-block-62">
            <div class="div-block-61"></div>
            <div class="div-block-60"></div>
            <div class="text-block-56">Usuário</div>
          </div>
        </div>
        <div>
          <div class="w-form">
            <form id="email-form" name="email-form" data-name="Email Form">
              <div class="text-block-76">Sobre a Empresa</div>
              <div><label for="name" class="field-label-2">Nome Empresarial*</label><input type="text" class="w-input" maxlength="256" name="name" data-name="Name" placeholder="" id="name"></div>
              <div><label for="name-5" class="field-label-2">Nome Fantasia*</label><input type="text" class="w-input" maxlength="256" name="name-5" data-name="Name 5" placeholder="" id="name-5"></div>
              <div><label for="name-4" class="field-label-2">Nome do Empresário*</label><input type="text" class="w-input" maxlength="256" name="name-4" data-name="Name 4" placeholder="" id="name-4"></div>
              <div><label for="name-3" class="field-label-2">Razão Social*</label><input type="text" class="w-input" maxlength="256" name="name-3" data-name="Name 3" placeholder="" id="name-3"></div>
              <div><label for="name-2" class="field-label-2">Tipo de Documentação / Registro*</label>
                <div class="div-block-83"><select id="field" name="field" class="select-field-4 w-select"><option value=""></option><option value="CPF">CNPJ</option><option value="Second">Second Choice</option><option value="Third">Third Choice</option></select><input type="text" class="text-field-6 w-input" maxlength="256" name="name-2" data-name="Name 2" placeholder="" id="name-2"></div>
              </div>
              <div class="div-block-64 _2"><a href="registro-3.html" class="button-16 w-button">Continuar</a></div>
            </form>
            <div class="w-form-done">
              <div>Thank you! Your submission has been received!</div>
            </div>
            <div class="w-form-fail">
              <div>Oops! Something went wrong while submitting the form.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=5ec829d6c4dfffb40b021510" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="js/webflow.js" type="text/javascript"></script>