<div class="section-9">
  <div class="container-6 w-container">
    <div class="w-layout-grid grid-7">
      <div class="text-block-21">Produto &gt; Cadastro de Novo Produto</div>
      <div class="text-block-20">Hoje, <strong>{{myDate}}</strong></div>
    </div>
  </div>
  <div class="container-9 w-container">
    <div class="w-layout-grid grid-18">
      <div id="w-node-dfe58b672bfa-896d8a0e" class="div-block-62">
        <div class="div-block-61"></div>
        <div class="div-block-60"></div>
        <div class="text-block-56">Passo 2</div>
      </div>
      <div id="w-node-41613f8e32ae-896d8a0e" class="div-block-62">
        <div class="div-block-61"></div>
        <div class="div-block-60 cinza"></div>
        <div class="text-block-56 cinza">Passo 4</div>
      </div>
      <div id="w-node-c82bc545059c-896d8a0e" class="div-block-62">
        <div class="div-block-61"></div>
        <div class="div-block-60 cinza"></div>
        <div class="text-block-56 cinza">Passo 5</div>
      </div>
      <div id="w-node-616a33ec2589-896d8a0e" class="div-block-62">
        <div class="div-block-61"></div>
        <div class="div-block-60 cinza"></div>
        <div class="text-block-56 cinza">Passo 6</div>
      </div>
      <div id="w-node-d29e932fa8fe-896d8a0e" class="div-block-62">
        <div class="div-block-61"></div>
        <div class="div-block-60"></div>
        <div class="text-block-56">Passo 3</div>
      </div>
      <div id="w-node-d233e4bf98dc-896d8a0e" class="div-block-62">
        <div class="div-block-61"></div>
        <div class="div-block-60"></div>
        <div class="text-block-56">Passo 1</div>
      </div>
    </div>
    <div>
      <div class="w-form">
        <form id="email-form" name="email-form" data-name="Email Form">
          <div class="div-block-72">
            <div class="text-block-63">Tabela de Características</div>
            <div class="text-block-62">Caso deixe alguma caracterpistica em branco ela não estará visível ao consumidor.</div>
            <div class="div-block-71"><label for="email" class="field-label">Lorem Ipsum</label><input type="text" class="text-field-3 w-input" maxlength="256" name="name-2" data-name="Name 2" placeholder="" id="name-2"
              (input) ="addProductCharacteric( $event,0);"
              ></div>
            <div class="div-block-71"><label for="email" class="field-label">Lorem Ipsum</label><input type="text" class="text-field-3 w-input" maxlength="256" name="name-2" data-name="Name 2" placeholder="" id="name-2"
              (input) ="addProductCharacteric( $event,1);"
              ></div>
            <div class="div-block-71"><label for="email" class="field-label">Lorem Ipsum</label><input type="text" class="text-field-3 w-input" maxlength="256" name="name-2" data-name="Name 2" placeholder="" id="name-2"
              (input) ="addProductCharacteric( $event,2);"
              ></div>
            <div class="div-block-71"><label for="email" class="field-label">Lorem Ipsum</label><input type="text" class="text-field-3 w-input" maxlength="256" name="name-2" data-name="Name 2" placeholder="" id="name-2"
              (input) ="addProductCharacteric( $event,3);"
              ></div>
            <div class="div-block-71"><label for="email-2" class="field-label">Lorem Ipsum</label><input type="text" class="text-field-3 w-input" maxlength="256" name="name-2" data-name="Name 2" placeholder="" id="name-2"
              (input) ="addProductCharacteric( $event,4);"
              ></div>
          </div>
          <div class="div-block-73">
            <div class="text-block-63">Tabela de Especificações Técnicas</div>
            <div class="text-block-62">Caso deixe alguma caracterpistica em branco ela não estará visível ao consumidor.</div>
            <div class="div-block-71"><label for="email" class="field-label">Lorem Ipsum</label><input type="text" class="text-field-3 w-input" maxlength="256" name="name-2" data-name="Name 2" placeholder="" id="name-2"
              (input) ="addProductSpecification( $event,0);"
              ></div>
            <div class="div-block-71"><label for="email" class="field-label">Lorem Ipsum</label><input type="text" class="text-field-3 w-input" maxlength="256" name="name-2" data-name="Name 2" placeholder="" id="name-2"
              (input) ="addProductSpecification( $event,1);"
            ></div>
            <div class="div-block-71"><label for="email" class="field-label">Lorem Ipsum</label><input type="text" class="text-field-3 w-input" maxlength="256" name="name-2" data-name="Name 2" placeholder="" id="name-2"
             > </div>
            <div class="div-block-71"><label for="email" class="field-label">Lorem Ipsum</label><input type="text" class="text-field-3 w-input" maxlength="256" name="name-2" data-name="Name 2" placeholder="" id="name-2"
              (input) ="addProductSpecification( $event,2);"
              > </div>
            <div class="div-block-71"><label for="email" class="field-label">Lorem Ipsum</label><input type="text" class="text-field-3 w-input" maxlength="256" name="name-2" data-name="Name 2" placeholder="" id="name-2"
              (input) ="addProductSpecification( $event,3);"
              ></div>
          </div>
          <div class="div-block-64 _2"><a (click)="nextStep();"  class="button-16 w-button">Continuar</a></div>
        </form>
        <div class="w-form-done">
          <div>Thank you! Your submission has been received!</div>
        </div>
        <div class="w-form-fail">
          <div>Oops! Something went wrong while submitting the form.</div>
        </div>
      </div>
    </div>
  </div>
</div>
