<div class="section-10">
  <div class="container-6 w-container">
    <div class="w-layout-grid grid-7">
      <div class="text-block-21">Produto &gt; Cadastro de Novo Produto</div>
      <div class="text-block-20">Hoje, <strong>{{myDate}}</strong></div>
    </div>
  </div>
  <div class="container-9 w-container">
    <div class="w-layout-grid grid-18">
      <div id="w-node-dfe58b672bfa-ac28365e" class="div-block-62">
        <div class="div-block-61"></div>
        <div class="div-block-60"></div>
        <div class="text-block-56">Passo 2</div>
      </div>
      <div id="w-node-41613f8e32ae-ac28365e" class="div-block-62">
        <div class="div-block-61"></div>
        <div class="div-block-60"></div>
        <div class="text-block-56">Passo 4</div>
      </div>
      <div id="w-node-c82bc545059c-ac28365e" class="div-block-62">
        <div class="div-block-61"></div>
        <div class="div-block-60 cinza"></div>
        <div class="text-block-56 cinza">Passo 5</div>
      </div>
      <div id="w-node-616a33ec2589-ac28365e" class="div-block-62">
        <div class="div-block-61"></div>
        <div class="div-block-60 cinza"></div>
        <div class="text-block-56 cinza">Passo 6</div>
      </div>
      <div id="w-node-d29e932fa8fe-ac28365e" class="div-block-62">
        <div class="div-block-61"></div>
        <div class="div-block-60"></div>
        <div class="text-block-56">Passo 3</div>
      </div>
      <div id="w-node-d233e4bf98dc-ac28365e" class="div-block-62">
        <div class="div-block-61"></div>
        <div class="div-block-60"></div>
        <div class="text-block-56">Passo 1</div>
      </div>
    </div>
    <div>
      <div class="w-form">
        <form id="email-form" name="email-form" data-name="Email Form">
          <div class="text-block-65">Estoque</div>
          <div class="w-layout-grid grid-19">
            <div id="w-node-60fce4ae5c0f-ac28365e"><label class="field-label-3">REF</label>
              <div class="div-block-74"><input type="text" class="text-field-4 w-input" maxlength="256" name="field" data-name="Field" placeholder="Example Text" id="field" required=""
                                               (keyup.enter)="addProductGtin($event)"
                                               (input)="addProductGtin($event); "><a href="#" class="button-12 w-button">Gerar</a></div>
              <div class="text-block-64">Identificador único para a organização de estoques.</div>
            </div>
            <div id="w-node-ccd7f27898ee-ac28365e"><label class="field-label-3">Gerenciar Estoque</label><select id="field-3" name="field-3" class="select-field-2 w-select"><option value=""></option><option value="Sim">Sim</option><option value="Não">Não</option></select>
              <div class="text-block-64">Quer que o sistema controle o nível de estoque?</div>
            </div>
            <div id="w-node-d0a5939d463e-ac28365e"><label class="field-label-3">Quantidade Fixa</label><select id="field-3" name="field-3" class="select-field-2 w-select"><option value=""></option><option value="Sim">Sim</option><option value="Não">Não</option></select>
              <div class="text-block-64">Proibir o cliente de adicionar mais de uma unidade deste produto no carrinho</div>
            </div>
            <div id="w-node-f5a0734cc99e-ac28365e"><label class="field-label-3">GTIN/EAN</label><input type="text" class="w-input" maxlength="256" name="field-2" data-name="Field 2" placeholder="Example Text" id="field-2" required=""
                                                                                                       (keyup.enter)="addProductGtin($event)"
                                                                                                       (input)="addProductGtin($event); ">
              <div class="text-block-64">Identificador para itens comerciais (Cód. de barras).</div>
            </div>
            <div id="w-node-6eeefd7852e3-ac28365e">
              <label class="field-label-3">NCM</label>
              <input type="text" class="w-input" maxlength="256" name="field-2" data-name="Field 2" placeholder="Example Text" id="field-2" required=""
                     (keyup.enter)="addProductNCM($event)"
                     (input)="addProductNCM($event); ">
              <div class="text-block-64">Identificador único para a organização de estoques.</div>
            </div>
          </div>
          <div class="text-block-65">Variações</div>
          <div class="w-layout-grid grid-19 _2">
            <div id="w-node-3a944e3b03ca-ac28365e"><label class="field-label-3">Gênero</label><select id="field-3" name="field-3" class="select-field-2 w-select"><option value=""></option><option value="Sim">Sim</option><option value="Não">Não</option></select></div>
            <div id="w-node-3a944e3b03d3-ac28365e"><label class="field-label-3">Cor</label><select id="field-3" name="field-3" class="select-field-2 w-select"><option value=""></option><option value="Sim">Sim</option><option value="Não">Não</option></select></div>
            <div id="w-node-3a944e3b03d9-ac28365e"><label class="field-label-3">Tamanho</label><select id="field-3" name="field-3" class="select-field-2 w-select"><option value=""></option><option value="Sim">Sim</option><option value="Não">Não</option></select></div>
            <div id="w-node-3a944e3b03df-ac28365e"><a href="#" class="button-13 w-button">Adicionar Variação</a></div><label class="w-checkbox"><input type="checkbox" id="checkbox" name="checkbox" data-name="Checkbox" class="w-checkbox-input"><span class="w-form-label">Preços Diferentes</span></label><label class="w-checkbox"><input type="checkbox" id="checkbox-3" name="checkbox-3" data-name="Checkbox 3" class="w-checkbox-input"><span class="w-form-label">Pesos Diferentes</span></label><label class="w-checkbox"><input type="checkbox" id="checkbox-2" name="checkbox-2" data-name="Checkbox 2" class="w-checkbox-input"><span class="w-form-label">Medidas Diferentes</span></label></div>
          <div class="w-layout-grid grid-20">
            <div class="div-block-75 ocultar">
              <div>Opções</div>
            </div>
            <div class="div-block-75">
              <div>Preço</div>
            </div>
            <div class="div-block-75">
              <div>Estoque</div>
            </div>
            <div class="div-block-75">
              <div>Identificador</div>
            </div>
            <div class="div-block-75 ocultar">
              <div>Medidas</div>
            </div>
            <div id="w-node-443f34c6044b-ac28365e" class="div-block-76 ocultar">
              <div class="text-block-66">- Feminino<br>- Vermelho Claro<br>- M</div>
            </div>
            <div class="div-block-76"><label class="field-label-4">Preço:</label><input type="text" class="text-field-5 w-input" maxlength="256" name="field-4" data-name="Field 4" id="field-4" required=""></div>
            <div class="div-block-76"><label class="field-label-4">Peso (Kg):</label><input type="text" class="text-field-5 w-input" maxlength="256" name="field-4" data-name="Field 4" id="field-4" required=""><label class="field-label-4 _2">Qtd. (UN):</label><input type="text" class="text-field-5 w-input" maxlength="256" name="field-4" data-name="Field 4" id="field-4" required=""></div>
            <div class="div-block-76"><label class="field-label-4">REF:</label><input type="text" class="text-field-5 w-input" maxlength="256" name="field-4" data-name="Field 4" id="field-4" required=""><label class="field-label-4 _2">GTIN/EAN:</label><input type="text" class="text-field-5 w-input" maxlength="256" name="field-4" data-name="Field 4" id="field-4" required=""></div>
            <div class="div-block-76 ocultar">
              <div class="w-layout-grid grid-21">
                <div id="w-node-c38b0f2812ef-ac28365e"><label class="field-label-4">Comprimento:</label><input type="text" class="text-field-5 w-input" maxlength="256" name="field-4" data-name="Field 4" id="field-4" required=""></div>
                <div id="w-node-ac1b9767f405-ac28365e"><label class="field-label-4">Largura:</label><input type="text" class="text-field-5 w-input" maxlength="256" name="field-4" data-name="Field 4" id="field-4" required=""></div>
                <div id="w-node-43a7527b43f0-ac28365e"><label class="field-label-4 _2">Altura:</label><input type="text" class="text-field-5 w-input" maxlength="256" name="field-4" data-name="Field 4" id="field-4" required=""></div>
              </div>
            </div>
          </div>
          <div class="div-block-64 _2"><a (click)="nextStep();"  class="button-16 w-button">Continuar</a></div>
        </form>
        <div class="w-form-done">
          <div>Thank you! Your submission has been received!</div>
        </div>
        <div class="w-form-fail">
          <div>Oops! Something went wrong while submitting the form.</div>
        </div>
      </div>
    </div>
  </div>
</div>
