
  <div class="container-6 w-container">
    <div class="w-layout-grid grid-7">
      <div class="text-block-21">Início &gt; E-Commerce</div>
      <div class="text-block-20">Hoje, <strong>{{myDate}}</strong></div>
    </div>
  </div>
  <div class="container-14 w-container">
    <div class="text-block-41">Configurações E-commerce</div>
  </div>
  <div class="section-20">
    <div class="w-container">
      <div class="w-layout-grid">

        <div id="w-node-1108b1cb9de5-d5be2cbd" class="div-block-107">
          <div class="text-block-87">Formas de Envio</div>

          <table>
            <tr>
              <td><div class="div-block-108"><img src="../../assets/images/sedex-logo-1.png" alt=""></div></td>
              <td><div id="w-node-d13fce968f08-d5be2cbd" class="div-block-109">
                  <div class="text-block-88">Sedex</div>
                  </div>
              </td>
              <td> <div id="w-node-c87d5464c2fd-d5be2cbd" class="div-block-110">
                <a  [routerLink]="['/sedex']" class="button-22">Editar</a></div></td>
            </tr>
            <tr>
              <td><div class="div-block-108"><img src="../../assets/images/pac-correios-logo.png" alt=""></div></td>
              <td><div id="w-node-d13fce968f08-d5be2cbd" class="div-block-109">
                <div class="text-block-88">PAC</div>
              </div>
              </td>
              <td> <div id="w-node-c87d5464c2fd-d5be2cbd" class="div-block-110">
                <a [routerLink]="['/pac']" class="button-22">Editar</a></div></td>
            </tr>
            <tr>
              <td><div class="div-block-108"><img src="../../assets/images/frenet.png" alt=""></div></td>
              <td><div id="w-node-d13fce968f08-d5be2cbd" class="div-block-109">
                <div class="text-block-88">Frenet</div>
              </div>
              </td>
              <td> <div id="w-node-c87d5464c2fd-d5be2cbd" class="div-block-110">
                <a [routerLink]="['/frenet']" class="button-22">Editar</a></div></td>
            </tr>
            <tr>
              <td><div class="div-block-108"><img src="../../assets/images/Melhor_Envio.png" alt=""></div></td>
              <td><div id="w-node-d13fce968f08-d5be2cbd" class="div-block-109">
                <div class="text-block-88">Melhor Envio</div>
              </div>
              </td>
              <td> <div id="w-node-c87d5464c2fd-d5be2cbd" class="div-block-110">
                <a [routerLink]="['/melhorenvio']"class="button-22 ">Editar</a></div></td>
            </tr>
            <tr>
              <td><div class="div-block-108"><img src="../../assets/images/delivery.png" alt=""></div></td>
              <td><div id="w-node-d13fce968f08-d5be2cbd" class="div-block-109">
                <div class="text-block-88">Motoboy</div>
              </div>
              </td>
              <td>
                <div id="w-node-c87d5464c2fd-d5be2cbd" class="div-block-110">
                   <a  [routerLink]="['/delivery']" class="button-22">Editar</a>
                </div>
              </td>
            </tr>
            <tr>
              <td><div class="div-block-108"><img src="../../assets/images/truck.png" alt=""></div></td>
              <td>
                <div id="w-node-d13fce968f08-d5be2cbd" class="div-block-109">
                  <div class="text-block-88">Transportadora</div>
                </div>
              </td>
              <td> <div id="w-node-c87d5464c2fd-d5be2cbd" class="div-block-110">
                <a [routerLink]="['/transportadora']" class="button-22">Editar</a></div></td>
            </tr>
            <tr>
              <td><div class="div-block-108"><img src="../../assets/images/retirar_pessoalmente.png" alt=""></div></td>
              <td>
                <div id="w-node-d13fce968f08-d5be2cbd" class="div-block-109">
                  <div class="text-block-88">Retirar Pessoalmente</div>
              </div>
              </td>
              <td>
                <div id="w-node-c87d5464c2fd-d5be2cbd" class="div-block-110">
                <a  [routerLink]="['/retirada']" class="button-22">Editar</a></div></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="container-19 _2 w-container">
    <div class="text-block-86">Configurações Gerais</div>
    <div class="form-block-7 w-form">
      <form id="email-form" name="email-form" data-name="Email Form">
        <div class="w-row">
          <div class="w-col w-col-6">
            <div><label for="name" class="field-label-8">Ativado</label></div>
          </div>
          <div class="w-col w-col-6"><select id="field-2" name="field-2" data-name="Field 2" class="select-field-7 w-select"><option value="Sim">Sim</option><option value="Não">Não</option></select></div>
        </div>
        <div class="div-block-105"></div>
        <div class="w-row">
          <div class="w-col w-col-6">
            <div><label for="name" class="field-label-8">CEP de origem</label></div>
          </div>
          <div class="w-col w-col-6"><input type="text" class="w-input" maxlength="256" name="CEP-de-origem" data-name="CEP de origem" id="CEP-de-origem" required=""></div>
        </div>
        <div class="div-block-105"></div>
        <div class="w-row">
          <div class="w-col w-col-6">
            <div><label for="name" class="field-label-8">Prazo Adicional</label></div>
          </div>
          <div class="w-col w-col-6">
            <select id="Prazo-Adicional" name="Prazo-Adicional" data-name="Prazo Adicional" class="w-select">
              <option value="Não">Não</option><option value="1 dia">1 dia</option><option value="2 dias">2 dias</option><option value="3 dias">3 dias</option></select></div>
        </div>
        <div class="div-block-105"></div>
        <div class="w-row">
          <div class="w-col w-col-6">
            <div><label for="name" class="field-label-8">Acrescentar ao Frete</label></div>
          </div>
          <div class="column-8 w-col w-col-6"><select id="Acrescentar-ao-Frete" name="Acrescentar-ao-Frete" data-name="Acrescentar ao Frete" class="select-field-8 w-select"><option value="Sem Acréscimo">Sem Acréscimo</option><option value="Valor Fixo">Valor Fixo (R$)</option></select>
            <div class="div-block-63">
              <div class="text-block-57">R$</div><input type="text" class="text-field-2 w-input" maxlength="256" name="field-2" data-name="Field 2" placeholder="00,00" id="field-2" required=""></div>
          </div>
        </div>
        <div class="div-block-105"></div>
        <div class="w-row">
          <div class="w-col w-col-6">
            <div><label for="name" class="field-label-8">Possuí contrato com correios?</label>
              <div class="text-block-84">Saiba o que é este contrato. <a href="#">Clicando aqui.</a></div>
            </div>
          </div>
          <div class="w-col w-col-6"><select id="field-2" name="field-2" data-name="Field 2" class="select-field-7 w-select"><option value="Sim">Sim</option><option value="Não">Não</option></select></div>
        </div>
        <div class="div-block-105"></div>
        <div class="div-block-111"><label for="name" class="field-label-8">Serviços Adicionais prestados pelo correios. <span class="text-span-12">Consulte junto ao correios o valor que será acrescentado ao frete de cada serviço.</span></label></div>
        <div class="div-block-105"></div><label class="w-checkbox checkbox-field-3"><input type="checkbox" id="checkbox" name="checkbox" data-name="Checkbox" class="w-checkbox-input"><span class="checkbox-label w-form-label">Entrega em mão própria</span><div class="text-block-85">O remetente recebe a garantia de que o objeto, por ele postado sob registro, será entregue somente ao próprio destinatário, através da confirmação de sua identidade.</div></label>
        <div class="div-block-105"></div><label class="w-checkbox checkbox-field-3"><input type="checkbox" id="checkbox-2" name="checkbox-2" data-name="Checkbox 2" class="w-checkbox-input"><span class="checkbox-label w-form-label">Declarar valor dos produtos</span><div class="text-block-85">É declarado o valor do objeto postado sob registro, para fins de ressacimento, em caso de extravio ou espoliação. Não é possível utilizar para compras abaixo de R$ 18,00.</div></label>
        <div class="div-block-105"></div><label class="w-checkbox checkbox-field-3"><input type="checkbox" id="checkbox-2" name="checkbox-2" data-name="Checkbox 2" class="w-checkbox-input"><span class="checkbox-label w-form-label">Aviso de recebimento</span><div class="text-block-85">Através do preenchimento de formulário próprio, físico ou digital, permite comprovar, junto ao remetente, a entrega do objeto.</div></label>
        <div class="div-block-105"></div>
        <div class="div-block-106"><input type="submit" value="Salvar Alterações" data-wait="Salvando..." class="submit-button-4 w-button"></div>
      </form>
      <div class="w-form-done">
        <div>Thank you! Your submission has been received!</div>
      </div>
      <div class="w-form-fail">
        <div>Oops! Something went wrong while submitting the form.</div>
      </div>
    </div>
  </div>
