.div-block-105{
    margin: 15px;
 

}
.div-block-107{
    padding-left: 10px;
}
.div-block-109{
    padding-left: 20px;
    margin-right: 415px;
}
.div-block-110 {
    padding: 15px;
}
.div-block-111 {
    padding-left: 20px;
    text-align: center;
    border-bottom: 1px solid #dadada;
}

img{
    padding: 10px;
    height: 96px;   
}
.text-block-84 {
    padding-bottom: 5px;
    color: #a1a1a1;
    font-size: 12px;
    line-height: 16px;
}
a {
    color: #002bff;
    text-decoration: underline;
}
.text-block-85{
    margin-left: 20px;
    color: #a1a1a1;
    font-size: 12px;
    line-height: 16px;
    padding-bottom: 10px;

}


.text-block-86{    

    padding-top: 25px;
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: 700;
}
.text-block-87{    
    padding-top: 10px;
    padding-bottom: 8px;
    padding-left: 10px;
    background-color: #eee;
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
}
.text-block-88{
    font-size: 18px;
    width: 175px;
}
.button-22 {
    padding: 11px 41px;
    background-color: #FF7B00;
    border-radius: 10px;
    margin-left: 3px;
    margin-right: 2px;
    color: #ffffff;
    text-decoration: none;
}
.w-row{
   
    border-bottom: 1px solid #dadada;
    padding-bottom: 7px;

}
.select-field-8{
    width: 300px;
    margin-right: 20px;
}
.div-block-63 {
   width: 145px;
}
.w-col-6{
    display: flex;
}
.text-span-12{
    color: #777;
    font-size: 11px;
    font-weight: 400;
}
.checkbox-field-3 {
    padding-left: 470px;
    border-bottom: 1px solid #dadada;
}
.checkbox-label{
    margin-left: 7px;
    font-weight: 700;
}

.w-button{
    margin-top: 20px;
    margin-bottom: 45px;
    margin-left: 742px;
    padding-right: 40px;
    padding-left: 40px;
    border-radius: 10px;
    background-color: #2eaa7f;
    font-weight: 700;
    text-align: center;
}
