<div class="div-block-3">
  <div class="container-2 w-container">
    <div data-collapse="medium" data-animation="default" data-duration="400" role="banner" class="navbar w-nav">
      <div class="w-container">
        <nav role="navigation" class="nav-menu w-nav-menu">
          <a [routerLink]="['/']"class="navlink w-nav-link">Início</a>
          <div data-hover="" data-delay="0" class="w-dropdown">
            <div class="dropdown-toggle w-dropdown-toggle">
              <div class="icon w-icon-dropdown-toggle"></div>
              <div class="text-block-75">Produtos</div>
            </div>
            <nav class="dropdown-list w-dropdown-list">
              <a [routerLink]="['/produtosform1']" class="dropdown-link w-dropdown-link">Cadastrar Produto</a>
              <a [routerLink]="['/servicosform1']" class="dropdown-link w-dropdown-link">Cadastrar Serviço</a>
              <a [routerLink]="['/categoriasform1']" class="dropdown-link w-dropdown-link">Cadastrar Categoria</a>
              <a [routerLink]="['/uploademmassa']" class="dropdown-link w-dropdown-link">Upload em Masssa</a>
              <a [routerLink]="['/anuncios']"class="dropdown-link w-dropdown-link">Anúncios</a>
              <a [routerLink]="['/categorias']" class="dropdown-link w-dropdown-link">Categorias</a>
            </nav>
          </div>
          <div data-hover="" data-delay="0" class="w-dropdown">
            <div class="dropdown-toggle w-dropdown-toggle">
              <div class="icon w-icon-dropdown-toggle"></div>
              <div class="text-block-75">Relatórios</div>
            </div>
            <nav class="dropdown-list w-dropdown-list">
              <a [routerLink]="['/pedidos']" class="dropdown-link w-dropdown-link">Pedidos</a>
              <a [routerLink]="['/exportar-receba-novidades']"  class="dropdown-link w-dropdown-link">Exportar Receba Novidades</a></nav>
          </div>
          <div data-hover="" data-delay="0" class="w-dropdown">
            <div class="dropdown-toggle w-dropdown-toggle">
              <div class="icon w-icon-dropdown-toggle"></div>
              <div class="text-block-75">Configurações</div>
            </div>
            <nav class="dropdown-list w-dropdown-list">
              <a [routerLink]="['/configuracoes']" class="dropdown-link w-dropdown-link">Gerais</a>
              <a [routerLink]="['/configsobrenos']" class="dropdown-link w-dropdown-link">Sobre Nós</a>
              <a [routerLink]="['/configprivacidade']" class="dropdown-link w-dropdown-link">Política de Privacidade</a>
              <a [routerLink]="['/politicaentrega']" class="dropdown-link w-dropdown-link">Política Entrega,Troca e Devolução</a>
              <a [routerLink]="['/visualetexto']" class="dropdown-link w-dropdown-link">Visuais e Textos</a>
              <a [routerLink]="['/faq']" aria-current="page" class="dropdown-link w-dropdown-link w--current">Perguntas Frequentes</a>
            </nav>
          </div>
          <a [routerLink]="['/ecommerce']" class="navlink w-nav-link">E-Commerce</a>
          <div data-hover="" data-delay="0" class="w-dropdown">
            <div class="dropdown-toggle w-dropdown-toggle">
              <div class="icon w-icon-dropdown-toggle"></div>
              <div class="text-block-75">Clientes</div>
            </div>
            <nav class="dropdown-list w-dropdown-list">
              <a [routerLink]="['/clienteavalia']" class="dropdown-link w-dropdown-link">Avaliações</a>
              <a [routerLink]="['/clientemsg']" class="dropdown-link w-dropdown-link">Mensagens</a>
            </nav>       

            </div>

            <div data-hover="" data-delay="0" class="w-dropdown">
              <div class="dropdown-toggle w-dropdown-toggle">
                <div class="icon w-icon-dropdown-toggle"></div>
                <div class="text-block-75">Novas</div>
              </div>
              <nav class="dropdown-list w-dropdown-list">
                <a [routerLink]="['/error401']" class="dropdown-link w-dropdown-link">Erro 401</a>
                <a [routerLink]="['/error404']" class="dropdown-link w-dropdown-link">Erro 404</a>
                <a [routerLink]="['/sobrenos']" class="dropdown-link w-dropdown-link">Sobre Nós</a>
                <a [routerLink]="['/privacidade']" class="dropdown-link w-dropdown-link">Política de Privacidade</a>
                <a [routerLink]="['/cadastrarempresa']" class="dropdown-link w-dropdown-link">Cadastrar nova empresa</a>
                <a [routerLink]="['/cadastrarusuario']" class="dropdown-link w-dropdown-link">Cadastrar novo usuário</a>
                <a [routerLink]="['/centraldeajuda']" class="dropdown-link w-dropdown-link">Central de ajuda</a>
                <a [routerLink]="['/centraldeajudainterna']" class="dropdown-link w-dropdown-link">Central de ajuda interna</a>


                <a [routerLink]="['/areadeentrega']" class="dropdown-link w-dropdown-link">Area de entrega</a>

                <a [routerLink]="['/pedidosdetalhes']" class="dropdown-link w-dropdown-link">Pedidos Detalhes</a>
                <a [routerLink]="['/registro1']" class="dropdown-link w-dropdown-link">Registro</a>

                                
              </nav>
                
  
              </div>
          
        </nav>
        <div class="w-nav-button">
          <div class="w-icon-nav-menu"></div>
        </div>
      </div>
    </div>
  </div>
</div>
