:host ::ng-deep .ck-editor__editable_inline {
  height: 200px;
  width: 600px;
  align-self: center;
  margin-left: 25%;
}
:host ::ng-deep .ck-toolbar {
  align-self: center;
  width: 600px;
  margin-left: 25%;
}
.div-block-115 {
  text-align: right;
}

.submit-button-4 {
  margin-top: 20px;
  padding-right: 40px;
  padding-left: 40px;
  border-radius: 10px;
  background-color: #2eaa7f;
  font-weight: 700;
  text-align: center;
}
.div-block-105 {
  height: 1px;
  margin-top: 7px;
  margin-bottom: 15px;
  background-color: #e7e7e7;
}

.text-block-85 {
  padding-bottom: 5px;
  color: #a1a1a1;
  font-size: 12px;
  line-height: 16px;
}
label {
   margin-bottom: 0px;
}
.text-block-41 {
  margin-bottom: 60px;
}
.w-form {
  margin: 0 0 15px;
  margin-top: 15px;
}