<div class="abidine-admin-menu">
    <div class="div-block-2">
      <div class="container-3 w-container"><img src="images/Logo---Top-Bar.png" alt="" class="image">
        <div class="div-block-6">
          <div class="text-block-3">Olá, <strong>Lorem Ipsum</strong></div><img src="images/Foto-Perfil---Top-Bar.png" alt=""></div>
      </div>
    </div>
    <div class="div-block-3">
      <div class="container-2 w-container">
        <div data-collapse="medium" data-animation="default" data-duration="400" role="banner" class="navbar w-nav">
          <div class="w-container">
            <nav role="navigation" class="nav-menu w-nav-menu"><a href="index.html" class="navlink w-nav-link">Início</a>
              <div data-hover="" data-delay="0" class="w-dropdown">
                <div class="dropdown-toggle w-dropdown-toggle">
                  <div class="icon w-icon-dropdown-toggle"></div>
                  <div class="text-block-75">Produtos</div>
                </div>
                <nav class="dropdown-list w-dropdown-list"><a href="cadastrar-produto-passo-1.html" class="dropdown-link w-dropdown-link">Cadastrar Produto</a><a href="cadastrar-servico-passo-1.html" class="dropdown-link w-dropdown-link">Cadastrar Serviço</a><a href="cadastrar-categoria-1.html" class="dropdown-link w-dropdown-link">Cadastrar Categoria</a><a href="untitled.html" class="dropdown-link w-dropdown-link">Upload em Masssa</a><a href="lista-de-anuncios.html" class="dropdown-link w-dropdown-link">Anúncios</a><a href="lista-de-categorias.html" class="dropdown-link w-dropdown-link">Categorias</a></nav>
              </div>
              <div data-hover="" data-delay="0" class="w-dropdown">
                <div class="dropdown-toggle w-dropdown-toggle">
                  <div class="icon w-icon-dropdown-toggle"></div>
                  <div class="text-block-75">Relatórios</div>
                </div>
                <nav class="dropdown-list w-dropdown-list"><a href="pedidos.html" class="dropdown-link w-dropdown-link">Pedidos</a><a href="exportar-receba-novidades.html" class="dropdown-link w-dropdown-link">Exportar Receba Novidades</a></nav>
              </div>
              <div data-hover="" data-delay="0" class="w-dropdown">
                <div class="dropdown-toggle w-dropdown-toggle">
                  <div class="icon w-icon-dropdown-toggle"></div>
                  <div class="text-block-75">Configurações</div>
                </div>
                <nav class="dropdown-list w-dropdown-list"><a href="configuracoes.html" class="dropdown-link w-dropdown-link">Gerais</a><a href="configuracoes-sobre-nos.html" class="dropdown-link w-dropdown-link">Sobre Nós</a><a href="configuracoes-politica-de-privavidade.html" class="dropdown-link w-dropdown-link">Política de Privacidade</a><a href="configuracoes-politica-entrega-troca-e-devolucao.html" class="dropdown-link w-dropdown-link">Política Entrega,Troca e Devolução</a><a href="configuracoes-visual-e-textos.html" class="dropdown-link w-dropdown-link">Visuais e Textos</a><a href="configuracoes-perguntas-frequentes.html" class="dropdown-link w-dropdown-link">Perguntas Frequentes</a></nav>
              </div><a href="e-commerce.html" class="navlink w-nav-link">E-Commerce</a>
              <div data-hover="" data-delay="0" class="w-dropdown">
                <div class="dropdown-toggle w-dropdown-toggle">
                  <div class="icon w-icon-dropdown-toggle"></div>
                  <div class="text-block-75">Clientes</div>
                </div>
                <nav class="dropdown-list w-dropdown-list"><a href="avaliacoes-de-clientes.html" class="dropdown-link w-dropdown-link">Avaliações</a><a href="mensagens-de-clientes.html" class="dropdown-link w-dropdown-link">Mensagens</a></nav>
              </div>
            </nav>
            <div class="w-nav-button">
              <div class="w-icon-nav-menu"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-19">
    <div class="container-6 w-container">
      <div class="w-layout-grid grid-7">
        <div class="text-block-21">Gerenciar &gt; Todos Produtos</div>
        <div class="text-block-20">Hoje, <strong>22</strong> de <strong>Abril</strong> de <strong>2019</strong></div>
      </div>
    </div>
    <div class="w-container">
      <div class="div-block-70">
        <div class="w-form">
          <form id="email-form" name="email-form" data-name="Email Form">
            <div class="div-block-85">
              <div class="div-block-27"><input type="text" class="text-field _2 busca w-input" maxlength="256" name="name-5" data-name="Name 5" placeholder="" id="name-5">
                <div class="div-block-28"><img src="images/064-magnifying-glass-searcher.png" srcset="images/064-magnifying-glass-searcher-p-500.png 500w, images/064-magnifying-glass-searcher.png 512w" sizes="30px" alt="" class="image-3"></div>
              </div><a href="cadastrar-nova-empresa.html" class="button-17 w-button">Nova Empresa</a></div>
          </form>
          <div class="w-form-done">
            <div>Thank you! Your submission has been received!</div>
          </div>
          <div class="w-form-fail">
            <div>Oops! Something went wrong while submitting the form.</div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-11 w-container">
      <div class="w-layout-grid grid-28 _2">
        <div class="div-block-86 mobile-ocultar">
          <div>Empresa</div>
        </div>
        <div id="w-node-31348062e560-058a513c" class="div-block-86"></div>
        <div class="div-block-86 ocultar">
          <div>Sobre a Empresa</div>
        </div>
        <div id="w-node-37cca42ebb4f-058a513c" class="div-block-86">
          <div>Faturamento (30 Dias)</div>
        </div>
        <div id="w-node-ef1cea1be849-058a513c" class="div-block-86">
          <div>Status</div>
        </div>
        <div class="div-block-87 mobile-ocultar"><img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" alt=""></div>
        <div id="w-node-a3feb08c7c52-058a513c" class="div-block-87">
          <div class="text-block-78">Lorem Ipsum</div>
        </div>
        <div class="div-block-87 ocultar">
          <div>lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ornare eleifend justo, vestibulum congue neque gravida vitae. Etiam consequat, leo non pulvinar pharetra...</div>
        </div>
        <div class="div-block-87">
          <div class="text-block-79">R$ 999,00</div>
        </div>
        <div id="w-node-d25b5f2514c7-058a513c" class="div-block-87">
          <div class="form-block-4 w-form">
            <form id="email-form-2" name="email-form-2" data-name="Email Form 2"><select id="field-3" name="field-3" data-name="Field 3" class="select-field-6 w-select"><option value="Ativo">Ativo</option><option value="Inativo">Inativo</option></select></form>
            <div class="success-message w-form-done">
              <div>Thank you! Your submission has been received!</div>
            </div>
            <div class="error-message w-form-fail">
              <div>Oops! Something went wrong while submitting the form.</div>
            </div>
          </div>
        </div>
        <div class="div-block-87 _2"><a href="detalhes-sobre-a-empresa.html" class="w-inline-block"><img src="images/zoom-in.png" width="30" srcset="images/zoom-in-p-500.png 500w, images/zoom-in.png 512w" sizes="(max-width: 479px) 38vw, 30px" alt="" class="image-6"></a></div>
        <div class="div-block-87 mobile-ocultar"><img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" alt=""></div>
        <div id="w-node-3df6a4db316b-058a513c" class="div-block-87">
          <div class="text-block-78">Lorem Ipsum</div>
        </div>
        <div class="div-block-87 ocultar">
          <div>lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ornare eleifend justo, vestibulum congue neque gravida vitae. Etiam consequat, leo non pulvinar pharetra...</div>
        </div>
        <div class="div-block-87">
          <div class="text-block-79">R$ 999,00</div>
        </div>
        <div id="w-node-a157f49e52d9-058a513c" class="div-block-87">
          <div class="form-block-4 w-form">
            <form id="email-form-2" name="email-form-2" data-name="Email Form 2"><select id="field-3" name="field-3" data-name="Field 3" class="select-field-6 w-select"><option value="Ativo">Ativo</option><option value="Inativo">Inativo</option></select></form>
            <div class="success-message w-form-done">
              <div>Thank you! Your submission has been received!</div>
            </div>
            <div class="error-message w-form-fail">
              <div>Oops! Something went wrong while submitting the form.</div>
            </div>
          </div>
        </div>
        <div class="div-block-87 _2"><a href="detalhes-sobre-a-empresa.html" class="w-inline-block"><img src="images/zoom-in.png" width="30" srcset="images/zoom-in-p-500.png 500w, images/zoom-in.png 512w" sizes="(max-width: 479px) 38vw, 30px" alt="" class="image-6"></a></div>
        <div class="div-block-87 mobile-ocultar"><img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" alt=""></div>
        <div id="w-node-44c63d103dd0-058a513c" class="div-block-87">
          <div class="text-block-78">Lorem Ipsum</div>
        </div>
        <div class="div-block-87 ocultar">
          <div>lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ornare eleifend justo, vestibulum congue neque gravida vitae. Etiam consequat, leo non pulvinar pharetra...</div>
        </div>
        <div class="div-block-87">
          <div class="text-block-79">R$ 999,00</div>
        </div>
        <div id="w-node-ad4362880dfc-058a513c" class="div-block-87">
          <div class="form-block-4 w-form">
            <form id="email-form-2" name="email-form-2" data-name="Email Form 2"><select id="field-3" name="field-3" data-name="Field 3" class="select-field-6 w-select"><option value="Ativo">Ativo</option><option value="Inativo">Inativo</option></select></form>
            <div class="success-message w-form-done">
              <div>Thank you! Your submission has been received!</div>
            </div>
            <div class="error-message w-form-fail">
              <div>Oops! Something went wrong while submitting the form.</div>
            </div>
          </div>
        </div>
        <div class="div-block-87 _2"><a href="detalhes-sobre-a-empresa.html" class="w-inline-block"><img src="images/zoom-in.png" width="30" srcset="images/zoom-in-p-500.png 500w, images/zoom-in.png 512w" sizes="(max-width: 479px) 38vw, 30px" alt="" class="image-6"></a></div>
        <div class="div-block-87 mobile-ocultar"><img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" alt=""></div>
        <div id="w-node-1eef937a469d-058a513c" class="div-block-87">
          <div class="text-block-78">Lorem Ipsum</div>
        </div>
        <div class="div-block-87 ocultar">
          <div>lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ornare eleifend justo, vestibulum congue neque gravida vitae. Etiam consequat, leo non pulvinar pharetra...</div>
        </div>
        <div class="div-block-87">
          <div class="text-block-79">R$ 999,00</div>
        </div>
        <div id="w-node-aaf624076ac4-058a513c" class="div-block-87">
          <div class="form-block-4 w-form">
            <form id="email-form-2" name="email-form-2" data-name="Email Form 2"><select id="field-3" name="field-3" data-name="Field 3" class="select-field-6 w-select"><option value="Ativo">Ativo</option><option value="Inativo">Inativo</option></select></form>
            <div class="success-message w-form-done">
              <div>Thank you! Your submission has been received!</div>
            </div>
            <div class="error-message w-form-fail">
              <div>Oops! Something went wrong while submitting the form.</div>
            </div>
          </div>
        </div>
        <div class="div-block-87 _2"><a href="detalhes-sobre-a-empresa.html" class="w-inline-block"><img src="images/zoom-in.png" width="30" srcset="images/zoom-in-p-500.png 500w, images/zoom-in.png 512w" sizes="(max-width: 479px) 38vw, 30px" alt="" class="image-6"></a></div>
        <div class="div-block-87 mobile-ocultar"><img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" alt=""></div>
        <div id="w-node-1039fe3af491-058a513c" class="div-block-87">
          <div class="text-block-78">Lorem Ipsum</div>
        </div>
        <div class="div-block-87 ocultar">
          <div>lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ornare eleifend justo, vestibulum congue neque gravida vitae. Etiam consequat, leo non pulvinar pharetra...</div>
        </div>
        <div class="div-block-87">
          <div class="text-block-79">R$ 999,00</div>
        </div>
        <div id="w-node-d69ceed8dd66-058a513c" class="div-block-87">
          <div class="form-block-4 w-form">
            <form id="email-form-2" name="email-form-2" data-name="Email Form 2"><select id="field-3" name="field-3" data-name="Field 3" class="select-field-6 w-select"><option value="Ativo">Ativo</option><option value="Inativo">Inativo</option></select></form>
            <div class="success-message w-form-done">
              <div>Thank you! Your submission has been received!</div>
            </div>
            <div class="error-message w-form-fail">
              <div>Oops! Something went wrong while submitting the form.</div>
            </div>
          </div>
        </div>
        <div class="div-block-87 _2"><a href="detalhes-sobre-a-empresa.html" class="w-inline-block"><img src="images/zoom-in.png" width="30" srcset="images/zoom-in-p-500.png 500w, images/zoom-in.png 512w" sizes="(max-width: 479px) 38vw, 30px" alt="" class="image-6"></a></div>
      </div>
    </div>
    <div class="container-8 w-container">
      <div class="div-block-32">
        <div class="div-block-33">
          <div>&lt;</div>
        </div>
        <div class="div-block-33">
          <div>1</div>
        </div>
        <div class="div-block-33">
          <div>2</div>
        </div>
        <div class="div-block-33">
          <div>3</div>
        </div>
        <div class="div-block-33">
          <div>4</div>
        </div>
        <div class="div-block-33">
          <div>5</div>
        </div>
        <div class="div-block-33">
          <div>6</div>
        </div>
        <div class="div-block-33">
          <div>&gt;</div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-4">
    <div class="container-5 w-container">
      <div class="div-block-25"><img src="images/Logo---Top-Bar.png" width="194" alt="">
        <div class="text-block-19">I All Rights Reserved Copyright 2019</div>
      </div>
      <div class="div-block-26"><a href="#" class="link-3"> Sobre I</a><a href="#" class="link-3">Privacidade I </a><a href="#" class="link-3 _2">Central de Ajuda </a></div>
    </div>
  </div>
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=5ec829d6c4dfffb40b021510" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="js/webflow.js" type="text/javascript"></script>