h1 {
    font-size: 2em;
    margin: 0.67em 0;
    margin-bottom: 10px;
}
.div-block-28 {
    margin-bottom: 17px;
}
.heading {
    margin-top: 10px;
    color: #ff8400;
    font-size: 32px;
    line-height: 40px;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}