
    <div class="container-6 w-container">
      <div class="w-layout-grid grid-7">
        <div class="text-block-21">Vendas &gt; Pedidos</div>
        <div class="text-block-20">Hoje, <strong>{{myDate}}</strong></div>
      </div>
    </div>
    <div class="w-container">
      <h1 class="heading">Todos os Pedidos</h1>
      <div class="w-form">
        <form id="email-form" name="email-form" data-name="Email Form">
          <div class="w-layout-grid grid-8">
            <div id="w-node-b22ee9dbd8c6-3c489160"><label for="name">Data de início</label>
              <div class="div-block-27"><input type="number" class="text-field w-input" maxlength="256" name="name" data-name="Name" placeholder="" id="name">
                <div class="div-block-28"><img src="../../assets/images/calendar.png" alt="" class="image-3"></div>
              </div>
            </div>
            <div id="w-node-89536a6fa748-3c489160" class="div-block-88"><label for="name-2">Data de Termino</label>
              <div class="div-block-27"><input type="number" class="text-field w-input" maxlength="256" name="name-3" data-name="Name 3" placeholder="" id="name-3">
                <div class="div-block-28"><img src="../../assets/images/calendar.png" alt="" class="image-3"></div>
              </div>
            </div>
            <div id="w-node-74e9991bee98-3c489160"><label for="name-3">Status do Pedido</label>
              <select id="field" name="field" class="select-field w-select">
                <option value="">Processando</option>
                <option value="First">Aguardando Envio</option>
                <option value="Second"> </option><option value="Third">Completa</option>
              </select>
            </div>
            <div id="w-node-e3d7b005e72b-3c489160"><label for="name-3">Pesquisa por Número do Pedido</label>
              <div class="div-block-27"><input type="number" class="text-field w-input" maxlength="256" name="name-4" data-name="Name 4" placeholder="" id="name-4">
                <div class="div-block-28"><img src="../../assets/images/064-magnifying-glass-searcher.png" srcset="../../assets/images/064-magnifying-glass-searcher-p-500.png 500w, ../../assets/images/064-magnifying-glass-searcher.png 512w" sizes="30px" alt="" class="image-3"></div>
              </div>
            </div>
            <div id="w-node-2252c575b043-3c489160"><label for="name-3">Pesquisa por Nome do Produto</label>
              <div class="div-block-27"><input type="text" class="text-field _2 w-input" maxlength="256" name="name-5" data-name="Name 5" placeholder="" id="name-5">
                <div class="div-block-28"><img src="../../assets/images/064-magnifying-glass-searcher.png" srcset="../../assets/images/064-magnifying-glass-searcher-p-500.png 500w, ../../assets/images/064-magnifying-glass-searcher.png 512w" sizes="30px" alt="" class="image-3"></div>
              </div>
            </div>
          </div>
        </form>
        <div class="w-form-done">
          <div>Thank you! Your submission has been received!</div>
        </div>
        <div class="w-form-fail">
          <div>Oops! Something went wrong while submitting the form.</div>
        </div>
      </div>
    </div>
    <div class="container-7 w-container">
      <div class="w-layout-grid grid-9" *ngFor="let order of orders">
        <div id="w-node-8785bb7b6339-3c489160" class="div-block-29">
          <div>Nome</div>
        </div>
        <div id="w-node-66095c0ce6be-3c489160" class="div-block-29 oculto">
          <div>Unid</div>
        </div>
        <div id="w-node-6e28ab4dfbe9-3c489160" class="div-block-29 oculto">
          <div>Valor</div>
        </div>
        <div id="w-node-eb74e163f323-3c489160" class="div-block-29">
          <div>Data Aprovação</div>
        </div>
        <div id="w-node-a56ffa0022d8-3c489160" class="div-block-29 oculto">
          <div>Status</div>
        </div>
        <div id="w-node-9a3cc84301b8-3c489160" class="div-block-29">
          <div>Opções</div>
        </div>

        <div id="w-node-8cc4ba93f311-3c489160" class="div-block-29">
          <div>No do Pedido</div>
        </div>
        <div id="w-node-9aa9bbe82c45-3c489160" class="div-block-30 oculo">
          <div class="text-block-22">{{order._id}}</div>
        </div>
        <div id="w-node-0fd696df8399-3c489160" class="div-block-30 oculo">
          <div class="text-block-22">R$ 2000,00</div>
        </div>
        <div id="w-node-6d09df831574-3c489160" class="div-block-30">
          <div class="text-block-22">{{order.createdAt}}</div>
        </div>
        <div id="w-node-0807e3151bf0-3c489160" class="div-block-30 oculo">
          <div class="text-block-22">{{order.status}}</div>
        </div>
        <div id="w-node-62a6c06601c6-3c489160" class="div-block-30 _2">
          <div class="div-block-31"><img src="../../assets/images/attention.png" srcset="images/attention-p-500.png 500w, images/attention.png 512w" sizes="(max-width: 991px) 14px, 1vw" alt=""></div>
          <div class="div-block-31 ocultar"><img src="../../assets/images/026-comment.png" srcset="images/026-comment-p-500.png 500w, images/026-comment.png 512w" sizes="(max-width: 479px) 100vw, (max-width: 991px) 14px, 1vw" alt=""></div>
          <div class="div-block-31 ocultar"><img src="../../assets/images/printer-printing-document.png" srcset="images/printer-printing-document-p-500.png 500w, images/printer-printing-document.png 512w" sizes="(max-width: 479px) 100vw, (max-width: 991px) 14px, 1vw" alt=""></div>
          <div class="div-block-31"><img src="../../assets/images/zoom-in.png" srcset="../../assets/images/zoom-in-p-500.png 500w, ../../assets/images/zoom-in.png 512w" sizes="(max-width: 991px) 14px, 1vw" alt=""></div>
        </div>
        <div id="w-node-9200686fb496-3c489160" class="div-block-30">
          <div class="text-block-22">{{order._id}}</div>
        </div>
        <div id="w-node-110b19c28f07-3c489160" class="div-block-30">
          <div class="text-block-22">Lorem Ipsum 1234</div>
        </div>
      </div>
      <div class="div-block-32">
        <div class="div-block-33">
          <div>&lt;</div>
        </div>
        <div class="div-block-33">
          <div>1</div>
        </div>
        <div class="div-block-33">
          <div>2</div>
        </div>
        <div class="div-block-33">
          <div>3</div>
        </div>
        <div class="div-block-33">
          <div>4</div>
        </div>
        <div class="div-block-33">
          <div>5</div>
        </div>
        <div class="div-block-33">
          <div>6</div>
        </div>
        <div class="div-block-33">
          <div>&gt;</div>
        </div>
      </div>
    </div>


