
  <div>
    <div class="container-6 w-container">
      <div class="w-layout-grid grid-7">
        <div class="text-block-21">Início &gt; Configurações &gt; Sobre Nós</div>
        <div class="text-block-20">Hoje, <strong>{{myDate }}</strong></div>
      </div>
    </div>
    <div class="container-14 w-container">
      <div class="text-block-41">Sobre Nós</div>
    </div>
  </div>

  <ckeditor [editor]="ClassicEditorBuild" (ready)="onReady($event)"></ckeditor>

  <div class="container-19 _1 w-container">
    <div class="form-block-7 w-form">
        <div class="div-block-105"></div>
        <div class="text-block-87 _45">SEO</div>
        <div class="w-row">
          <div class="column-7 w-col w-col-6">
            <div><label for="name" class="field-label-8">Meta Tag Description</label></div>
          </div>
          <div class="w-col w-col-6">
            <textarea placeholder="Exemplo" maxlength="5000" id="field" name="field" data-name="Field" class="w-input"></textarea>
          </div>
        </div>
        <div class="div-block-105"></div>
        <div class="w-row">
          <div class="column-7 w-col w-col-6">
            <div><label for="name" class="field-label-8">Meta Tag Keywords</label>
              <div class="text-block-85">Separe as Palavras por Vírgula.</div>
            </div>
          </div>
          <div class="w-col w-col-6">
            <input type="text" class="w-input" maxlength="256" name="meta-tag" data-name="Meta Tag" placeholder="tag, tag, tag" id="meta-tag" required="">
          </div>
        </div>
        <div class="div-block-105">
          <div class="w-row">
            <div class="column-7 w-col w-col-6">
              <div><label for="name" class="field-label-8">Tag Title</label></div>
            </div>
            <div class="w-col w-col-6">
              <input type="text" class="w-input" maxlength="256" name="Endere-o" data-name="Endere O" placeholder="Exemplo" id="Endere-o" required=""></div>
          </div>
        </div>
        <div class="div-block-115"><input (click)="savePage()" type="submit" value="Salvar Alterações" data-wait="Salvando..." class="submit-button-4 w-button"></div>

    </div>
  </div>
