
<div class="container-6 w-container">
  <div class="w-layout-grid grid-7">
    <div class="text-block-21">Início &gt; E-Commerce &gt; PAC</div>
    <div class="text-block-20">Hoje, <strong>{{myDate}}</strong></div>
  </div>
</div>
<div class="container-19 _2 w-container">
  <div class="text-block-41">E-Commerce - PAC</div>
  <div class="div-block-40 _2 _24 _6">
    <div><img src="../../assets/images/pac-correios-logo.png" alt=""></div>
    <p class="paragraph-7">Com a proposta de ser mais rápido que o PAC, o formato mais antigo de Sedex – também conhecido como “Sedex normal” – efetua entregas de segunda a sábado em quase todos os municípios do Brasil. Em algumas localidades, funciona apenas de segunda a sexta.</p>
  </div>
  <div class="div-block-107 _4">
    <div>Forma de Envio</div>
  </div>
  <div class="form-block-7 w-form">
    <form id="email-form" name="email-form" data-name="Email Form">
      <div class="w-row">
        <div class="w-col w-col-6">
          <div><label for="name" class="field-label-8">Ativado</label></div>
        </div>
        <div class="w-col w-col-6">
          <select id="field-2" name="field-2" data-name="Field 2" class="select-field-7 w-select"
          [(ngModel)]="method.active" >
          <option value=true>Sim</option><option value=false>Não</option></select></div>
      </div>
      <div class="div-block-105"></div>
      <div class="w-row">
        <div class="w-col w-col-6">
          <div><label for="name" class="field-label-8">CEP de origem</label></div>
        </div>
        <div class="w-col w-col-6"><input type="number" class="w-input" maxlength="256" name="CEP-de-origem" data-name="CEP De Origem" id="CEP-de-origem" required=""
          [(ngModel)]="method.ceporigem"></div>
      </div>
      <div class="div-block-105"></div>
      <div class="w-row">
        <div class="w-col w-col-6">
          <div><label for="name" class="field-label-8">Prazo Adicional</label></div>
        </div>
        <div class="w-col w-col-6">
          <select id="Prazo-Adicional" name="Prazo-Adicional" data-name="Prazo Adicional" class="w-select"
          [(ngModel)]="method.addtime" >
          <option value=0>Não</option><option value=1>1 dia</option><option value=2>2 dias</option><option value=3>3 dias</option></select></div>
      </div>
      <div class="div-block-105"></div>
      <div class="w-row">
        <div class="w-col w-col-6">
          <div><label for="name" class="field-label-8">Acrescentar ao Frete</label></div>
        </div>
        <div class="column-8 w-col w-col-6">
          <select [(ngModel)]="method.addextrafreightvalue" id="Acrescentar-ao-Frete" name="Acrescentar-ao-Frete" data-name="Acrescentar Ao Frete" class="select-field-8 w-select">
            <option value=false>Sem Acréscimo</option><option value=true>Valor Fixo (R$)</option></select>
          <div class="div-block-63">
            <div class="text-block-57">R$</div>
            <input type="number" class="text-field-2 w-input" maxlength="256" name="field-2" data-name="Field 2" placeholder="00,00" id="field-2" required=""
            [(ngModel)]="method.extrafreightvalue" ></div>
        </div>
      </div>
      <div class="div-block-105"></div>
      <div class="w-row">
        <div class="w-col w-col-6">
          <div><label for="name" class="field-label-8">Valor Mínimo</label>
            <div class="text-block-85">Informe o valor mínimo para exibir esta forma de envio.</div>
          </div>
        </div>
        <div class="column-8 w-col w-col-6">
          <div class="div-block-63">
            <div class="text-block-57">R$</div>
            <input type="number" class="text-field-2 w-input" maxlength="256" name="field-2" data-name="Field 2" placeholder="00,00" id="field-2" required=""
            [(ngModel)]="method.minvalue"></div>
        </div>
      </div>
      <div class="div-block-105"></div>
      <div class="w-row">
        <div class="w-col w-col-6">
          <div><label for="name" class="field-label-8">Token</label>
            <div class="text-block-85">Acesse o painel de controle e obtenha seu token em &quot;Dados Cadastrais&quot;<a href="#"></a></div>
          </div>
        </div>
        <div class="w-col w-col-6"><input type="text" class="w-input" maxlength="256" name="CEP-de-origem-2" data-name="CEP De Origem 2" id="CEP-de-origem-2" required=""></div>
      </div>
      <div class="div-block-105"></div>
      <div class="div-block-106">
        <input type="submit" value="Salvar Alterações" data-wait="Salvando..." class="submit-button-4 w-button"
        (click)="update()"></div>
    </form>
    <div class="w-form-done">
      <div>Thank you! Your submission has been received!</div>
    </div>
    <div class="w-form-fail">
      <div>Oops! Something went wrong while submitting the form.</div>
    </div>
  </div>
</div>

