<div class="div-block-98">
    <div class="container-16 w-container">
      <div class="div-block-101">
        <div class="div-block-100"><img src="images/close.png" width="15" data-w-id="7acdc7aa-07c0-ecd4-1c47-db9c8fe68090" alt="" class="image-11"></div>
        <div class="div-block-99">
          <div class="text-block-80">Reportar Erro</div>
          <div class="form-block-6 w-form">
            <form id="email-form-2" name="email-form-2" data-name="Email Form 2"><label for="name-2">Famacêutico Responsavél</label><input type="text" class="w-input" maxlength="256" name="name-2" data-name="Name 2" placeholder="" id="name-2"><label for="email-2">Mensagem</label><textarea placeholder="Example Text" maxlength="5000" id="field" name="field" class="w-input"></textarea><input type="submit" value="Enviar" data-wait="Please wait..." class="submit-button-3 w-button"></form>
            <div class="w-form-done">
              <div>Thank you! Your submission has been received!</div>
            </div>
            <div class="w-form-fail">
              <div>Oops! Something went wrong while submitting the form.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="container-6 w-container">
      <div class="w-layout-grid grid-7">
        <div class="text-block-21">Vendas &gt; Pedidos &gt; Lista de Pedidos</div>
        <div class="text-block-20">Hoje, <strong>{{myDate}}</strong></div>
      </div>
    </div>
    <div class="w-container">
      <div data-duration-in="300" data-duration-out="100" class="w-tabs">
        <div class="tabs-menu w-tab-menu">
          <a data-w-tab="Tab 1" class="tab-link-tab-1 w-inline-block w-tab-link">
            <div><strong>Detalhes</strong> do Pedido</div>
          </a>
          <a data-w-tab="Tab 2" class="tab-link-tab-2 w-inline-block w-tab-link">
            <div><strong>Acompanhe</strong> o Pedido</div>
          </a>
          <a data-w-tab="Tab 3" class="tab-link-tab-2 w-inline-block w-tab-link w--current">
            <div><strong>Receita</strong> de Medicamento</div>
          </a>
        </div>
        <div class="w-tab-content">
          <div data-w-tab="Tab 1" class="w-tab-pane">
            <div class="w-layout-grid grid-10">
              <div id="w-node-9941c36957ea-5b57ab91"><img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" width="203" alt=""></div>
              <div id="w-node-8d3543d8eaf1-5b57ab91">
                <div class="text-block-23"><strong>#00000000000 </strong>- Nome do Produto</div>
                <div class="text-block-24"><strong>Quantidade:</strong> 1 Unid.<br><strong>Cód. SKU:</strong> 186854<br><br><strong>Data do pedido: </strong>10/10/2010<br><strong>Data de Aprovação:</strong> 10/10/2010<br><strong>Última Atualização:</strong> 10/10/2010</div>
              </div>
              <div id="w-node-8f80be69ab21-5b57ab91" class="div-block-34"><a href="#" class="button w-button">Imprimir Etiqueta</a></div>
              <div id="w-node-3af53ae88393-5b57ab91" class="div-block-89">
                <div class="div-block-35">
                  <div class="div-block-35 _2"></div>
                </div>
                <div class="w-layout-grid grid-11">
                  <div id="w-node-339272596841-5b57ab91" class="text-block-31">I</div>
                  <div class="text-block-31">I</div>
                  <div class="text-block-31">I</div>
                  <div class="text-block-31">I</div>
                  <div class="text-block-31">I</div>
                  <div class="text-block-31">I</div>
                  <div class="text-block-31">I</div>
                  <div class="text-block-31 _2">Pedido Realizado</div>
                  <div class="text-block-30">Pagamento Aprovado</div>
                  <div class="text-block-25">Nota Fiscal</div>
                  <div class="text-block-26">Despacho Efetuado</div>
                  <div class="text-block-27">Pedido em Trânsito</div>
                  <div class="text-block-28">Entrega Concluída</div>
                  <div class="text-block-29">Pagamento Liberado</div>
                </div>
              </div>
            </div>
            <div class="w-layout-grid grid-12">
              <div id="w-node-cc5acbcd6d1f-5b57ab91">
                <div class="text-block-32">Informações de Envio</div>
                <div class="w-layout-grid grid-13">
                  <div class="text-block-34">Forma de Envio</div>
                  <div class="text-block-33">PAC Correios</div>
                  <div class="text-block-34">Código de Rastreio</div>
                  <div class="text-block-33">OAIHFOFIHFOIHFOI</div>
                  <div class="text-block-34">Data de Postagem</div>
                  <div class="text-block-33">10/10/2010</div>
                  <div class="text-block-34">Previsão de Entrega</div>
                  <div class="text-block-33">11/10/2010</div>
                  <div class="text-block-34">Transportadora</div>
                  <div class="text-block-33">Correios - <a href="#" style= "color: #5948EE; text-decoration: underline;">Acompanhe sua Encomenda Aqui</a></div>
                  <div class="text-block-34">Comprador</div>
                  <div class="text-block-33">Maria D. Silva</div>
                  <div class="text-block-34">Forma de Pagamento</div>
                  <div class="text-block-33">3x R$ 85,90</div>
                  <div class="text-block-34">Endereço</div>
                  <div class="text-block-33">Rua 1234, N 230148, Ap 08, Bloco 05 - Celina Park - Goiânia / GO - CEP: 74786-000</div>
                </div>
              </div>
              <div id="w-node-f9446710e332-5b57ab91">
                <div class="text-block-32">Dados de Cobrança</div>
                <div class="w-layout-grid grid-13 _1">
                  <div class="text-block-34 _1">Valor de Venda do Produto</div>
                  <div class="text-block-33 _1">R$ 259,90</div>
                  <div class="text-block-34 _1">Tarifa de Venda</div>
                  <div class="text-block-33 _1">- R$ 29,90</div>
                  <div class="text-block-34 _1">Comissão de Vendas</div>
                  <div class="text-block-33 _1">- R$ 7,62</div>
                  <div class="text-block-34 _1">Custo do Frete</div>
                  <div class="text-block-33 _1">- R$ 59,62</div>
                  <div class="text-block-34 _1">Compenssação do Frete</div>
                  <div class="text-block-33 _1">R$ 59,62</div>
                </div>
                <div class="div-block-37"></div>
                <div class="div-block-36">
                  <div class="text-block-35">Total à Receber</div>
                  <div class="text-block-35">R$ 223,38</div>
                </div>
                <div class="text-block-36">Será Liberado para solicitação de saque em: 10/10/2010.</div><a href="#" class="button-2 w-button">Ver Relatório Financeiro</a></div>
            </div>
          </div>
          <div data-w-tab="Tab 2" class="tab-pane-tab-2 w-tab-pane">
            <div class="w-layout-grid grid-10 _2">
              <div id="w-node-32f3f5b93fb1-5b57ab91">
                <div class="text-block-23">Acompanhe o rastreamento da sua encomenda: 651168613</div>
                <div class="text-block-24 _2">As informações são atualizadas automaticamente até a entrega da encomenda pela transportadora.</div>
              </div>
              <div id="w-node-32f3f5b93fce-5b57ab91">
                <div class="div-block-35">
                  <div class="div-block-35 _2"></div>
                </div>
                <div class="w-layout-grid grid-11">
                  <div id="w-node-32f3f5b93fd2-5b57ab91" class="text-block-31">I</div>
                  <div class="text-block-31">I</div>
                  <div class="text-block-31">I</div>
                  <div class="text-block-31">I</div>
                  <div class="text-block-31">I</div>
                  <div class="text-block-31">I</div>
                  <div class="text-block-31">I</div>
                  <div class="text-block-31 _2">Pedido Realizado</div>
                  <div class="text-block-30">Pagamento Aprovado</div>
                  <div class="text-block-25">Nota Fiscal</div>
                  <div class="text-block-26">Despacho Efetuado</div>
                  <div class="text-block-27">Pedido em Trânsito</div>
                  <div class="text-block-28">Entrega Concluída</div>
                  <div class="text-block-29">Pagamento Liberado</div>
                </div>
              </div>
            </div>
            <div class="text-block-23">Detalhes do Rastreamento</div>
            <div class="w-layout-grid grid-14">
              <div id="w-node-6b9caa5685f8-5b57ab91" class="div-block-38">
                <div class="text-block-37">Ultima Atualização: 10/10/2010</div>
              </div>
              <div>
                <div class="text-block-38">15:55</div>
              </div>
              <div>
                <div class="text-block-39">Entrega Realizada</div>
              </div>
            </div>
            <div class="w-layout-grid grid-14">
              <div id="w-node-885aeeb43261-5b57ab91" class="div-block-38">
                <div class="text-block-37">Ultima Atualização: 10/10/2010</div>
              </div>
              <div>
                <div class="text-block-38">15:55</div>
              </div>
              <div>
                <div class="text-block-39">Entrega Realizada</div>
              </div>
            </div>
            <div class="w-layout-grid grid-14">
              <div id="w-node-003338784ee2-5b57ab91" class="div-block-38">
                <div class="text-block-37">Ultima Atualização: 10/10/2010</div>
              </div>
              <div>
                <div class="text-block-38">15:55</div>
              </div>
              <div>
                <div class="text-block-39">Entrega Realizada</div>
              </div>
            </div>
            <div class="w-layout-grid grid-14">
              <div id="w-node-26133a554340-5b57ab91" class="div-block-38">
                <div class="text-block-37">Ultima Atualização: 10/10/2010</div>
              </div>
              <div>
                <div class="text-block-38">15:55</div>
              </div>
              <div>
                <div class="text-block-39">Entrega Realizada</div>
              </div>
            </div>
          </div>
          <div data-w-tab="Tab 3" class="tab-pane-tab-2 w-tab-pane w--tab-active">
            <div class="text-block-23">Informações de Receita</div>
            <div class="w-layout-grid grid-13">
              <div class="text-block-34">Tipo</div>
              <div class="text-block-33">Medicamento</div>
              <div class="text-block-34">CRM/CRMB/CRO</div>
              <div class="text-block-33">285923569825689</div>
              <div class="text-block-34">UF</div>
              <div class="text-block-33">GO</div>
              <div class="text-block-34">Nome do Médico</div>
              <div class="text-block-33">Felipe Andrade</div>
              <div class="text-block-34">Data da Receita</div>
              <div class="text-block-33">11/10/2010</div>
              <div class="text-block-34">Quantidade de Caixas</div>
              <div class="text-block-33">999</div>
              <div class="text-block-34">Nome do Paciente</div>
              <div class="text-block-33">Maria de Jesus</div>
              <div class="text-block-34">RG do paciente</div>
              <div class="text-block-33">213890910-2</div>
              <div class="text-block-34">Data de Nascimento</div>
              <div class="text-block-33">11/10/2010</div>
              <div class="text-block-34">Sexo</div>
              <div class="text-block-33">Feminino</div>
            </div>
            <div class="div-block-97">
              <div class="div-block-96"><a href="#" class="button-20 w-button">Visualizar/Imprimir Receita Anexada</a><a data-w-id="18f7bdd7-1cdc-4506-1c0b-dc8bd2fe1630" href="#" class="button-18 w-button">Reportar Erro</a></div>
            </div>
            <div class="form-block-5 w-form">
              <form id="email-form" name="email-form" data-name="Email Form"><label for="name">Farmacêutico Responsavél</label><input type="text" class="w-input" maxlength="256" name="name" data-name="Name" placeholder="" id="name"><label for="email">CRM/CRMB/CRO</label><input type="email" class="w-input" maxlength="256" name="email" data-name="Email" placeholder="" id="email" required=""><a href="#" class="button-19 w-button">Aprovar Envio</a></form>
              <div class="w-form-done">
                <div>Thank you! Your submission has been received!</div>
              </div>
              <div class="w-form-fail">
                <div>Oops! Something went wrong while submitting the form.</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
   <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=5ec829d6c4dfffb40b021510" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="js/webflow.js" type="text/javascript"></script>