<div class="section-25">
    <div class="container-24 w-container">
      <div class="div-block-25"><img src="images/logotipo-abidineshop-vetor.png" width="194" srcset="images/logotipo-abidineshop-vetor-p-500.png 500w, images/logotipo-abidineshop-vetor-p-800.png 800w, images/logotipo-abidineshop-vetor-p-1080.png 1080w, images/logotipo-abidineshop-vetor-p-1600.png 1600w, images/logotipo-abidineshop-vetor-p-2000.png 2000w, images/logotipo-abidineshop-vetor-p-2600.png 2600w, images/logotipo-abidineshop-vetor-p-3200.png 3200w, images/logotipo-abidineshop-vetor.png 6962w" sizes="(max-width: 479px) 194px, (max-width: 767px) 37vw, 194px" alt=""></div>
      <div class="div-block-26 _18"><a href="login.html" class="link-3 _5">Login I</a><a href="sobre-nos.html" class="link-3 _5"> Sobre I</a><a href="termos-de-privacidade.html" class="link-3 _5">Privacidade I </a><a href="central-de-ajuda.html" class="link-3 _2 _5">Central de Ajuda </a></div>
    </div>
  </div>
  <div class="section-26">
    <div class="container-6 w-container">
      <div class="w-layout-grid grid-7">
        <div class="text-block-21">Início &gt; Gerenciar &gt; Geral</div>
        <div class="text-block-20">Hoje, <strong>22</strong> de <strong>Abril</strong> de <strong>2019</strong></div>
      </div>
    </div>
  </div>
  <div>
    <div class="w-container">
      <form action="/search" class="search w-form"><input type="search" class="search-input w-input" maxlength="256" name="query" placeholder="Oi, como podemos ajudar?" id="search" required=""><input type="submit" value="" class="search-button w-button"></form>
      <h1>Produtos</h1>
    </div>
  </div>
  <div class="section-24">
    <div class="w-container">
      <div data-duration-in="300" data-duration-out="100" class="tabs-2 w-tabs">
        <div class="tabs-menu-2 w-tab-menu">
          <a data-w-tab="Tab 1" class="link-tab-perguntas w-inline-block w-tab-link w--current">
            <div>Questão 1</div>
          </a>
          <a data-w-tab="Tab 2" class="link-tab-perguntas w-inline-block w-tab-link">
            <div>Questão 2</div>
          </a>
          <a data-w-tab="Tab 3" class="link-tab-perguntas w-inline-block w-tab-link">
            <div>Questão 3</div>
          </a>
          <a data-w-tab="Tab 4" class="link-tab-perguntas w-inline-block w-tab-link">
            <div>Questão 4</div>
          </a>
          <a data-w-tab="Tab 5" class="link-tab-perguntas w-inline-block w-tab-link">
            <div>Questão 5</div>
          </a>
        </div>
        <div class="tabs-content w-tab-content">
          <div data-w-tab="Tab 1" class="w-tab-pane w--tab-active">
            <div>
              <h2>Questão 1</h2>
              <div class="text-block-94">Atualizado por último<br><strong>31/12/2019</strong></div>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
              <p>Lorem ipsum dolor sit amet, <strong>consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus</strong>, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p><img src="images/Untitled-1.png" loading="lazy" srcset="images/Untitled-1-p-500.png 500w, images/Untitled-1-p-800.png 800w, images/Untitled-1-p-1080.png 1080w, images/Untitled-1-p-1600.png 1600w, images/Untitled-1.png 1920w" sizes="(max-width: 479px) 96vw, (max-width: 767px) 73vw, (max-width: 991px) 491.609375px, 629px" alt="">
              <div class="div-block-120"><a href="#" class="link-9">&lt; Anterior</a><a href="#" class="link-9">Próximo &gt;</a></div>
            </div>
          </div>
          <div data-w-tab="Tab 2" class="w-tab-pane">
            <div>
              <h2>Questão 2</h2>
              <div class="text-block-94">Atualizado por último<br><strong>31/12/2019</strong></div>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
              <p>Lorem ipsum dolor sit amet, <strong>consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus</strong>, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p><img src="images/Untitled-1.png" loading="lazy" srcset="images/Untitled-1-p-500.png 500w, images/Untitled-1-p-800.png 800w, images/Untitled-1-p-1080.png 1080w, images/Untitled-1-p-1600.png 1600w, images/Untitled-1.png 1920w" sizes="(max-width: 479px) 96vw, (max-width: 767px) 73vw, (max-width: 991px) 491.609375px, 629px" alt="">
              <div class="div-block-120"><a href="#" class="link-9">&lt; Anterior</a><a href="#" class="link-9">Próximo &gt;</a></div>
            </div>
          </div>
          <div data-w-tab="Tab 3" class="w-tab-pane">
            <div>
              <h2>Questão 3</h2>
              <div class="text-block-94">Atualizado por último<br><strong>31/12/2019</strong></div>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
              <p>Lorem ipsum dolor sit amet, <strong>consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus</strong>, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p><img src="images/Untitled-1.png" loading="lazy" srcset="images/Untitled-1-p-500.png 500w, images/Untitled-1-p-800.png 800w, images/Untitled-1-p-1080.png 1080w, images/Untitled-1-p-1600.png 1600w, images/Untitled-1.png 1920w" sizes="(max-width: 479px) 96vw, (max-width: 767px) 73vw, (max-width: 991px) 491.609375px, 629px" alt="">
              <div class="div-block-120"><a href="#" class="link-9">&lt; Anterior</a><a href="#" class="link-9">Próximo &gt;</a></div>
            </div>
          </div>
          <div data-w-tab="Tab 4" class="w-tab-pane">
            <div>
              <h2>Questão 4</h2>
              <div class="text-block-94">Atualizado por último<br><strong>31/12/2019</strong></div>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
              <p>Lorem ipsum dolor sit amet, <strong>consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus</strong>, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p><img src="images/Untitled-1.png" loading="lazy" srcset="images/Untitled-1-p-500.png 500w, images/Untitled-1-p-800.png 800w, images/Untitled-1-p-1080.png 1080w, images/Untitled-1-p-1600.png 1600w, images/Untitled-1.png 1920w" sizes="(max-width: 479px) 96vw, (max-width: 767px) 73vw, (max-width: 991px) 491.609375px, 629px" alt="">
              <div class="div-block-120"><a href="#" class="link-9">&lt; Anterior</a><a href="#" class="link-9">Próximo &gt;</a></div>
            </div>
          </div>
          <div data-w-tab="Tab 5" class="w-tab-pane">
            <div>
              <h2>Questão 5</h2>
              <div class="text-block-94">Atualizado por último<br><strong>31/12/2019</strong></div>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
              <p>Lorem ipsum dolor sit amet, <strong>consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus</strong>, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p><img src="images/Untitled-1.png" loading="lazy" srcset="images/Untitled-1-p-500.png 500w, images/Untitled-1-p-800.png 800w, images/Untitled-1-p-1080.png 1080w, images/Untitled-1-p-1600.png 1600w, images/Untitled-1.png 1920w" sizes="(max-width: 479px) 96vw, (max-width: 767px) 73vw, (max-width: 991px) 491.609375px, 629px" alt="">
              <div class="div-block-120"><a href="#" class="link-9">&lt; Anterior</a><a href="#" class="link-9">Próximo &gt;</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=5ec829d6c4dfffb40b021510" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="js/webflow.js" type="text/javascript"></script>