
  <div class="section-6  logincontainer"  >
    <div class="container-10 w-container">
      <img src="../../assets/images/logotipo-abidineshop-vetor.png" height="50" srcset="../../assets/images/logotipo-abidineshop-vetor-p-500.png 500w, ../../assets/images/logotipo-abidineshop-vetor-p-800.png 800w, ../../assets/images/logotipo-abidineshop-vetor-p-1080.png 1080w, ../../assets/images/logotipo-abidineshop-vetor-p-1600.png 1600w, ../../assets/images/logotipo-abidineshop-vetor-p-2000.png 2000w, ../../assets/images/logotipo-abidineshop-vetor-p-2600.png 2600w, images/logotipo-abidineshop-vetor-p-3200.png 3200w, images/logotipo-abidineshop-vetor.png 6962w" sizes="(max-width: 479px) 100vw, 291.046875px" alt="" class="image-5">
      <h1 class="heading-3">Portal do Lojista</h1>
      <h3 class="heading-2">Gerencie seu e-commerce de forma fácil e rápida</h3>
      <div class="div-block-79">
        <div class="form-block-2 w-form">

            <label for="name">Login</label>
            <input type="text" class="w-input" maxlength="256" name="name" data-name="Name" placeholder="" id="name"
            (input)="setUser($event)">
            <label for="Password">Senha</label>
            <input type="password" class="text-field-7 w-input" maxlength="256" name="Password" data-name="Password" id="Password" required=""
            (input)="setPass($event)">
            <input (click)="login()" value="Entrar" data-wait="Entrando" class="submit-button-2 w-button">

        </div>
      </div>
      <div class="div-block-80">
        <div class="text-block-74"><a href="#" class="link-7"style="
          color: #446ddf;
      ">Esqueceu a senha?</a></div>

        <div class="text-block-82">Ainda não possui cadastro?<br><a href="#" class="link-8">Cadastre sua empresa aqui</a></div>
      </div>
    </div>
  </div>
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.4.1.min.220afd743d.js?site=5ec829d6c4dfffb40b021510" type="text/javascript" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="js/webflow.js" type="text/javascript"></script>
