.w-container{
  background-image:image('../../assets/images/Untitled-1.png;');
}
.container-10 {
  display: flex;
  padding-top: 40px;
  padding-bottom: 40px;
  flex-direction: column;
  align-items: center;
  border-radius: 19px;
  background-color: hsla(0, 0%, 100%, 0.62);
}
.submit-button-2 {
  width: 120px;
  padding-right: 40px;
  padding-left: 40px;
  background-color: #11b189;
}
.form-block-2 {
  width: 500px;
  padding: 28px;
  border-radius: 7px;
  background-color: #f0f0f0;
}
.heading-2 {
  margin-top: 0px;
  margin-bottom: 20px;
  font-weight: 400;
}
h3 {
  font-size: 24px;
  line-height: 30px;
  margin-top: 20px;
}
h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin-bottom: 10px;
}
h1 {
  font-size: 38px;
  margin-bottom: 0px;

}
.div-block-80 {
  display: initial;
}
a:focus, a:hover {
  color: #446ddf;
  text-decoration: underline;
}
a{
  color: #5b973d;
  text-decoration: underline;
}
img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}
.text-field-7 {
  background-image: url(../../assets/images/006-eye2.png);
  background-position: 97% 50%;
  background-size: 20px;
  background-repeat: no-repeat;
}
.image-5 {
  margin-bottom: 15px;
}
