<div class="section-13">
  <div class="container-6 w-container">
    <div class="w-layout-grid grid-7">
      <div class="text-block-21">Produto &gt; Cadastro de Serviço</div>
      <div class="text-block-20">Hoje,<strong>{{myDate}}</strong></div>
    </div>
  </div>
  <div class="container-9 w-container">
    <div class="w-layout-grid grid-18 servi-o">
      <div id="w-node-dfe58b672bfa-708545eb" class="div-block-62">
        <div class="div-block-61"></div>
        <div class="div-block-60 cinza"></div>
        <div class="text-block-56 cinza">Passo 2</div>
      </div>
      <div id="w-node-d29e932fa8fe-708545eb" class="div-block-62">
        <div class="div-block-61"></div>
        <div class="div-block-60 cinza"></div>
        <div class="text-block-56 cinza">Passo 3</div>
      </div>
      <div id="w-node-d233e4bf98dc-708545eb" class="div-block-62">
        <div class="div-block-61"></div>
        <div class="div-block-60"></div>
        <div class="text-block-56">Passo 1</div>
      </div>
    </div>
    <div>
      <div class="w-form">
        <form id="email-form" name="email-form" data-name="Email Form">
            <label for="name" class="field-label-2">Nome*</label>
              <input type="text" class="w-input" maxlength="256" name="name" data-name="Name" placeholder="" id="name"><label for="email-2" class="field-label">Foto(s) do Produto*</label>
          <div class="div-block-65"><input _ngcontent-wyu-c52="" type="file" id="customFile" name="uploadedImage" class="custom-file-input">
          </div><a href="#" class="button-8 w-button">Adicionar Nova Foto</a><label for="email-2" class="field-label">Descrição Completa*</label>
                <textarea placeholder="Example Text" maxlength="5000" id="field" name="field" class="w-input"></textarea>
          <div class="div-block-64 _2 dividido">
            <div><label for="email-2" class="field-label">Preço*</label>
              <div class="div-block-63">
                <div class="text-block-57">R$</div>
                  <input type="number" class="text-field-2 w-input" maxlength="256" name="field-2" data-name="Field 2" placeholder="00,00" id="field-2" required=""></div>
            </div><a (click)="nextStep()" class="button-16 w-button">Continuar</a></div>
        </form>
        <div class="w-form-done">
          <div>Thank you! Your submission has been received!</div>
        </div>
        <div class="w-form-fail">
          <div>Oops! Something went wrong while submitting the form.</div>
        </div>
      </div>
    </div>
  </div>
</div>
