<div class="section-7">
  <div class="container-6 w-container">
    <div class="w-layout-grid grid-7">
      <div class="text-block-21">Produto &gt; Cadastro de Novo Produto</div>
      <div class="text-block-20">Hoje, <strong>{{myDate}}</strong></div>
    </div>
  </div>
  <div class="container-9 w-container">
    <div class="w-layout-grid grid-18">
      <div id="w-node-dfe58b672bfa-120a6d23" class="div-block-62">
        <div class="div-block-61"></div>
        <div class="div-block-60 cinza"></div>
        <div class="text-block-56 cinza">Passo 2</div>
      </div>
      <div id="w-node-41613f8e32ae-120a6d23" class="div-block-62">
        <div class="div-block-61"></div>
        <div class="div-block-60 cinza"></div>
        <div class="text-block-56 cinza">Passo 4</div>
      </div>
      <div id="w-node-c82bc545059c-120a6d23" class="div-block-62">
        <div class="div-block-61"></div>
        <div class="div-block-60 cinza"></div>
        <div class="text-block-56 cinza">Passo 5</div>
      </div>
      <div id="w-node-616a33ec2589-120a6d23" class="div-block-62">
        <div class="div-block-61"></div>
        <div class="div-block-60 cinza"></div>
        <div class="text-block-56 cinza">Passo 6</div>
      </div>
      <div id="w-node-d29e932fa8fe-120a6d23" class="div-block-62">
        <div class="div-block-61"></div>
        <div class="div-block-60 cinza"></div>
        <div class="text-block-56 cinza">Passo 3</div>
      </div>
      <div id="w-node-d233e4bf98dc-120a6d23" class="div-block-62">
        <div class="div-block-61"></div>
        <div class="div-block-60"></div>
        <div class="text-block-56">Passo 1</div>
      </div>
    </div>
    <div>
      <div class="w-form">
        <form id="email-form" name="email-form" data-name="Email Form"><label for="name" class="field-label-2">Nome*</label><input type="text" class="w-input" maxlength="256" name="name" data-name="Name" placeholder="" id="name"    class="input"
          name="name"
          (keyup.enter)="addProductName($event)"
          (blur)="addProductName($event);" >
          <label for="email" class="field-label">Descrição Curta*</label><input type="email" class="w-input" maxlength="256" name="email" data-name="Email" placeholder="" id="email" required=""><label for="email-2" class="field-label">Foto(s) do Produto* (Tamanho adequado: 600x600px)
          </label>
         <div >


          <form [formGroup]="fileUploadForm" (ngSubmit)="onFormSubmit()">
            <div >

              <div >

                <div >

                  <input type="file" class="custom-file-input" id="customFile" name="uploadedImage"
                    (change)="onFileSelect($event)" #UploadFileInput>


                  <button class="btn btn-primary" type="submit">Adicionar Nova Foto</button>
                </div>

              </div>

              <div class="col-sm-6">  </div>

            </div>
          </form>

          </div>


          <label for="email-2" class="field-label">Vídeo URL</label><input type="text" class="w-input" maxlength="256" name="name-2" data-name="Name 2" placeholder="" id="name-2">
          <label for="email-2" class="field-label">Descrição Completa*</label>
            <textarea placeholder="Example Text" maxlength="5000" id="field" name="field" class="w-input"
            (input)="addProductDesc( $event)">
            </textarea>
          <div class="div-block-92">
            <div class="div-block-95"><label for="email-2" class="field-label">Preço Antigo</label>
              <div class="div-block-63">
                <div class="text-block-57">R$</div><input type="number" class="text-field-2 w-input" maxlength="256" name="field-2" data-name="Field 2" placeholder="00,00" id="field-2" required=""
                name="oldprice"

                (keyup.enter)="addProductOldPrice($event)"
                (input)="addProductOldPrice($event); "></div>
            </div>
            <div class="div-block-93"><label for="email-2" class="field-label">Preço Atual*</label>
              <div class="div-block-63">
                <div class="text-block-57">R$</div><input type="number" class="text-field-2 w-input" maxlength="256" name="field-2" data-name="Field 2" placeholder="00,00" id="field-2" required=""
                name="actualprice"
                #product
                (keyup.enter)="addProductActualPrice($event)"
                (blur)="addProductActualPrice($event); "></div>
            </div>
          </div>
          <div><label for="email-2" class="field-label">Tags Promocionais</label>
            <div class="div-block-94">
              <label class="w-checkbox">
              <input (click)="addProductP2l3($event)"  type="checkbox" id="checkbox" name="checkbox" data-name="Checkbox" class="w-checkbox-input">
              <span class="w-form-label">Leve 3 Pague 2</span>
            </label>
              <label class="w-checkbox checkbox-field-2">
                <input (click)="addProductMostSold($event)" type="checkbox" id="checkbox-2" name="checkbox-2" data-name="Checkbox 2" class="w-checkbox-input" >
                <span class="w-form-label">Mais Vendidos</span>
              </label>
              <label class="w-checkbox checkbox-field-2">
                <input   (click)="addProductSecondwDisc($event)" type="checkbox" id="checkbox-2" name="checkbox-2" data-name="Checkbox 2" class="w-checkbox-input">
                <span class="w-form-label">O Segundo com desconto</span>
              </label>
            </div>
          </div>
          <div class="div-block-64 _2"><a    (click)="nextStep()"  class="button-16 w-button">Continuar</a></div>
        </form>
        <div class="w-form-done">
          <div>Thank you! Your submission has been received!</div>
        </div>
        <div class="w-form-fail">
          <div>Oops! Something went wrong while submitting the form.</div>
        </div>
      </div>
    </div>
  </div>
</div>
