/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.field-label {
    display: flex;
    width: 100%;
    padding-left: 0px;
}
input {
    display: block;
    width: 100%;
    height: 38px;
    padding: 8px 12px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333333;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
}
.w-checkbox{
    padding-left: 0px;
}
.w-checkbox-input{
    height: 13px;
    width: 13px;
    margin-right: 8px
}

.w-form-label {
    display: flex;
}

.button-8 {
    display: table;
    margin-top: 5px;
}
.button-9 {
    margin-right: 10px;
}
.text-block-57{
    margin-bottom: 10px
}
.text-block-58 {
    display: contents;
    padding-left: 10px;
}
.btn-primary{
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #1a18b1;
    font-size: 12px;
    line-height: 16px;
    height: 35px;

}

.div-block-28 {
    display: flex;
    width: 32px;
    height: 32px;
    margin-left: 10px;
    padding-left: 0px;
    align-items: center;
    border-radius: 10px;
    background-color: #ff8400;
   }
   .w-input, .w-select {
    display: block;
    width: 100%;
    height: 38px;
    padding: 8px 12px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333333;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
}
.div-block-95{
    width: 43%;
}
.div-block-93{
    width: 43%;

}
