  <div>
    <div class="container-6 w-container">
      <div class="w-layout-grid grid-7">
        <div class="text-block-21">Gerenciar &gt; Cadastrar Novo usuário</div>
        <div class="text-block-20">Hoje, <strong>{{myDate}}</strong></div>
      </div>
    </div>
    <div class="container-14 w-container">
      <div class="text-block-41">Cadastrar Novo Usuário</div>
    </div>
    <div class="container-19 w-container">
      <div>
        <div class="w-form">
          <form id="email-form" name="email-form" data-name="Email Form">
            <div class="text-block-87">Cadastro</div><label for="name" class="field-label-2">E-mail*</label><input type="text" class="w-input" maxlength="256" name="name" data-name="Name" placeholder="" id="name"><label for="email" class="field-label">CPF*</label><input type="email" class="w-input" maxlength="256" name="email" data-name="Email" placeholder="" id="email" required="">
            <div class="w-row">
              <div class="column-10 w-col w-col-6">
                <div><label for="email-3" class="field-label">Celular*</label><input type="email" class="w-input" maxlength="256" name="email-2" data-name="Email 2" placeholder="" id="email-2" required=""></div>
              </div>
              <div class="column-11 w-col w-col-6">
                <div><label for="Cargo" class="field-label">Cargo*</label><select id="Cargo" name="Cargo" required="" data-name="Cargo" class="select-field-9 w-select"><option value="Assistente">Assistente</option><option value="Analista">Analista</option><option value="Gerente / Coordenador">Gerente / Coordenador</option><option value="Diretor">Diretor</option></select></div>
              </div>
            </div>
            <div class="div-block-64 _2"><a href="cadastrar-produto-passo-2.html" class="button-16 w-button">Cadastrar</a></div>
          </form>
          <div class="w-form-done">
            <div>Thank you! Your submission has been received!</div>
          </div>
          <div class="w-form-fail">
            <div>Oops! Something went wrong while submitting the form.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
   <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=5ec829d6c4dfffb40b021510" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="js/webflow.js" type="text/javascript"></script>