
  <div>
    <div class="container-6 w-container">
      <div class="w-layout-grid grid-7">
        <div class="text-block-21">Início &gt; Configurações &gt; Perguntas Frequentes</div>
        <div class="text-block-20">Hoje, <strong>{{myDate}}</strong></div>
      </div>
    </div>
    <div class="container-14 w-container">
      <div class="text-block-41">Perguntas Frequentes</div>
    </div>
  </div>
  <div class="container-19 _1 w-container">
    <div class="text-block-87">Questões e Respostas</div>
    <div class="form-block-7 w-form">
      <form id="email-form" name="email-form" data-name="Email Form">
        <div class="w-row">
          <div class="column-7 w-col w-col-6">
            <div><label for="name" class="field-label-8">Questão 1</label></div>
          </div>
          <div class="w-col w-col-6"><input type="text" class="w-input" maxlength="256" name="Endere-o" data-name="Endere O" placeholder="Exemplo" id="Endere-o" required=""></div>
        </div>
        <div class="w-row">
          <div class="column-7 w-col w-col-6">
            <div><label for="name" class="field-label-8">Resposta 1</label></div>
          </div>
          <div class="w-col w-col-6"><textarea placeholder="Exemplo" maxlength="5000" id="field-2" name="field-2" class="w-input"></textarea></div>
        </div>
        <div class="div-block-105"></div>
        <div class="w-row">
          <div class="column-7 w-col w-col-6">
            <div><label for="name" class="field-label-8">Questão 2</label></div>
          </div>
          <div class="w-col w-col-6"><input type="text" class="w-input" maxlength="256" name="Endere-o-4" data-name="Endere O 4" placeholder="Exemplo" id="Endere-o-4" required=""></div>
        </div>
        <div class="w-row">
          <div class="column-7 w-col w-col-6">
            <div><label for="name" class="field-label-8">Resposta 2</label></div>
          </div>
          <div class="w-col w-col-6"><textarea placeholder="Exemplo" maxlength="5000" id="field" name="field" class="w-input"></textarea></div>
        </div>
        <div class="div-block-105"></div><a (click)="addQuestionGroup()" class="button-8 w-button">Adicionar Nova Questão</a>
        <div _ngcontent-lpq-c73="" class="div-block-106"><input _ngcontent-lpq-c73="" type="submit" value="Salvar Alterações" data-wait="Salvando..." class="submit-button-4 w-button"></div>
      </form>

    </div>
  </div>
  <div class="container-19 _1 w-container">
    <div class="text-block-87">SEO</div>
    <div class="form-block-7 w-form">
      <form id="email-form" name="email-form" data-name="Email Form">
        <div class="w-row">
          <div class="column-7 w-col w-col-6">
            <div><label for="name" class="field-label-8">Tag Title</label></div>
          </div>
          <div class="w-col w-col-6"><input type="text" class="w-input" maxlength="256" name="Endere-o-5" data-name="Endere O 5" placeholder="Exemplo" id="Endere-o-5" required=""></div>
        </div>
        <div class="div-block-105"></div>
        <div class="w-row">
          <div class="column-7 w-col w-col-6">
            <div><label for="name" class="field-label-8">Meta Tag Description</label></div>
          </div>
          <div class="w-col w-col-6"><textarea placeholder="Exemplo" maxlength="5000" id="field-3" name="field-3" data-name="Field 3" class="w-input"></textarea></div>
        </div>
        <div class="div-block-105"></div>
        <div class="w-row">
          <div class="column-7 w-col w-col-6">
            <div><label for="name" class="field-label-8">Meta Tag Keywords</label>
              <div class="text-block-85">Separe as Palavras por Vírgula.</div>
            </div>
          </div>
          <div class="w-col w-col-6"><input type="text" class="w-input" maxlength="256" name="meta-tag" data-name="Meta Tag" placeholder="tag, tag, tag" id="meta-tag" required=""></div>
        </div>
        <div class="div-block-105"></div>
        <div class="div-block-106"><input type="submit" (click)="savePage()" value="Salvar Alterações" data-wait="Salvando..." class="submit-button-4 w-button"></div>
      </form>

    </div>
  </div>
