.text-block-87 {
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: 700;
}
.div-block-105 {
    height: 1px;
    margin-top: 7px;
    margin-bottom: 15px;
    background-color: #e7e7e7;
}

.div-block-106 {
    display: flex;
    justify-content: flex-end;
}

.submit-button-4 {
    margin-top: 20px;
    margin-bottom: 30px;
    padding-right: 40px;
    padding-left: 40px;
    border-radius: 10px;
    background-color: #2eaa7f;
    font-weight: 700;
    text-align: center;
}
.text-block-41 {
    margin-bottom: 40px;
}