    <div class="section-5">
      <div class="container-6 w-container">
        <div class="w-layout-grid grid-7">
          <div class="text-block-21">Vendas &gt; Cadastro &gt; Upload em Massa</div>
          <div class="text-block-20">Hoje, <strong>{{myDate}}</strong></div>
        </div>
      </div>
      <div class="container-12 w-container">
        <div class="text-block-41">Upload em Massa Manual</div>
        <div class="div-block-40">
          <div class="div-block-39"><img src="../../assets/images/information.png" width="25" alt="">
            <div class="text-block-40">O que é?</div>
          </div>
          <p class="paragraph-4">Com este recurso do Abidine.shop, você consegue fazer o upload de vários produtos em um único arquivo. Desta forma facilitando no cadastro de produtos em massa. Leia atentamente as instruções, e comece agora mesmo!</p>
        </div>
        <div class="div-block-40 _2">
          <div class="div-block-39"><img src="../../assets/images/danger.png" width="25" alt="">
            <div class="text-block-40">Instruções</div>
          </div>
          <p class="paragraph-4">- O Arquivo deve estar no Padrão que será reconhecido pelo Abidine.shop: <a href="#" class="link-4">Veja aqui como organizar o aquivo.</a><br>- A Ferramenta reconhece arquivos no formato .xml<br>- O Tamanho do arquivo não poderá ser superior a 5mb<br>- Produtos duplicados com os já cadastrados em sua loja serão sobrepostos.<br>- A Avaliação e liberação dos produtos serão feitas no prazo de 2 á 3 dias.</p>
        </div>
        <div class="_2 bot-es">
          <div class="text-block-42">NomedoArquivo.xml</div><a href="#" class="button-3 anexar w-button">Anexar</a><a href="#" class="button-3 _2 w-button">Confirmar</a></div>
        <div class="div-block-41 _2">
          <div class="text-block-44"><strong>O Arquivo foi enviado com sucesso. </strong>Acompanhe o status através da aba: “lista de produtos”</div>
        </div>
        <div class="div-block-41 _3">
          <div class="text-block-43"><strong>O Arquivo é superior ao máximo permitido (5mb). </strong>Faça um novo upload e tente novamente.</div>
        </div>
      </div>
    </div>
    
    <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.4.1.min.220afd743d.js?site=5ec829d6c4dfffb40b021510" type="text/javascript" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="js/webflow.js" type="text/javascript"></script>