
<div class="section-18">
  <div class="container-6 w-container">
    <div class="w-layout-grid grid-7">
      <div class="text-block-21">Produto &gt; Lista de Categorias</div>
      <div class="text-block-20">Hoje, <strong>{{myDate}}</strong></div>
    </div>
  </div>
  <div class="w-container">
    <div class="div-block-70">
      <div class="w-form">
        <form id="email-form" name="email-form" data-name="Email Form">
          <div class="div-block-85">
            <div class="div-block-27">
              <input type="text" class="text-field _2 busca w-input" maxlength="256" name="name-5" data-name="Name 5" placeholder="" id="name-5"
              (input)="setTerm($event)">
              <div class="div-block-28">
                <img src="../../assets/images/064-magnifying-glass-searcher.png" srcset="../../assets/images/064-magnifying-glass-searcher-p-500.png 500w, ../../assets/images/064-magnifying-glass-searcher.png 512w" sizes="20px" alt="" class="../../assets/image-3"style="
                margin-left: 4px;
            "></div>
            </div><a href="cadastrar-categoria-1.html" class="button-17 w-button">Nova Categoria</a></div>
        </form>
        <div class="w-form-done">
          <div>Thank you! Your submission has been received!</div>
        </div>
        <div class="w-form-fail">
          <div>Oops! Something went wrong while submitting the form.</div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-11 w-container">
    <div class="w-layout-grid grid-27" >
      <div class="div-block-86">
        <div>ID</div>
      </div>
      <div class="div-block-86">
        <div>Nome da Categoria</div>
      </div>
      <div id="w-node-e0ddf4498081-c8c8a10a" class="div-block-86">
        <div>Status</div>
      </div>
    </div>
    <div class="w-layout-grid grid-27" *ngFor="let categori of categories |filter:term">
    <div class="div-block-87">
      <div>1</div>
    </div>
    <div class="div-block-87">
      <div>    →{{categori.name}}</div>
    </div>
    <div class="div-block-87">
      <div class="form-block-4 w-form">
        <form id="email-form-2" name="email-form-2" data-name="Email Form 2"><select id="field-2" name="field-2" data-name="Field 2" class="select-field-6 w-select"><option value="Ativo">Ativo</option><option value="Inativo">Inativo</option></select></form>
        <div class="success-message w-form-done">
          <div>Thank you! Your submission has been received!</div>
        </div>
        <div class="error-message w-form-fail">
          <div>Oops! Something went wrong while submitting the form.</div>
        </div>
      </div>
    </div>
    <div class="div-block-87"><img src="../../assets/images/edit.png" width="30" alt="" class="image-6"></div>
  </div>
    <div class="container-8 w-container">
    <div class="div-block-32">
      <div class="div-block-33">
        <div>&lt;</div>
      </div>
      <div class="div-block-33">
        <div>1</div>
      </div>
      <div class="div-block-33">
        <div>2</div>
      </div>
      <div class="div-block-33">
        <div>3</div>
      </div>
      <div class="div-block-33">
        <div>4</div>
      </div>
      <div class="div-block-33">
        <div>5</div>
      </div>
      <div class="div-block-33">
        <div>6</div>
      </div>
      <div class="div-block-33">
        <div>&gt;</div>
      </div>
    </div>
  </div>
</div>
