<div class="section-11">
  <div class="container-6 w-container">
    <div class="w-layout-grid grid-7">
      <div class="text-block-21">Produto &gt; Cadastro de Novo Produto</div>
      <div class="text-block-20">Hoje, <strong>{{myDate}}</strong></div>
    </div>
  </div>
  <div class="container-9 w-container">
    <div class="w-layout-grid grid-18">
      <div id="w-node-dfe58b672bfa-e5e052ba" class="div-block-62">
        <div class="div-block-61"></div>
        <div class="div-block-60"></div>
        <div class="text-block-56">Passo 2</div>
      </div>
      <div id="w-node-41613f8e32ae-e5e052ba" class="div-block-62">
        <div class="div-block-61"></div>
        <div class="div-block-60"></div>
        <div class="text-block-56">Passo 4</div>
      </div>
      <div id="w-node-c82bc545059c-e5e052ba" class="div-block-62">
        <div class="div-block-61"></div>
        <div class="div-block-60"></div>
        <div class="text-block-56">Passo 5</div>
      </div>
      <div id="w-node-616a33ec2589-e5e052ba" class="div-block-62">
        <div class="div-block-61"></div>
        <div class="div-block-60 cinza"></div>
        <div class="text-block-56 cinza">Passo 6</div>
      </div>
      <div id="w-node-d29e932fa8fe-e5e052ba" class="div-block-62">
        <div class="div-block-61"></div>
        <div class="div-block-60"></div>
        <div class="text-block-56">Passo 3</div>
      </div>
      <div id="w-node-d233e4bf98dc-e5e052ba" class="div-block-62">
        <div class="div-block-61"></div>
        <div class="div-block-60"></div>
        <div class="text-block-56">Passo 1</div>
      </div>
    </div>
    <div>
      <div class="w-form">
        <form id="email-form" name="email-form" data-name="Email Form">
          <div class="text-block-65">Otimização para Site de Buscas SEO <span class="text-span-6">(Google, Bling e Yahoo)</span></div>
          <label for="Palavras-Chave-2" class="field-label-5">Título da Página</label>
          <input type="text" class="w-input" maxlength="256" name="field" data-name="Field" placeholder="Geralmente o Nome do Produto" id="field" required=""
          (input)="addPageTitle($event);"
          >
          <label for="Palavras-Chave-2" class="field-label-5">Descrição da Página</label>
          <input type="text" class="w-input" maxlength="256" name="field-2" data-name="Field 2" placeholder="Descrição Curta até 250 caracteres" id="field-2" required=""
          (input)="addPageDesc($event);"
          >
          <label for="Palavras-Chave" class="field-label-5">Palavras-Chave <span class="text-span-5">(separadas por vírgula)</span></label>
            <input type="text" class="w-input" maxlength="256" name="Palavras-Chave" data-name="Palavras Chave" placeholder="Exemplo, Exemplo2, Exemplo3" id="Palavras-Chave" required=""
            (input)="addPageKeywords($event);"

            >

          <div class="div-block-64 _2"><a (click)="addProduct();"  class="button-16 w-button">Enviar Produto para Análise</a></div>
        </form>
        <div class="w-form-done">
          <div>Thank you! Your submission has been received!</div>
        </div>
        <div class="w-form-fail">
          <div>Oops! Something went wrong while submitting the form.</div>
        </div>
      </div>
    </div>
  </div>
</div>
