<div class="section-12">
  <div class="container-6 w-container">
    <div class="w-layout-grid grid-7">
      <div class="text-block-21">Produto &gt; Cadastro de Nova Categoria</div>
      <div class="text-block-20">Hoje, <strong>{{myDate}}</strong></div>
    </div>
  </div>
  <div class="container-9 w-container">
    <div>
      <div class="w-form">
        <form id="email-form" name="email-form" data-name="Email Form">
          <div class="text-block-68">Nova Categoria</div>
          <div class="text-block-71">Geral</div>
          <label for="name-3" class="field-label-2">Nome da Categoria</label><input type="text" class="w-input" maxlength="256" name="name-3" data-name="Name 3" placeholder="" id="name-3"  (input)=" addCategorytName($event)" >
          <label for="email" class="field-label">Categoria Google Shopping -  <a href="#" class="link-5">Instruções</a></label><input  class="w-input" maxlength="256" name="catgoogle" placeholder="" id="email" required=""  (input)=" addCategoryNameGoogle($event)">
          <label for="email-2" class="field-label">Ícone<span class="text-span-8"> (Recomendado: 512x512px/.png)</span></label>
          <div class="div-block-65"><a href="#" class="button-9 w-button">Escolher arquivo</a>
            <div class="text-block-58">Nenhum Arquivo Selecionado</div>
          </div>
          <div class="text-block-70">Tamanho máximo: 100 KB</div><label for="email-2" class="field-label">URL</label>
          <div class="text-block-69">Cuidado! Ao alterar este campo, você altera a URL da página desta categoria, ou seja, se algum outro site estiver conectado para esta página os usuários vão receber a mensagem de que está página não existe.</div><input type="text" class="w-input" maxlength="256" name="name-2" data-name="Name 2" placeholder="" id="name-2">
          <div class="text-block-70">Https://abidine.shop/[Nome da Categoria]</div>
          <div class="text-block-71 _2">SEO</div>
          <label for="name-3" class="field-label-2">Título da Página</label><input type="text" class="w-input" maxlength="256" name="name-5" data-name="Name 5" placeholder="" id="name-5" (input)=" addCategoryPageTitle($event)" >
          <label for="name-3" class="field-label-2">Descrição da Página</label><textarea placeholder="Example Text" maxlength="5000" id="field-2" name="field-2" data-name="Field 2" class="w-input" (input)=" addCategoryPageDesc($event)" ></textarea>
          <label for="name-3" class="field-label-2">Palavras-Chave <span class="text-span-9">(Separadas por vírgula)</span></label><input type="text" class="w-input" maxlength="256" name="name" data-name="Name" placeholder="" id="name" (input)=" addCategoryPageKeywords($event)" >
          <label for="name" class="field-label-2">Meta Data</label><textarea placeholder="Example Text" maxlength="5000" id="field" name="field" class="w-input" (input)=" addCategoryPageMetadata($event)"></textarea>
          <div class="text-block-70">Ex.: &lt;meta name=&quot;author&quot; content=&quot;Fulando&quot;/&gt;</div>
          <div class="text-block-71 _2">Vinculação</div>
          <div class="div-block-78"><label for="name-6" class="field-label-2">Vincular a uma categoria já existente?</label><label class="radio-button-field w-radio"><input type="radio" data-name="Radio" id="radio" name="radio" value="Radio" class="w-form-formradioinput w-radio-input"><span class="w-form-label">Sim</span></label><label class="radio-button-field-2 w-radio"><input type="radio" data-name="Radio 2" id="radio-2" name="radio" value="Radio" class="w-form-formradioinput w-radio-input"><span class="w-form-label">Não <span class="text-span-10">(Caso seja categoria Pai)</span></span></label></div>
          <div class="div-block-27"><input type="text" class="text-field _2 w-input" maxlength="256" name="name-5" data-name="Name 5" placeholder="Buscar...." id="name-5">
            <div class="div-block-28"><img src="../../assets/images/064-magnifying-glass-searcher.png" srcset="../../assets/images/064-magnifying-glass-searcher-p-500.png 500w, ../../assets/images/064-magnifying-glass-searcher.png 512w" sizes="20px" alt="" class="../../assets/image-3"></div>
          </div>
          <div>
            <div class="text-block-59" *ngIf="categories">#123456 - Categorias Gerais</div>
            <div class="div-block-66"></div>
          </div>

          <div class="div-block-67" *ngFor="let cat of categories">
            <div class="text-block-60">{{cat.name}}</div>
            <div><a href="#" class="button-10 w-button">Expandir</a><a (click)= " addCategoryfather(cat.id)" href="#" class="button-10 _3 w-button">Vincular</a></div>
          </div>

          <div class="text-block-73">Endereço gerado para categoria:</div>
          <div class="text-block-72">Categoria &gt;&gt; Categoria 1&gt;&gt; Categoria 2 &gt;&gt; Categoria &gt;&gt;<strong> Nova Categoria</strong></div>
          <div class="div-block-64 _3"><input type="submit" value="Confirmar" data-wait="Um Momento..." class="submit-button w-button"></div>
        </form>
      </div>
    </div>
  </div>
</div>
