<div class="abidine-admin-menu">
    <div class="div-block-2">
      <div class="container-3 w-container"><img src="images/Logo---Top-Bar.png" alt="" class="image">
        <div class="div-block-6">
          <div class="text-block-3">Olá, <strong>Lorem Ipsum</strong></div><img src="images/Foto-Perfil---Top-Bar.png" alt=""></div>
      </div>
    </div>
    <div class="div-block-3">
      <div class="container-2 w-container">
        <div data-collapse="medium" data-animation="default" data-duration="400" role="banner" class="navbar w-nav">
          <div class="w-container">
            <nav role="navigation" class="nav-menu w-nav-menu"><a href="index.html" class="navlink w-nav-link">Início</a>
              <div data-hover="" data-delay="0" class="w-dropdown">
                <div class="dropdown-toggle w-dropdown-toggle">
                  <div class="icon w-icon-dropdown-toggle"></div>
                  <div class="text-block-75">Produtos</div>
                </div>
                <nav class="dropdown-list w-dropdown-list"><a href="cadastrar-produto-passo-1.html" class="dropdown-link w-dropdown-link">Cadastrar Produto</a><a href="cadastrar-servico-passo-1.html" class="dropdown-link w-dropdown-link">Cadastrar Serviço</a><a href="cadastrar-categoria-1.html" class="dropdown-link w-dropdown-link">Cadastrar Categoria</a><a href="untitled.html" class="dropdown-link w-dropdown-link">Upload em Masssa</a><a href="lista-de-anuncios.html" class="dropdown-link w-dropdown-link">Anúncios</a><a href="lista-de-categorias.html" class="dropdown-link w-dropdown-link">Categorias</a></nav>
              </div>
              <div data-hover="" data-delay="0" class="w-dropdown">
                <div class="dropdown-toggle w-dropdown-toggle">
                  <div class="icon w-icon-dropdown-toggle"></div>
                  <div class="text-block-75">Relatórios</div>
                </div>
                <nav class="dropdown-list w-dropdown-list"><a href="pedidos.html" class="dropdown-link w-dropdown-link">Pedidos</a><a href="exportar-receba-novidades.html" class="dropdown-link w-dropdown-link">Exportar Receba Novidades</a></nav>
              </div>
              <div data-hover="" data-delay="0" class="w-dropdown">
                <div class="dropdown-toggle w-dropdown-toggle">
                  <div class="icon w-icon-dropdown-toggle"></div>
                  <div class="text-block-75">Configurações</div>
                </div>
                <nav class="dropdown-list w-dropdown-list"><a href="configuracoes.html" class="dropdown-link w-dropdown-link">Gerais</a><a href="configuracoes-sobre-nos.html" class="dropdown-link w-dropdown-link">Sobre Nós</a><a href="configuracoes-politica-de-privavidade.html" class="dropdown-link w-dropdown-link">Política de Privacidade</a><a href="configuracoes-politica-entrega-troca-e-devolucao.html" class="dropdown-link w-dropdown-link">Política Entrega,Troca e Devolução</a><a href="configuracoes-visual-e-textos.html" class="dropdown-link w-dropdown-link">Visuais e Textos</a><a href="configuracoes-perguntas-frequentes.html" class="dropdown-link w-dropdown-link">Perguntas Frequentes</a></nav>
              </div><a href="e-commerce.html" class="navlink w-nav-link">E-Commerce</a>
              <div data-hover="" data-delay="0" class="w-dropdown">
                <div class="dropdown-toggle w-dropdown-toggle">
                  <div class="icon w-icon-dropdown-toggle"></div>
                  <div class="text-block-75">Clientes</div>
                </div>
                <nav class="dropdown-list w-dropdown-list"><a href="avaliacoes-de-clientes.html" class="dropdown-link w-dropdown-link">Avaliações</a><a href="mensagens-de-clientes.html" class="dropdown-link w-dropdown-link">Mensagens</a></nav>
              </div>
            </nav>
            <div class="w-nav-button">
              <div class="w-icon-nav-menu"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="container-6 w-container">
      <div class="w-layout-grid grid-7">
        <div class="text-block-21">Produto &gt; Cadastro de Novo Produto</div>
        <div class="text-block-20">Hoje, <strong>22</strong> de <strong>Abril</strong> de <strong>2019</strong></div>
      </div>
    </div>
    <div class="w-container">
      <div class="text-block-41 _2">Cadastrar Nova Categoria</div>
      <div class="w-form">
        <form id="email-form" name="email-form" data-name="Email Form"><label for="name" class="field-label-3">Nome da Categoria*</label><input type="text" class="w-input" maxlength="256" name="name" data-name="Name" placeholder="" id="name">
          <div class="div-block-105"></div><label for="email" class="field-label">Associada à*</label><select id="field" name="field" class="select-field-10 w-select"><option value="Primeiros Passos">Primeiros Passos</option><option value="Integrações com Ferramentas e Marketplace">Integrações com Ferramentas e Marketplace</option></select>
          <div class="div-block-105"></div><label for="email" class="field-label">Icone da Categoria* (Tamanho adequado: 150x150px)</label>
          <div class="div-block-65"><a href="#" class="button-9 w-button">Escolher arquivo</a>
            <div class="text-block-58">Nenhum Arquivo Selecionado</div>
          </div>
          <div class="div-block-105"></div>
          <div class="text-block-87 _45">SEO</div>
          <div class="w-row">
            <div class="column-7 w-col w-col-6">
              <div><label for="name-3" class="field-label-8">Meta Tag Description</label></div>
            </div>
            <div class="w-col w-col-6"><textarea placeholder="Exemplo" maxlength="5000" id="field-4" name="field-4" data-name="Field 4" class="w-input"></textarea></div>
          </div>
          <div class="div-block-105"></div>
          <div class="w-row">
            <div class="column-7 w-col w-col-6">
              <div><label for="name-3" class="field-label-8">Meta Tag Keywords</label>
                <div class="text-block-85">Separe as Palavras por Vírgula.</div>
              </div>
            </div>
            <div class="w-col w-col-6"><input type="text" class="w-input" maxlength="256" name="meta-tag" data-name="Meta Tag" placeholder="tag, tag, tag" id="meta-tag" required=""></div>
          </div>
          <div class="div-block-105"></div>
          <div class="w-row">
            <div class="column-7 w-col w-col-6">
              <div><label for="name-3" class="field-label-8">Tag Title</label></div>
            </div>
            <div class="w-col w-col-6"><input type="text" class="w-input" maxlength="256" name="Endere-o" data-name="Endere O" placeholder="Exemplo" id="Endere-o" required=""></div>
          </div>
          <div class="div-block-105"></div>
          <div class="div-block-64 _2"><a href="#" class="button-16 w-button">Adicionar Categoria</a></div>
        </form>
        <div class="w-form-done">
          <div>Thank you! Your submission has been received!</div>
        </div>
        <div class="w-form-fail">
          <div>Oops! Something went wrong while submitting the form.</div>
        </div>
      </div>
      <div class="w-layout-grid grid-34">
        <div id="w-node-7463bd4b231f-7abaa05a" class="div-block-86">
          <div>Categoria</div>
        </div>
        <div id="w-node-d2f68e82b248-7abaa05a" class="div-block-86 mobile-ocultar">
          <div>Associado à</div>
        </div>
        <div id="w-node-447e8f6b19c2-7abaa05a" class="div-block-86">
          <div>Status</div>
        </div>
        <div id="w-node-a060f799082c-7abaa05a" class="div-block-87">
          <div>Produtos</div>
        </div>
        <div id="w-node-f79be7d11acb-7abaa05a" class="div-block-87 mobile-ocultar">
          <div>Primeiros Passos</div>
        </div>
        <div class="div-block-87">
          <div class="form-block-4 w-form">
            <form id="email-form-2" name="email-form-2" data-name="Email Form 2"><select id="field-2" name="field-2" data-name="Field 2" class="select-field-6 w-select"><option value="Ativo">Ativo</option><option value="Inativo">Inativo</option></select></form>
            <div class="success-message w-form-done">
              <div>Thank you! Your submission has been received!</div>
            </div>
            <div class="error-message w-form-fail">
              <div>Oops! Something went wrong while submitting the form.</div>
            </div>
          </div>
        </div>
        <div class="div-block-87"><img src="images/edit.png" width="30" alt="" class="image-6"></div>
        <div id="w-node-494df37b944b-7abaa05a" class="div-block-87">
          <div>Produtos</div>
        </div>
        <div id="w-node-2d6b4058e01c-7abaa05a" class="div-block-87 mobile-ocultar">
          <div>Primeiros Passos</div>
        </div>
        <div class="div-block-87">
          <div class="form-block-4 w-form">
            <form id="email-form-2" name="email-form-2" data-name="Email Form 2"><select id="field-2" name="field-2" data-name="Field 2" class="select-field-6 w-select"><option value="Ativo">Ativo</option><option value="Inativo">Inativo</option></select></form>
            <div class="success-message w-form-done">
              <div>Thank you! Your submission has been received!</div>
            </div>
            <div class="error-message w-form-fail">
              <div>Oops! Something went wrong while submitting the form.</div>
            </div>
          </div>
        </div>
        <div class="div-block-87"><img src="images/edit.png" width="30" alt="" class="image-6"></div>
        <div id="w-node-5c5cc7fc8d1b-7abaa05a" class="div-block-87">
          <div>Produtos</div>
        </div>
        <div id="w-node-a9e17eb4301d-7abaa05a" class="div-block-87 mobile-ocultar">
          <div>Primeiros Passos</div>
        </div>
        <div class="div-block-87">
          <div class="form-block-4 w-form">
            <form id="email-form-2" name="email-form-2" data-name="Email Form 2"><select id="field-2" name="field-2" data-name="Field 2" class="select-field-6 w-select"><option value="Ativo">Ativo</option><option value="Inativo">Inativo</option></select></form>
            <div class="success-message w-form-done">
              <div>Thank you! Your submission has been received!</div>
            </div>
            <div class="error-message w-form-fail">
              <div>Oops! Something went wrong while submitting the form.</div>
            </div>
          </div>
        </div>
        <div class="div-block-87"><img src="images/edit.png" width="30" alt="" class="image-6"></div>
        <div id="w-node-af3abdd2c7b9-7abaa05a" class="div-block-87">
          <div>Produtos</div>
        </div>
        <div id="w-node-c9cab31522bf-7abaa05a" class="div-block-87 mobile-ocultar">
          <div>Primeiros Passos</div>
        </div>
        <div class="div-block-87">
          <div class="form-block-4 w-form">
            <form id="email-form-2" name="email-form-2" data-name="Email Form 2"><select id="field-2" name="field-2" data-name="Field 2" class="select-field-6 w-select"><option value="Ativo">Ativo</option><option value="Inativo">Inativo</option></select></form>
            <div class="success-message w-form-done">
              <div>Thank you! Your submission has been received!</div>
            </div>
            <div class="error-message w-form-fail">
              <div>Oops! Something went wrong while submitting the form.</div>
            </div>
          </div>
        </div>
        <div class="div-block-87"><img src="images/edit.png" width="30" alt="" class="image-6"></div>
        <div id="w-node-06322874b93c-7abaa05a" class="div-block-87">
          <div>Produtos</div>
        </div>
        <div id="w-node-87b071dc0082-7abaa05a" class="div-block-87 mobile-ocultar">
          <div>Primeiros Passos</div>
        </div>
        <div class="div-block-87">
          <div class="form-block-4 w-form">
            <form id="email-form-2" name="email-form-2" data-name="Email Form 2"><select id="field-2" name="field-2" data-name="Field 2" class="select-field-6 w-select"><option value="Ativo">Ativo</option><option value="Inativo">Inativo</option></select></form>
            <div class="success-message w-form-done">
              <div>Thank you! Your submission has been received!</div>
            </div>
            <div class="error-message w-form-fail">
              <div>Oops! Something went wrong while submitting the form.</div>
            </div>
          </div>
        </div>
        <div class="div-block-87"><img src="images/edit.png" width="30" alt="" class="image-6"></div>
      </div>
    </div>
    <div class="container-8 w-container">
      <div class="div-block-32">
        <div class="div-block-33">
          <div>&lt;</div>
        </div>
        <div class="div-block-33">
          <div>1</div>
        </div>
        <div class="div-block-33">
          <div>2</div>
        </div>
        <div class="div-block-33">
          <div>3</div>
        </div>
        <div class="div-block-33">
          <div>4</div>
        </div>
        <div class="div-block-33">
          <div>5</div>
        </div>
        <div class="div-block-33">
          <div>6</div>
        </div>
        <div class="div-block-33">
          <div>&gt;</div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="w-container">
      <div class="text-block-41 _2">Cadastrar Nova Questão</div>
      <div class="w-form">
        <form id="email-form" name="email-form" data-name="Email Form"><label for="name-2" class="field-label-3">Questão*</label><input type="text" class="w-input" maxlength="256" name="name-2" data-name="Name 2" placeholder="" id="name-2">
          <div class="div-block-105"></div><label for="email" class="field-label">Associada à categoria*</label><select id="field-3" name="field-3" data-name="Field 3" class="select-field-10 w-select"><option value="Primeiros Passos">Primeiros Passos</option><option value="Integrações com Ferramentas e Marketplace">Integrações com Ferramentas e Marketplace</option></select>
          <div class="div-block-105"></div><img src="images/WhatsApp-Image-2020-07-28-at-14.12.24.jpeg" srcset="images/WhatsApp-Image-2020-07-28-at-14.12.24-p-500.jpeg 500w, images/WhatsApp-Image-2020-07-28-at-14.12.24-p-800.jpeg 800w, images/WhatsApp-Image-2020-07-28-at-14.12.24-p-1080.jpeg 1080w, images/WhatsApp-Image-2020-07-28-at-14.12.24.jpeg 1131w" sizes="(max-width: 767px) 100vw, (max-width: 991px) 728px, 940px" alt="">
          <div class="div-block-64 _2"><a href="#" class="button-16 w-button">Adicionar Questão</a></div>
        </form>
        <div class="w-form-done">
          <div>Thank you! Your submission has been received!</div>
        </div>
        <div class="w-form-fail">
          <div>Oops! Something went wrong while submitting the form.</div>
        </div>
      </div>
      <div class="w-layout-grid grid-34">
        <div id="w-node-3d79b9231c12-7abaa05a" class="div-block-86">
          <div>Questão</div>
        </div>
        <div id="w-node-3d79b9231c15-7abaa05a" class="div-block-86 mobile-ocultar">
          <div>Categoria</div>
        </div>
        <div id="w-node-3d79b9231c18-7abaa05a" class="div-block-86">
          <div>Status</div>
        </div>
        <div id="w-node-3d79b9231c1b-7abaa05a" class="div-block-87">
          <div>1) Lorem Ipsum</div>
        </div>
        <div id="w-node-3d79b9231c1e-7abaa05a" class="div-block-87 mobile-ocultar">
          <div>Primeiros Passos</div>
        </div>
        <div class="div-block-87">
          <div class="form-block-4 w-form">
            <form id="email-form-2" name="email-form-2" data-name="Email Form 2"><select id="field-2" name="field-2" data-name="Field 2" class="select-field-6 w-select"><option value="Ativo">Ativo</option><option value="Inativo">Inativo</option></select></form>
            <div class="success-message w-form-done">
              <div>Thank you! Your submission has been received!</div>
            </div>
            <div class="error-message w-form-fail">
              <div>Oops! Something went wrong while submitting the form.</div>
            </div>
          </div>
        </div>
        <div class="div-block-87"><img src="images/edit.png" width="30" alt="" class="image-6"></div>
        <div id="w-node-3d79b9231c2d-7abaa05a" class="div-block-87">
          <div>1) Lorem Ipsum</div>
        </div>
        <div id="w-node-3d79b9231c30-7abaa05a" class="div-block-87 mobile-ocultar">
          <div>Primeiros Passos</div>
        </div>
        <div class="div-block-87">
          <div class="form-block-4 w-form">
            <form id="email-form-2" name="email-form-2" data-name="Email Form 2"><select id="field-2" name="field-2" data-name="Field 2" class="select-field-6 w-select"><option value="Ativo">Ativo</option><option value="Inativo">Inativo</option></select></form>
            <div class="success-message w-form-done">
              <div>Thank you! Your submission has been received!</div>
            </div>
            <div class="error-message w-form-fail">
              <div>Oops! Something went wrong while submitting the form.</div>
            </div>
          </div>
        </div>
        <div class="div-block-87"><img src="images/edit.png" width="30" alt="" class="image-6"></div>
        <div id="w-node-3d79b9231c3f-7abaa05a" class="div-block-87">
          <div>1) Lorem Ipsum</div>
        </div>
        <div id="w-node-3d79b9231c42-7abaa05a" class="div-block-87 mobile-ocultar">
          <div>Primeiros Passos</div>
        </div>
        <div class="div-block-87">
          <div class="form-block-4 w-form">
            <form id="email-form-2" name="email-form-2" data-name="Email Form 2"><select id="field-2" name="field-2" data-name="Field 2" class="select-field-6 w-select"><option value="Ativo">Ativo</option><option value="Inativo">Inativo</option></select></form>
            <div class="success-message w-form-done">
              <div>Thank you! Your submission has been received!</div>
            </div>
            <div class="error-message w-form-fail">
              <div>Oops! Something went wrong while submitting the form.</div>
            </div>
          </div>
        </div>
        <div class="div-block-87"><img src="images/edit.png" width="30" alt="" class="image-6"></div>
        <div id="w-node-3d79b9231c51-7abaa05a" class="div-block-87">
          <div>1) Lorem Ipsum</div>
        </div>
        <div id="w-node-3d79b9231c54-7abaa05a" class="div-block-87 mobile-ocultar">
          <div>Primeiros Passos</div>
        </div>
        <div class="div-block-87">
          <div class="form-block-4 w-form">
            <form id="email-form-2" name="email-form-2" data-name="Email Form 2"><select id="field-2" name="field-2" data-name="Field 2" class="select-field-6 w-select"><option value="Ativo">Ativo</option><option value="Inativo">Inativo</option></select></form>
            <div class="success-message w-form-done">
              <div>Thank you! Your submission has been received!</div>
            </div>
            <div class="error-message w-form-fail">
              <div>Oops! Something went wrong while submitting the form.</div>
            </div>
          </div>
        </div>
        <div class="div-block-87"><img src="images/edit.png" width="30" alt="" class="image-6"></div>
        <div id="w-node-729b8f1e7eaf-7abaa05a" class="div-block-87">
          <div>1) Lorem Ipsum</div>
        </div>
        <div id="w-node-3d79b9231c66-7abaa05a" class="div-block-87 mobile-ocultar">
          <div>Primeiros Passos</div>
        </div>
        <div class="div-block-87">
          <div class="form-block-4 w-form">
            <form id="email-form-2" name="email-form-2" data-name="Email Form 2"><select id="field-2" name="field-2" data-name="Field 2" class="select-field-6 w-select"><option value="Ativo">Ativo</option><option value="Inativo">Inativo</option></select></form>
            <div class="success-message w-form-done">
              <div>Thank you! Your submission has been received!</div>
            </div>
            <div class="error-message w-form-fail">
              <div>Oops! Something went wrong while submitting the form.</div>
            </div>
          </div>
        </div>
        <div class="div-block-87"><img src="images/edit.png" width="30" alt="" class="image-6"></div>
      </div>
    </div>
    <div class="container-8 w-container">
      <div class="div-block-32">
        <div class="div-block-33">
          <div>&lt;</div>
        </div>
        <div class="div-block-33">
          <div>1</div>
        </div>
        <div class="div-block-33">
          <div>2</div>
        </div>
        <div class="div-block-33">
          <div>3</div>
        </div>
        <div class="div-block-33">
          <div>4</div>
        </div>
        <div class="div-block-33">
          <div>5</div>
        </div>
        <div class="div-block-33">
          <div>6</div>
        </div>
        <div class="div-block-33">
          <div>&gt;</div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-4">
    <div class="container-5 w-container">
      <div class="div-block-25"><img src="images/Logo---Top-Bar.png" width="194" alt="">
        <div class="text-block-19">I All Rights Reserved Copyright 2019</div>
      </div>
      <div class="div-block-26"><a href="#" class="link-3"> Sobre I</a><a href="#" class="link-3">Privacidade I </a><a href="#" class="link-3 _2">Central de Ajuda </a></div>
    </div>
  </div>
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=5ec829d6c4dfffb40b021510" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="js/webflow.js" type="text/javascript"></script>