
<div class="section-8">
  <div class="container-6 w-container">
    <div class="w-layout-grid grid-7">
      <div class="text-block-21">Produto &gt; Cadastro de Novo Produto</div>
      <div class="text-block-20">Hoje, <strong>{{myDate}}</strong></div>
    </div>
  </div>
  <div class="container-9 w-container">
    <div class="w-layout-grid grid-18">
      <div id="w-node-dfe58b672bfa-906d572b" class="div-block-62">
        <div class="div-block-61"></div>
        <div class="div-block-60"></div>
        <div class="text-block-56">Passo 2</div>
      </div>
      <div id="w-node-41613f8e32ae-906d572b" class="div-block-62">
        <div class="div-block-61"></div>
        <div class="div-block-60 cinza"></div>
        <div class="text-block-56 cinza">Passo 4</div>
      </div>
      <div id="w-node-c82bc545059c-906d572b" class="div-block-62">
        <div class="div-block-61"></div>
        <div class="div-block-60 cinza"></div>
        <div class="text-block-56 cinza">Passo 5</div>
      </div>
      <div id="w-node-616a33ec2589-906d572b" class="div-block-62">
        <div class="div-block-61"></div>
        <div class="div-block-60 cinza"></div>
        <div class="text-block-56 cinza">Passo 6</div>
      </div>
      <div id="w-node-d29e932fa8fe-906d572b" class="div-block-62">
        <div class="div-block-61"></div>
        <div class="div-block-60 cinza"></div>
        <div class="text-block-56 cinza">Passo 3</div>
      </div>
      <div id="w-node-d233e4bf98dc-906d572b" class="div-block-62">
        <div class="div-block-61"></div>
        <div class="div-block-60"></div>
        <div class="text-block-56">Passo 1</div>
      </div>
    </div>
    <div class="div-block-68">
      <div class="div-block-70">
        <div class="w-form">
          <form id="email-form" name="email-form" data-name="Email Form">
            <div>
              <div class="div-block-27"><input type="text" class="text-field _2 w-input" maxlength="256" name="name-5" data-name="Name 5" placeholder="" id="name-5">
                <div class="div-block-28"><img src="../../assets/images/064-magnifying-glass-searcher.png" srcset="../../assets/images/064-magnifying-glass-searcher-p-500.png 500w, ../../assets/images/064-magnifying-glass-searcher.png 512w" sizes="30px" alt="" class="image-3"></div>
              </div>
              <div class="text-block-61">Categoria &gt; Subcategoria 1 &gt; Subcategoria 2 &gt; Subcategoria 3 &gt; Subcategoria 4 &gt; Subcategoria 5</div>
            </div>
          </form>
          <div class="w-form-done">
            <div>Thank you! Your submission has been received!</div>
          </div>
          <div class="w-form-fail">
            <div>Oops! Something went wrong while submitting the form.</div>
          </div>
        </div>
      </div>
      <div class="columns-2 w-row">
        <div class="column-3 w-col w-col-6">
          <div>
            <div class="text-block-59">#123456 - Categorias Gerais</div>
            <div class="div-block-66"></div>
          </div>
          <div class="div-block-67" *ngFor="let category of categories index as i; first as isFirst">
            <div class="text-block-60">{{category.name}} </div><a  class="button-10 w-button" (click)="addCategory(category.id,category);" >Adicionar</a>
          </div>


        </div>
        <div class="column-2 w-col w-col-6">
          <div class="text-block-59">Categoria(s) Selecionada(s)</div>
          <div class="div-block-66"></div>
          <div class="div-block-67" *ngFor="let productCategory of  product.categories " >
            <div class="text-block-60"></div>{{productCategory.name}}<a href="#" class="button-10 _2 w-button" (click)="removeCategory(productCategory.id);" >Remover</a>
          </div>
      </div>
     </div>
     <div class="div-block-69"><a (click)="nextStep();" class="button-11 w-button">Continuar</a></div>
  </div>
</div>
