.div-block-28 {
    display: flex;
    width: 32px;
    height: 32px;
    margin-left: 10px;
    padding-left: 0px;
    align-items: center;
    border-radius: 10px;
    background-color: #ff8400;
    margin-bottom: 17px;
}
.text-block-61 {
    font-size: 12px;
    margin-top: -10px;
}