.w-checkbox {
    display: block;
    margin-bottom: 5px;
    padding-left: 0px;
}
.w-form-label {
    margin-left: 7px;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}