
    <div class="container-6 w-container">
      <div class="w-layout-grid grid-7">
        <div class="text-block-21">Início &gt; Relatórios &gt; Receba Novidades</div>
        <div class="text-block-20">Hoje, <strong>{{myDate}}</strong></div>
      </div>
    </div>
    <div class="container-14 w-container">
      <div class="text-block-41">Receba Novidades</div>
      <div class="div-block-40 _2 _24 _6">
        <p class="paragraph-4 _2"><strong>O que é receba Novidades?<br></strong>Um Formulário de Captura de nome e e-mail, localizado no rodapé de todas as páginas, com potenciais clientes.</p>
        <p class="paragraph-4 _2"><strong>O que tem no arquivo?<br></strong>O nome dos clientes e o e-mail separados por uma coluna em um arquivo .xml (excel), reconhecido como arquivo preparado para importação em plataformas para disparos de e-mail marketing e funil de conversão.</p>
      </div>
    </div>
    <div class="container-19 _1 w-container">
      <div class="form-block-7 w-form">

          <div class="w-row">
            <div class="column-7 w-col w-col-6">
              <div><label for="name" class="field-label-8">Exportar Arquivo</label>
                <div class="text-block-85">Salvar o arquivo .xml no computador</div>
              </div>
            </div>
            <div class="w-col w-col-6">
              <div class="div-block-65 esquerda"><input  (click)=" getExcel()" value="Exportar Agora" data-wait="Preaparando Arquivos" class="submit-button-4 _2 w-button"></div>
            </div>
          </div>
      </div>
    </div>
