.div-block-65.esquerda {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
.submit-button-4 {
    padding-right: 40px;
    padding-left: 40px;
    border-radius: 10px;
    background-color: #2eaa7f;
    font-weight: 700;
    text-align: center;
    width: 40%;
    margin-top: 50px;
}

.text-block-85 {
    padding-bottom: 5px;
    color: #a1a1a1;
    font-size: 12px;
    line-height: 16px;
}

.text-block-41 {
    color: #ff9500;
    font-size: 26px;
    line-height: 32px;
    font-weight: 700;
    margin-bottom: -10px;
}

.paragraph-4._2 {
    padding-top: 0px;
}
label {
    display: block;
    margin-top: 50px;
    margin-bottom: 0px;
    font-weight: bold;
}
.w-form {
    margin: 0 0 40px;
}
.div-block-40._2._24 {
    margin-top: 30px;
    margin-bottom: 20px;
}
