<div class="section-14">
  <div class="container-6 w-container">
    <div class="w-layout-grid grid-7">
      <div class="text-block-21">Produto &gt; Cadastro de Serviço</div>
      <div class="text-block-20">Hoje, <strong>{{myDate}}</strong></div>
    </div>
  </div>
  <div class="container-9 w-container">
    <div class="w-layout-grid grid-18 servi-o">
      <div id="w-node-dfe58b672bfa-21606a38" class="div-block-62">
        <div class="div-block-61"></div>
        <div class="div-block-60"></div>
        <div class="text-block-56">Passo 2</div>
      </div>
      <div id="w-node-d29e932fa8fe-21606a38" class="div-block-62">
        <div class="div-block-61"></div>
        <div class="div-block-60 cinza"></div>
        <div class="text-block-56 cinza">Passo 3</div>
      </div>
      <div id="w-node-d233e4bf98dc-21606a38" class="div-block-62">
        <div class="div-block-61"></div>
        <div class="div-block-60"></div>
        <div class="text-block-56">Passo 1</div>
      </div>
    </div>
    <div>
      <div class="form-block-3 w-form">
        <form id="email-form" name="email-form" data-name="Email Form"><label class="field-label-6">Dias em que o item estará disponível:</label>
          <div class="w-layout-grid grid-22"><label id="w-node-7f26276fbc82-21606a38" class="w-checkbox checkbox-field"><input type="checkbox" id="Segunda" name="Segunda" data-name="Segunda" class="w-checkbox-input"><span for="Segunda" class="w-form-label">Segunda</span></label><label id="w-node-09648dbd4f3c-21606a38" class="w-checkbox checkbox-field"><input type="checkbox" id="Segunda-5" name="Segunda-5" data-name="Segunda 5" class="w-checkbox-input"><span for="Segunda-5" class="w-form-label">Terça</span></label><label id="w-node-9d050b4c4200-21606a38" class="w-checkbox checkbox-field"><input type="checkbox" id="Segunda-4" name="Segunda-4" data-name="Segunda 4" class="w-checkbox-input"><span for="Segunda-4" class="w-form-label">Quarta</span></label><label id="w-node-1bcdb341ae7e-21606a38" class="w-checkbox checkbox-field"><input type="checkbox" id="Segunda-3" name="Segunda-3" data-name="Segunda 3" class="w-checkbox-input"><span for="Segunda-3" class="w-form-label">Quinta</span></label><label id="w-node-2e14a4152c0f-21606a38" class="w-checkbox checkbox-field"><input type="checkbox" id="Segunda-2" name="Segunda-2" data-name="Segunda 2" class="w-checkbox-input"><span for="Segunda-2" class="w-form-label">Sexta</span></label><label id="w-node-c2b39124ac79-21606a38" class="w-checkbox checkbox-field"><input type="checkbox" id="Segunda-2" name="Segunda-2" data-name="Segunda 2" class="w-checkbox-input"><span for="Segunda-6" class="w-form-label">Sábado</span></label><label id="w-node-dfb9af2036a8-21606a38" class="w-checkbox checkbox-field"><input type="checkbox" id="Segunda-2" name="Segunda-2" data-name="Segunda 2" class="w-checkbox-input"><span for="Segunda-6" class="w-form-label">Domingo</span></label></div>
          <div class="w-layout-grid grid-23"><label id="w-node-50a776b21b63-21606a38" class="field-label-7">Horários em que o items estará disponível:</label><label id="w-node-b22e95bddcb4-21606a38" class="field-label-7">Período 1<br>Início</label>
            <div id="w-node-98ad2db0ca2b-21606a38" class="div-block-82"><select id="field" name="field" class="select-field-3 w-select"><option value="Sempre Disponível">Sempre Disponível</option><option value="Segunda">Segunda</option><option value="Terça">Terça</option><option value="Quarta">Quarta</option><option value="Quinta">Quinta</option><option value="Sexta">Sexta</option><option value="Sábado">Sábado</option><option value="Domingo">Domingo</option></select></div>
            <div id="w-node-1a08955f7201-21606a38" class="div-block-82"><input type="number" class="w-input" maxlength="256" name="field-2" data-name="Field 2" placeholder="00:00" id="field-2" required=""></div><label id="w-node-b8d4646f8e3f-21606a38" class="field-label-7">Período 1<br>Fim</label>
            <div id="w-node-3876f6a3bafc-21606a38" class="div-block-82"><input type="number" class="w-input" maxlength="256" name="field-2" data-name="Field 2" placeholder="00:00" id="field-2" required=""></div><label id="w-node-9556a65d06e8-21606a38" class="field-label-7">Período 2<br>Início</label>
            <div id="w-node-1b9342332113-21606a38" class="div-block-82"><input type="number" class="w-input" maxlength="256" name="field-2" data-name="Field 2" placeholder="00:00" id="field-2" required=""></div><label id="w-node-9718cfe5f76f-21606a38" class="field-label-7">Período 2<br>Fim</label>
            <div id="w-node-b7c3c57981c8-21606a38" class="div-block-82"><input type="number" class="w-input" maxlength="256" name="field-2" data-name="Field 2" placeholder="00:00" id="field-2" required=""></div>
          </div>
          <div class="div-block-81"><a href="cadastrar-servico-passo-3.html" class="button-16 w-button">Continuar</a></div>
        </form>
        <div class="w-form-done">
          <div>Thank you! Your submission has been received!</div>
        </div>
        <div class="w-form-fail">
          <div>Oops! Something went wrong while submitting the form.</div>
        </div>
      </div>
    </div>
  </div>
</div>
