#w-node-7f26276fbc82-21606a38 {
    justify-self: left;
    margin-left: 10px;
}
.w-form-label {
    margin-left: 7px;
}
.grid-22 {
    margin-right: 10px;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}