.grid-33 {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
}
.text-block-90 {
    margin-top: 20px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 20px;
    line-height: 25px;
    font-weight: 700;
    text-align: center;
}
.div-block-118 {
    width: 100%;
    height: 180px;
    background-color: #252525;
    background-image: url(../../assets/images/002-delivery-box.png);
    background-position: 50% 50%;
    background-size: auto;
    background-repeat: no-repeat;
}
.div-block-118.bold-text-2 {
    background-image: url(../../assets/images/003-boxes.png);
}
.div-block-118._3 {
    background-image: url(../../assets/images/001-credit-card.png);
}
.div-block-118._4 {
    background-image: url(../../assets/images/004-megaphone.png);
}
.div-block-118._5 {
    background-image: url(../../assets/images/005-check.png);
}
.div-block-118._6 {
    background-image: url(../../assets/images/006-customer.png);
}
.div-block-118._7 {
    background-image: url(../../assets/images/007-best-employee.png);
}
.div-block-118._8 {
    background-image: url(../../assets/images/008-settings-gears.png);
}
.div-block-118._9 {
    background-image: url(../../assets/images/009-lock-padlock-symbol-for-security-interface.png);
}
.div-block-118._10 {
    background-image: url(../../assets/images/368px-Google_2015_logo.svg.png);
}
.div-block-118._11 {
    background-image: url(../../assets/images/google-shopping-logo-png.png);
}
.div-block-118._12 {
    background-image: url(../../assets/images/icon_plugin_sm.png);
}
.div-block-118._13 {
    background-image: url(../../assets/images/correios-logo-1-1.png);
}
.div-block-118._14 {
    background-image: url(../../assets/images/jadlog-logo.png);
}
.div-block-118._15 {
    background-image: url(../../assets/images/Freenet_AG-Logo.wine.png);
}
.div-block-118._16 {
    background-image: url(../../assets/images/mercado-livre-logo-4-1.png);
}
.div-block-118._17 {
    background-image: url(../../assets/images/Tiny-ERP-logo-completo.png);
}
.div-block-118._18 {
    background-image: url(../../assets/images/logo-bling.png);
}
.div-block-118._19 {
    background-image: url(../../assets/images/logo2019_escura.png);
}
.div-block-119 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 300px;
    padding-bottom: 40px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-color: #d8d8d8;
    box-shadow: 0 4px 7px -5px #7a7a7a;
    color: #353535;
    text-decoration: none;
    cursor: pointer;
}
.t-tulo-conteiner {
    margin-bottom: 20px;
    color: #8f8f8f;
    font-size: 25px;
    line-height: 30px;
    font-weight: 400;
}
h1 {
    font-size: 38px;
    line-height: 44px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.search {
    display: flex;
    margin-bottom: 50px;
}
.search-button {
    width: 50px;
    height: 39px;
    border-left: 1px solid #b3b3b3;
    background-color: #ff891a;
    background-image: url(../../assets/images/064-magnifying-glass-searcher.png);
    background-position: 50% 50%;
    background-size: 20px;
    background-repeat: no-repeat;
}
.section-22 {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #1d1d1d;
    color: #131313;
}
.section-23 {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.61)), to(rgba(0, 0, 0, 0.61))), url(../../assets/images/e-commerce-envox.jpg);
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.61), rgba(0, 0, 0, 0.61)), url(../../assets/images/e-commerce-envox.jpg);
    background-position: 0px 0px, 50% 4%;
    background-size: auto, cover;
}
.w-col-9 {
    width: 75%;
}
.w-col {
    position: relative;
    float: left;
    width: 50%;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: -170px;
}
.text-block-91 {
    color: #ff6309;
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
}
.text-block-92 {
    margin-top: 10px;
    color: #fff;
    font-size: 35px;
    line-height: 35px;
    font-weight: 700;
}
.text-block-93 {
    width: 150%;
    margin-top: 20px;
    color: #969696;
    font-size: 20px;
    line-height: 25px;
}
.button-24 {
    margin-top: 20px;
    border-radius: 20px;
    background-color: #ff6309;
}
.container-22 {
    padding: 20px 140px;
}
.w-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 940px;
}
img {
    max-width: 50%;
    vertical-align: middle;
    display: inline-block;
}
.container-21 {
    margin-top: 40px;
    margin-bottom: 40px;
}
.container-23 {
    display: flex;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 60px;
    padding-bottom: 60px;    
    flex-direction: column;
    align-items: center;
}
.banner-central {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    font-size: 35px;
    line-height: 40px;
    text-align: center;
}
.button-24._2 {
    margin-top: 40px;
    border-radius: 50px;
    font-size: 20px;
    line-height: 35px;
}