  <div class="section-26">
    <div class="container-6 w-container">
      <div class="w-layout-grid grid-7">
        <div class="text-block-21">Início &gt; Gerenciar &gt; Geral</div>
        <div class="text-block-20">Hoje, <strong>{{myDate}}</strong></div>
      </div>
    </div>
  </div>
  <div>
    <div class="w-container">
      <form action="/search" class="search w-form">
        <input [(ngModel)]="term" type="search" class="search-input w-input" maxlength="256" name="query" placeholder="Oi, como podemos ajudar?" id="search" required=""><input type="submit" value="" class="search-button w-button"></form>
      <h1>Comece Aqui</h1>
    </div>
    <div class="w-container">
      <h2 class="t-tulo-conteiner">Primeiros Passos</h2>
      <div class="w-layout-grid grid-33">
        <a id="w-node-3d5f6d3aca6a-2338641b" href="central-de-ajuda-interna.html" class="div-block-119 w-inline-block">
          <div class="div-block-118"></div>
          <div class="text-block-90">Produtos</div>
        </a>
        <a id="w-node-4294e513f167-2338641b" href="central-de-ajuda-interna.html" class="div-block-119 w-inline-block">
          <div class="div-block-118 bold-text-2"></div>
          <div class="text-block-90">Estoque</div>
        </a>
        <a id="w-node-e888354a5751-2338641b" href="central-de-ajuda-interna.html" class="div-block-119 w-inline-block">
          <div class="div-block-118 _3"></div>
          <div class="text-block-90">Formas de Pagamento</div>
        </a>
        <a id="w-node-68bbb5a9dbaa-2338641b" href="central-de-ajuda-interna.html" class="div-block-119 w-inline-block">
          <div class="div-block-118 _4"></div>
          <div class="text-block-90">Promoções</div>
        </a>
        <a id="w-node-055a31ea3985-2338641b" href="central-de-ajuda-interna.html" class="div-block-119 w-inline-block">
          <div class="div-block-118 _5"></div>
          <div class="text-block-90">Gerenciamento de Conteúdo</div>
        </a>
        <a id="w-node-8cb58e1299f5-2338641b" href="central-de-ajuda-interna.html" class="div-block-119 w-inline-block">
          <div class="div-block-118 _6"></div>
          <div class="text-block-90">Pedidos</div>
        </a>
        <a id="w-node-bb795eed8ed6-2338641b" href="central-de-ajuda-interna.html" class="div-block-119 w-inline-block">
          <div class="div-block-118 _7"></div>
          <div class="text-block-90">Mensagens e Avaliações</div>
        </a>
        <a id="w-node-c8c9b2f56621-2338641b" href="central-de-ajuda-interna.html" class="div-block-119 w-inline-block">
          <div class="div-block-118 _8"></div>
          <div class="text-block-90">Condigurações Gerais</div>
        </a>
        <a id="w-node-5635b0222dde-2338641b" href="central-de-ajuda-interna.html" class="div-block-119 w-inline-block">
          <div class="div-block-118 _9"></div>
          <div class="text-block-90">Usuários e Permissões</div>
        </a>
      </div>
    </div>
    <div class="container-21 w-container">
      <h2 class="t-tulo-conteiner">Integrações com Ferramentas e MarketPlaces</h2>
      <div class="w-layout-grid grid-33">
        <a id="w-node-46fd6c2e5e4a-2338641b" href="central-de-ajuda-interna.html" class="div-block-119 w-inline-block">
          <div class="div-block-118 _10"></div>
          <div class="text-block-90">Google Analytics, Adwords,Tag Manager</div>
        </a>
        <a id="w-node-46fd6c2e5e4e-2338641b" href="central-de-ajuda-interna.html" class="div-block-119 w-inline-block">
          <div class="div-block-118 _11"></div>
          <div class="text-block-90">Google Shopping Catálogo</div>
        </a>
        <a id="w-node-46fd6c2e5e52-2338641b" href="central-de-ajuda-interna.html" class="div-block-119 w-inline-block">
          <div class="div-block-118 _12"></div>
          <div class="text-block-90">Facebook Pixel</div>
        </a>
        <a id="w-node-46fd6c2e5e56-2338641b" href="central-de-ajuda-interna.html" class="div-block-119 w-inline-block">
          <div class="div-block-118 _13"></div>
          <div class="text-block-90">Correios</div>
        </a>
        <a id="w-node-46fd6c2e5e5a-2338641b" href="central-de-ajuda-interna.html" class="div-block-119 w-inline-block">
          <div class="div-block-118 _14"></div>
          <div class="text-block-90">JadLog</div>
        </a>
        <a id="w-node-46fd6c2e5e5e-2338641b" href="central-de-ajuda-interna.html" class="div-block-119 w-inline-block">
          <div class="div-block-118 _15"></div>
          <div class="text-block-90">Freenet</div>
        </a>
        <a id="w-node-46fd6c2e5e62-2338641b" href="#" class="div-block-119 w-inline-block">
          <div class="div-block-118 _16"></div>
          <div class="text-block-90">Mercado Livre <span class="text-span-15">(em breve)</span></div>
        </a>
        <a id="w-node-46fd6c2e5e66-2338641b" href="#" class="div-block-119 w-inline-block">
          <div class="div-block-118 _17"></div>
          <div class="text-block-90">ERP Tiny <span class="text-span-14">(em breve)</span></div>
        </a>
        <a id="w-node-46fd6c2e5e6a-2338641b" href="#" class="div-block-119 w-inline-block">
          <div class="div-block-118 _18"></div>
          <div class="text-block-90">ERP Bling <span class="text-span-16">(em breve)</span></div>
        </a>
        <a id="w-node-f6c8d5335514-2338641b" href="#" class="div-block-119 w-inline-block">
          <div class="div-block-118 _19"></div>
          <div class="text-block-90">Integradora Ideris <span class="text-span-17">(em breve)</span></div>
        </a>
      </div>
    </div>
  </div>
  <div class="section-22">
    <div class="container-22 w-container">
      <div class="w-row">
        <div class="w-col w-col-3"><img src="../../assets/images/comment.png" loading="lazy" alt=""></div>
        <div class="w-col w-col-9">
          <div class="text-block-91">Não achou o que está procurando?</div>
          <div class="text-block-92">Fale com nossos especialistas</div>
          <div class="text-block-93">Entre em contato caso você tenha algo específico<br>a perguntar sobre a plataforma Abidine.shop</div><a href="#" class="button-24 w-button">Entrar em Contato</a></div>
      </div>
    </div>
  </div>
  <div class="section-23">
    <div class="container-23 w-container">
      <h3 class="banner-central">Conheça um novo jeito de fazer Ecommerce</h3><a href="index.html" class="button-24 _2 w-button">Venha para a<strong> Abidine.shop!</strong></a></div>
  </div>
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=5ec829d6c4dfffb40b021510" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="js/webflow.js" type="text/javascript"></script>
