
  <div class="section-19">
    <div class="container-6 w-container">
      <div class="w-layout-grid grid-7">
        <div class="text-block-21">Produto &gt; Lista de Anúncios</div>
        <div class="text-block-20">Hoje, <strong>{{myDate}}</strong></div>
      </div>
    </div>
    <div class="w-container">
      <div class="div-block-70">
        <div class="w-form">
          <form id="email-form" name="email-form" data-name="Email Form">
            <div class="div-block-85">
              <div class="div-block-27">
                <input type="text" class="text-field _2 busca w-input" maxlength="256" name="name-5" data-name="Name 5" placeholder="" id="name-5"
                (input)="setTerm($event)">
                <div class="div-block-28">
                  <img src="../../assets/images/064-magnifying-glass-searcher.png" srcset="../../assets/images/064-magnifying-glass-searcher-p-500.png 500w, ../../assets/images/064-magnifying-glass-searcher.png 512w" sizes="30px" alt="" class="image-3"></div>
              </div>
              <a [routerLink]="['/produtosform1/']"class="button-17 w-button">Novo Anúncio</a>
            </div>
          </form>
          <div class="w-form-done">
            <div>Thank you! Your submission has been received!</div>
          </div>
          <div class="w-form-fail">
            <div>Oops! Something went wrong while submitting the form.</div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-11 w-container">
      <div class="w-layout-grid grid-28">
        <div class="div-block-86 mobile-ocultar">
          <div>Produto</div>
        </div>
        <div id="w-node-31348062e560-9d5ea51f" class="div-block-86">
          <div>Título</div>
        </div>
        <div class="div-block-86 ocultar">
          <div>Descrição</div>
        </div>
        <div id="w-node-37cca42ebb4f-9d5ea51f" class="div-block-86">
          <div>Preço de Venda</div>
        </div>
        <div id="w-node-ef1cea1be849-9d5ea51f" class="div-block-86">
          <div>Status</div>
        </div>

      </div>

          <tr *ngFor="let product of products |filter:term"  [routerLink]="['/editarprodutosform1/',product._id]">
            <td >
             <img  src="../../assets/images/Produtos-Mais-vendidos.png" alt="" class="image-7">
            </td>
            <td>{{product.name}}</td>
            <td>
              <p style="padding-left: 64px;">{{product.fulldescription}}</p>
            </td>
              <td style= "    width: 17%; color: #11a811;font-size: 17px;line-height: 25px;font-weight: 700;
          ">R$ {{product.price}},00</td>
              <td>
              <div class="form-block-4 w-form"style="
              padding-right: 39px;">
            <form id="email-form-2" name="email-form-2" data-name="Email Form 2">
              <select id="field-3" name="field-3" data-name="Field 3" class="select-field-6 w-select">
              <option value="Ativo">Ativo</option>
              <option value="Inativo">Inativo</option></select></form>

          </div>
        </td>
          <td>
          <div>
            <div class="div-block-87 _2"><img src="../../assets/images/edit.png" width="30" alt="" class="image-6"></div>
          </div>
        </td></tr>




    <div class="container-8 w-container">
      <div class="div-block-32">
        <div class="div-block-33">
          <div>&lt;</div>
        </div>
        <div class="div-block-33">
          <div>1</div>
        </div>
        <div class="div-block-33">
          <div>2</div>
        </div>
        <div class="div-block-33">
          <div>3</div>
        </div>
        <div class="div-block-33">
          <div>4</div>
        </div>
        <div class="div-block-33">
          <div>5</div>
        </div>
        <div class="div-block-33">
          <div>6</div>
        </div>
        <div class="div-block-33">
          <div>&gt;</div>
        </div>
      </div>
    </div>
