td,
th {

  padding: 20px;
  padding-top: 0px;
  padding-right: 0px;
  border-left: 0px ;
  border-right: 0px ;
  border-bottom: 0px ;

}
.image-7 {
  vertical-align: text-top;
  width: 75px;
}
.image-6 {
    margin-top: 4px;
    padding: 6px;
    border-radius: 5px;
    background-color: #ff8400;
}

.w-input, .w-select {
    width: 150px;
}
.select-field-6 {
    width: 128px;
    margin-right: -60px;
    margin-left: 17px
}