  <div>
    <div class="container-6 w-container">
      <div class="w-layout-grid grid-7">
        <div class="text-block-21">Gerenciar &gt; Cadastrar Nova Empresa</div>
        <div class="text-block-20">Hoje, <strong>{{myDate}}</strong></div>
      </div>
    </div>
    <div class="container-14 w-container">
      <div class="text-block-41">Cadastrar Nova Empresa</div>
    </div>
    <div class="container-19 w-container">
      <div>
        <div class="w-form">
          <form id="email-form" name="email-form" data-name="Email Form">
            <div class="text-block-87">A Empresa</div><label for="name" class="field-label-2">Nome da empresa*</label><input type="text" class="w-input" maxlength="256" name="name" data-name="Name" placeholder="" id="name"><label for="email" class="field-label">Endereço*</label><input type="email" class="w-input" maxlength="256" name="email" data-name="Email" placeholder="" id="email" required="">
            <div class="w-row">
              <div class="column-10 w-col w-col-4">
                <div><label for="email-3" class="field-label">Bairro*</label><input type="email" class="w-input" maxlength="256" name="email-2" data-name="Email 2" placeholder="" id="email-2" required=""></div>
              </div>
              <div class="column-11 w-col w-col-4">
                <div><label for="email-3" class="field-label">Cidade*</label><input type="email" class="w-input" maxlength="256" name="email-2" data-name="Email 2" placeholder="" id="email-2" required=""></div>
              </div>
              <div class="column-9 w-col w-col-4">
                <div style="width: 50%;"><label for="Cidade" class="field-label">Estado*</label><input type="text" class="w-input" maxlength="256" name="Cidade" data-name="Cidade" id="Cidade" required=""></div>
                <div class="div-block-116" style="width:50%;"><label for="email-3" class="field-label">País*</label><input type="text" class="w-input" maxlength="256" name="Cidade-2" data-name="Cidade 2" id="Cidade-2" required=""></div>
              </div>
            </div><label for="email" class="field-label">Logo da Empresa* (Limite de até 1MB - Tamanho adequado: 200x200px)</label>
            <div class="div-block-65"><input type="file" id="customFile" name="uploadedImage" class="custom-file-input"><button type="submit" class="btn btn-primary">Upload</button></div><label for="Telefone" class="field-label">Telefone da empresa*</label><input type="tel" class="text-field-10 w-input" maxlength="256" name="Telefone" data-name="Telefone" placeholder="" id="Telefone" required="">
            <div class="text-block-87">Responsável Legal</div><label for="name-2" class="field-label-2">Nome Completo*</label><input type="text" class="w-input" maxlength="256" name="name-2" data-name="Name 2" placeholder="" id="name-2"><label for="name-2" class="field-label-2">CPF*</label><input type="text" class="w-input" maxlength="256" name="name-3" data-name="Name 3" placeholder="" id="name-3">
            <div class="div-block-64 _2"><a href="cadastrar-produto-passo-2.html" class="button-16 w-button">Cadastrar</a></div>
          </form>
          <div class="w-form-done">
            <div>Thank you! Your submission has been received!</div>
          </div>
          <div class="w-form-fail">
            <div>Oops! Something went wrong while submitting the form.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-4">
    <div class="container-5 w-container">
      <div class="div-block-25"><img src="../../assets/images/Logo---Top-Bar.png" width="194" alt="">
        <div class="text-block-19">I All Rights Reserved Copyright 2019</div>
      </div>
      <div class="div-block-26"><a href="#" class="link-3"> Sobre I</a><a href="#" class="link-3">Privacidade I </a><a href="#" class="link-3 _2">Central de Ajuda </a></div>
    </div>
  </div>
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=5ec829d6c4dfffb40b021510" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="js/webflow.js" type="text/javascript"></script>