.column-9 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-right: 5px;
    padding-left: 5px;
}
.column-10 {
    padding-right: 5px;
    padding-left: 5px;
}
.column-11 {
    padding-right: 5px;
    padding-left: 5px;
}
.div-block-116 {
    padding-left: 10px;
}
.field-label {
    width: 455px;
}
.text-block-87 {
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: 700;
}
.custom-file-input {
    margin-right: 5px;
}