
  <div class="container-6 w-container">
    <div class="w-layout-grid grid-7">
      <div class="text-block-21">Início &gt; Configurações Visuais e Textos</div>
      <div class="text-block-20">Hoje, <strong>{{myDate}}</strong></div>
    </div>
  </div>
  <div class="container-14 w-container">
    <div class="text-block-41">Configurações - Visuais e Textos</div>
  </div>
  <div class="container-19 _1 w-container">
    <div class="text-block-87">Banners Slide Home</div>
    <div class="form-block-7 w-form">
      <form id="email-form" name="email-form" data-name="Email Form">
        <div class="w-row">
          <div class="column-7 w-col w-col-6">
            <div><label for="name" class="field-label-8">Banner Topo 1</label>
              <div class="text-block-85">Imagem tmh.: 460x125 px (Formatos: .png e .jpg)</div>
            </div>
          </div>
          <div class="w-col w-col-6">
            <div class="div-block-65"><input type="file" id="customFile" name="uploadedImage" class="custom-file-input"><button _ngcontent-ctq-c78="" type="submit" class="btn btn-primary">Upload</button>
            </div>
          </div>
        </div>
        <div class="columns-3 w-row">
          <div class="column-7 w-col w-col-2">
            <div><label for="Ativo" class="field-label-8">Status do Banner</label><select id="Ativo" name="Ativo" required="" data-name="Ativo" class="w-select"><option value="Ativo">Ativo</option><option value="Desativado">Desativado</option></select></div>
          </div>
          <div class="w-col w-col-4">
            <div><label for="Link" class="field-label-8">Link de Redirecionamento</label><input type="text" class="text-field-9 w-input" maxlength="256" name="Link" data-name="Link" placeholder="https:www.exemplo.com" id="Link"></div>
          </div>
          <div class="w-col w-col-6">
            <div class="div-block-90"><label for="Link-2" class="field-label-8">Programar data para Desativar</label>
              <div class="div-block-27"><input type="text" class="text-field w-input" maxlength="256" name="name-3" data-name="Name 3" placeholder="" id="name-3">
                <div class="div-block-28"><img src="../../assets/images/calendar.png" alt="" class="image-3"></div><input type="text" class="text-field-8 w-input" maxlength="256" name="Hora" data-name="Hora" placeholder="00:00" id="Hora" required=""></div>
            </div>
          </div>
        </div>
        <div class="div-block-105"></div>
        <div class="w-row">
          <div class="column-7 w-col w-col-6">
            <div><label for="name-4" class="field-label-8">Banner Topo 2</label>
              <div class="text-block-85">Imagem tmh.: 460x125 px (Formatos: .png e .jpg)</div>
            </div>
          </div>
          <div class="w-col w-col-6">
            <div class="div-block-65"><input type="file" id="customFile" name="uploadedImage" class="custom-file-input"><button _ngcontent-ctq-c78="" type="submit" class="btn btn-primary">Upload</button>
            </div>
          </div>
        </div>
        <div class="columns-3 w-row">
          <div class="column-7 w-col w-col-2">
            <div><label for="Ativo-2" class="field-label-8">Status do Banner</label><select id="Ativo-2" name="Ativo-2" required="" data-name="Ativo 2" class="w-select"><option value="Ativo">Ativo</option><option value="Desativado">Desativado</option></select></div>
          </div>
          <div class="w-col w-col-4">
            <div><label for="Link-2" class="field-label-8">Link de Redirecionamento</label><input type="text" class="text-field-9 w-input" maxlength="256" name="Link-2" data-name="Link 2" placeholder="https:www.exemplo.com" id="Link-2"></div>
          </div>
          <div class="w-col w-col-6">
            <div class="div-block-90"><label for="Link-3" class="field-label-8">Programar data para Desativar</label>
              <div class="div-block-27"><input type="text" class="text-field w-input" maxlength="256" name="name-3" data-name="Name 3" placeholder="" id="name-3">
                <div class="div-block-28"><img src="../../assets/images/calendar.png" alt="" class="image-3"></div><input type="text" class="text-field-8 w-input" maxlength="256" name="Hora-2" data-name="Hora 2" placeholder="00:00" id="Hora-2" required=""></div>
            </div>
          </div>
        </div>
        <div class="div-block-105"></div><a href="#" class="button-8 w-button">Adicionar Novo Banner</a>
        <div class="div-block-106"><input type="submit" value="Salvar Alterações" data-wait="Salvando..." class="submit-button-4 w-button"></div>
      </form>
      <div class="w-form-done">
        <div>Thank you! Your submission has been received!</div>
      </div>
      <div class="w-form-fail">
        <div>Oops! Something went wrong while submitting the form.</div>
      </div>
    </div>
  </div>
  <div class="container-19 _1 w-container">
    <div class="text-block-87">Visual Da Home</div>
    <div class="form-block-7 w-form">
      <form id="email-form" name="email-form" data-name="Email Form">
        <div class="w-row">
          <div class="column-7 w-col w-col-6">
            <div><label for="name" class="field-label-8">Banner Home Topo</label>
              <div class="text-block-85">Imagem tmh.: 630x450 px (Formatos: .png e .jpg)</div>
            </div>
          </div>
          <div class="w-col w-col-6">
            <div >
              <form [formGroup]="fileUploadForm" (ngSubmit)="onFormSubmit()">
                <div >
                  <input type="file" class="custom-file-input" id="customFile" name="uploadedImage"
                      (change)="onFileSelect($event)" #UploadFileInput>
                     <button class="btn btn-primary" type="submit">Upload</button>
                  </div>
              </form>
            </div>
          </div>
        </div>
        <div class="div-block-105"></div>
        <div class="w-row">
          <div class="column-7 w-col w-col-6">
            <div><label for="name" class="field-label-8">Banner Destaque Topo 1</label>
              <div class="text-block-85">Imagem tmh.: 460x125 px (Formatos: .png e .jpg)</div>
            </div>
          </div>
          <div class="w-col w-col-6">
            <div >
              <form [formGroup]="fileUploadForm" (ngSubmit)="onFormSubmit()">
                <div >
                  <input type="file" class="custom-file-input" id="customFile" name="uploadedImage"
                      (change)="onFileSelect($event)" #UploadFileInput>
                     <button class="btn btn-primary" type="submit">Upload</button>
                  </div>
              </form>
            </div>
          </div>
        </div>
        <div class="div-block-105"></div>
        <div class="w-row">
          <div class="column-7 w-col w-col-6">
            <div><label for="name" class="field-label-8">Banner Destaque Topo 2</label>
              <div class="text-block-85">Imagem tmh.: 460x125 px (Formatos: .png e .jpg)</div>
            </div>
          </div>
          <div class="w-col w-col-6">
            <div >

              <form [formGroup]="fileUploadForm" (ngSubmit)="onFormSubmit()">
                <div >
                  <input type="file" class="custom-file-input" id="customFile" name="uploadedImage"
                             (change)="onFileSelect($event)" #UploadFileInput>
                             <button class="btn btn-primary" type="submit">Upload</button>
                       
                </div>
              </form>

            </div>
          </div>
        </div>
        <div class="div-block-105"></div>
        <div class="w-row">
          <div class="w-col w-col-6">
            <div><label for="name" class="field-label-8">Banner Destaque 1</label>
              <div class="text-block-85">Imagem tmh.: 300x100 px (Formatos: .png e .jpg)</div>
            </div>
          </div>
          <div class="w-col w-col-6">
            <div >
              <form [formGroup]="fileUploadForm" (ngSubmit)="onFormSubmit()">
                <div >
                  <input type="file" class="custom-file-input" id="customFile" name="uploadedImage"
                      (change)="onFileSelect($event)" #UploadFileInput>
                     <button class="btn btn-primary" type="submit">Upload</button>
                  </div>
              </form>
            </div>
          </div>
        </div>
        <div class="div-block-105"></div>
        <div class="w-row">
          <div class="column-7 w-col w-col-6">
            <div><label for="name" class="field-label-8">Banner Destaque 2</label>
              <div class="text-block-85">Imagem tmh.: 300x100 px (Formatos: .png e .jpg)</div>
            </div>
          </div>
          <div class="w-col w-col-6">
            <div >
              <form [formGroup]="fileUploadForm" (ngSubmit)="onFormSubmit()">
                <div >
                  <input type="file" class="custom-file-input" id="customFile" name="uploadedImage"
                      (change)="onFileSelect($event)" #UploadFileInput>
                     <button class="btn btn-primary" type="submit">Upload</button>
                  </div>
              </form>
            </div>
          </div>
        </div>
        <div class="div-block-105"></div>
        <div class="w-row">
          <div class="column-7 w-col w-col-6">
            <div><label for="name" class="field-label-8">Banner Destaque 3</label>
              <div class="text-block-85">Imagem tmh.: 300x100 px (Formatos: .png e .jpg)</div>
            </div>
          </div>
          <div class="w-col w-col-6">
            <div >
              <form [formGroup]="fileUploadForm" (ngSubmit)="onFormSubmit()">
                <div >
                  <input type="file" class="custom-file-input" id="customFile" name="uploadedImage"
                      (change)="onFileSelect($event)" #UploadFileInput>
                     <button class="btn btn-primary" type="submit">Upload</button>
                  </div>
              </form>
            </div>
          </div>
        </div>
        <div class="div-block-105"></div>
        <div class="w-row">
          <div class="column-7 w-col w-col-6">
            <div><label for="name" class="field-label-8">Banner Rodapé (Solicite Orçamento)</label>
              <div class="text-block-85">Imagem tmh.: 940x150 px (Formatos: .png e .jpg)</div>
            </div>
          </div>
          <div class="w-col w-col-6">
            <div >
              <form [formGroup]="fileUploadForm" (ngSubmit)="onFormSubmit()">
                <div >
                  <input type="file" class="custom-file-input" id="customFile" name="uploadedImage"
                      (change)="onFileSelect($event)" #UploadFileInput>
                     <button class="btn btn-primary" type="submit">Upload</button>
                  </div>
              </form>
            </div>
          </div>
        </div>
        <div class="div-block-105"></div>
        <div class="w-row">
          <div class="column-7 w-col w-col-6">
            <div><label for="name" class="field-label-8">Banner Rodapé</label>
              <div class="text-block-85">Imagem tmh.: 940x255 px (Formatos: .png e .jpg)</div>
            </div>
          </div>
          <div class="w-col w-col-6">
            <div >
              <form [formGroup]="fileUploadForm" (ngSubmit)="onFormSubmit()">
                <div >
                  <input type="file" class="custom-file-input" id="customFile" name="uploadedImage"
                      (change)="onFileSelect($event)" #UploadFileInput>
                     <button class="btn btn-primary" type="submit">Upload</button>
                  </div>
              </form>
            </div>
          </div>
        </div>
        <div class="div-block-106"><input type="submit" value="Salvar Alterações" data-wait="Salvando..." class="submit-button-4 w-button"></div>
      </form>
      <div class="w-form-done">
        <div>Thank you! Your submission has been received!</div>
      </div>
      <div class="w-form-fail">
        <div>Oops! Something went wrong while submitting the form.</div>
      </div>
    </div>
  </div>
  <div class="container-19 _1 w-container">
    <div class="text-block-87">Redes Sociais</div>
    <div class="form-block-7 w-form">
      <form id="email-form" name="email-form" data-name="Email Form">
        <div class="w-row">
          <div class="column-7 w-col w-col-6">
            <div><label for="name" class="field-label-8">Facebook</label></div>
          </div>
          <div class="w-col w-col-6"><input type="text" class="w-input" maxlength="256" name="https-facebook.com-exemplo" data-name="https://facebook.com/exemplo" placeholder="https://facebook.com/exemplo" id="https-facebook.com-exemplo" required=""></div>
        </div>
        <div class="div-block-105"></div>
        <div class="w-row">
          <div class="column-7 w-col w-col-6">
            <div><label for="name" class="field-label-8">Instagram</label></div>
          </div>
          <div class="w-col w-col-6"><input type="text" class="w-input" maxlength="256" name="https-instagram.com-exemplo" data-name="https://instagram.com/exemplo" placeholder="https://instagram.com/exemplo" id="https-instagram.com-exemplo" required=""></div>
        </div>
        <div class="div-block-105"></div>
        <div class="w-row">
          <div class="column-7 w-col w-col-6">
            <div><label for="name" class="field-label-8">Twitter</label></div>
          </div>
          <div class="w-col w-col-6"><input type="text" class="w-input" maxlength="256" name="https-twitter.com-exemplo" data-name="https://twitter.com/exemplo" placeholder="https://twitter.com/exemplo" id="https-twitter.com-exemplo" required=""></div>
        </div>
        <div class="div-block-105"></div>
        <div class="w-row">
          <div class="column-7 w-col w-col-6">
            <div><label for="name" class="field-label-8">Youtube</label></div>
          </div>
          <div class="w-col w-col-6"><input type="text" class="w-input" maxlength="256" name="https-youtube.com-exemplo" data-name="https://youtube.com/exemplo" placeholder="https://youtube.com/exemplo" id="https-youtube.com-exemplo" required=""></div>
        </div>
        <div class="div-block-106"><input type="submit" value="Salvar Alterações" data-wait="Salvando..." class="submit-button-4 w-button"></div>
      </form>
      <div class="w-form-done">
        <div>Thank you! Your submission has been received!</div>
      </div>
      <div class="w-form-fail">
        <div>Oops! Something went wrong while submitting the form.</div>
      </div>
    </div>
  </div>
  <div class="container-19 _1 w-container">
    <div class="text-block-87">Sobre a Empresa</div>
    <div class="form-block-7 w-form">
      <form id="email-form" name="email-form" data-name="Email Form">
        <div class="w-row">
          <div class="column-7 w-col w-col-6">
            <div><label for="name" class="field-label-8">Endereço</label>
              <div class="text-block-85">No Rodapé de todas as páginas</div>
            </div>
          </div>
          <div class="w-col w-col-6"><input type="text" class="w-input" maxlength="256" name="Endere-o" data-name="Endereço" placeholder="Exemplo" id="Endere-o" required=""></div>
        </div>
        <div class="div-block-105"></div>
        <div class="w-row">
          <div class="column-7 w-col w-col-6">
            <div><label for="name" class="field-label-8">Telefone 1</label>
              <div class="text-block-85">No Rodapé de todas as páginas</div>
            </div>
          </div>
          <div class="w-col w-col-6"><input type="number" class="w-input" maxlength="256" name="DDD-0000-0000" data-name="(DDD) 0000-0000" placeholder="(DDD) 0000-0000" id="DDD-0000-2" required=""></div>
        </div>
        <div class="div-block-105"></div>
        <div class="w-row">
          <div class="column-7 w-col w-col-6">
            <div><label for="name" class="field-label-8">Telefone 2</label>
              <div class="text-block-85">No Rodapé de todas as páginas</div>
            </div>
          </div>
          <div class="w-col w-col-6"><input type="number" class="w-input" maxlength="256" name="DDD-0000-0000" data-name="(DDD) 0000-0000" placeholder="(DDD) 0000-0000" id="DDD-0000" required=""></div>
        </div>

        <div class="div-block-106"><input type="submit" value="Salvar Alterações" data-wait="Salvando..." class="submit-button-4 w-button"></div>
      </form>
      <div class="w-form-done">
        <div>Thank you! Your submission has been received!</div>
      </div>
      <div class="w-form-fail">
        <div>Oops! Something went wrong while submitting the form.</div>
      </div>
    </div>
  </div>
