/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input[type=file] {
  display: initial;
  margin-right: 5px;
}
.text-block-87 {
  padding-bottom: 20px;
  font-size: 20px;
  font-weight: 700;
}
.container-19._1 {
  margin-top: 20px;
}
.div-block-105 {
  height: 1px;
  margin-top: 7px;
  margin-bottom: 15px;
  background-color: #e7e7e7;
}
.div-block-106 {
  display: flex;
 justify-content: flex-end;
}
.submit-button-4 {
  margin-top: 20px;
  padding-right: 40px;
  padding-left: 40px;
  border-radius: 10px;
  background-color: #2eaa7f;
  font-weight: 700;
  text-align: center;
}

.text-block-85 {
  padding-bottom: 5px;
  color: #a1a1a1;
  font-size: 12px;
  line-height: 16px;
}


label {
  margin-bottom: 0px;
  
}
.image-3 {
  width: 30px;
  max-width: none;
  padding-right: 5px;
  padding-left: 5px;
}
.text-field-8 {
  margin-bottom: 0px;
  margin-left: 20px;
}
.column-7 {
    display: flex;  
  flex-direction: row;
   align-items: center;
}
.w-container .w-row {
   margin-bottom: 10px;
}
.div-block-28{
  margin-bottom: 16px;
}
.w-input{
  margin-bottom: 10px;

}