.column-5 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 700px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.grid-29 {
    padding-top: 20px;
    grid-row-gap: 5px;
    grid-template-columns: 1fr 1fr 1fr;
}
.w-col-5 {
    width: 41.66666667%;
}
.text-block-41 {
    margin-bottom: 0px;
}
.text-block-83 {
    font-weight: 700;
    text-align: center;
}
.text-block-84 {
    text-align: center;
    margin-top: 14px;
}
.container-18 {
    margin-bottom: 30px;
}
.text-span-11 {
    font-weight: 400;
}