<div>
    <div class="container-6 w-container">
      <div class="w-layout-grid grid-7">
        <div class="text-block-21">Vendas &gt; Área de Entrega</div>
        <div class="text-block-20">Hoje, <strong>{{myDate}}</strong></div>
      </div>
    </div>
    <div class="container-14 w-container">
      <div class="text-block-41">Área de Entrega</div>
    </div>
    <div class="container-18 w-container">
      <div class="w-row">
        <div class="column-6 w-col w-col-5">
          <div class="div-block-40 _2 _24">
            <div class="div-block-39"><img src="../../assets/images/danger.png" width="25" alt="" class="image-8">
              <div class="text-block-40">Ofereça Entrega Grátis</div>
            </div>
            <p class="paragraph-4">Apareça em uma lista especial e ganhe do ABIDINE.SHOP com <strong>entrega grátis até 1Km!</strong></p>
          </div>
          <div class="w-form">
            <form id="email-form" name="email-form" data-name="Email Form">
              <div class="w-layout-grid grid-29">
                <div>
                  <div class="text-block-83">Alcance</div>
                </div>
                <div>
                  <div class="text-block-83">Taxa*</div>
                </div>
                <div>
                  <div class="text-block-83">Tempo<span class="text-span-11"> (min)</span></div>
                </div>
                <div id="w-node-51c42247749c-fb43dcc7">
                  <div class="text-block-84">Até 1Km</div>
                </div><select id="field" name="field" class="w-select"><option value="Grátis">Grátis</option><option value="R$ 1,00">R$ 1,00</option><option value="R$ 2.00">R$ 2.00</option><option value="R$ 3.00">R$ 3.00</option><option value="R$ 4,00">R$ 4.00</option><option value="R$ 5.00">R$ 5.00</option><option value="R$ 6.00">R$ 6.00</option><option value="R$ 7.00">R$ 7.00</option><option value="R$ 8.00">R$ 8.00</option><option value="R$ 9.00">R$ 9.00</option><option value="R$ 10.00">R$ 10.00</option><option value="R$ 11.00">R$ 11.00</option><option value="R$ 12.00">R$ 12.00</option><option value="R$ 13.00">R$ 13.00</option><option value="R$ 14.00">R$ 14.00</option><option value="R$ 15.00">R$ 15.00</option></select><input type="number" class="w-input" maxlength="256" name="Tempo" data-name="Tempo" placeholder="Minutos" id="Tempo" required="">
                <div id="w-node-6030d69a8f5e-fb43dcc7">
                  <div class="text-block-84">Até 2Km</div>
                </div><select id="field-2" name="field-2" data-name="Field 2" class="w-select"><option value="Grátis">Grátis</option><option value="R$ 1,00">R$ 1,00</option><option value="R$ 2.00">R$ 2.00</option><option value="R$ 3.00">R$ 3.00</option><option value="R$ 4,00">R$ 4.00</option><option value="R$ 5.00">R$ 5.00</option><option value="R$ 6.00">R$ 6.00</option><option value="R$ 7.00">R$ 7.00</option><option value="R$ 8.00">R$ 8.00</option><option value="R$ 9.00">R$ 9.00</option><option value="R$ 10.00">R$ 10.00</option><option value="R$ 11.00">R$ 11.00</option><option value="R$ 12.00">R$ 12.00</option><option value="R$ 13.00">R$ 13.00</option><option value="R$ 14.00">R$ 14.00</option><option value="R$ 15.00">R$ 15.00</option></select><input type="number" class="w-input" maxlength="256" name="Tempo-2" data-name="Tempo 2" placeholder="Minutos" id="Tempo-2" required="">
                <div id="w-node-b1404133cb62-fb43dcc7">
                  <div class="text-block-84">Até 3Km</div>
                </div><select id="field-2" name="field-2" data-name="Field 2" class="w-select"><option value="Grátis">Grátis</option><option value="R$ 1,00">R$ 1,00</option><option value="R$ 2.00">R$ 2.00</option><option value="R$ 3.00">R$ 3.00</option><option value="R$ 4,00">R$ 4.00</option><option value="R$ 5.00">R$ 5.00</option><option value="R$ 6.00">R$ 6.00</option><option value="R$ 7.00">R$ 7.00</option><option value="R$ 8.00">R$ 8.00</option><option value="R$ 9.00">R$ 9.00</option><option value="R$ 10.00">R$ 10.00</option><option value="R$ 11.00">R$ 11.00</option><option value="R$ 12.00">R$ 12.00</option><option value="R$ 13.00">R$ 13.00</option><option value="R$ 14.00">R$ 14.00</option><option value="R$ 15.00">R$ 15.00</option></select><input type="number" class="w-input" maxlength="256" name="Tempo-2" data-name="Tempo 2" placeholder="Minutos" id="Tempo-2" required="">
                <div id="w-node-929f03734fd7-fb43dcc7">
                  <div class="text-block-84">Até 4Km</div>
                </div><select id="field-2" name="field-2" data-name="Field 2" class="w-select"><option value="Grátis">Grátis</option><option value="R$ 1,00">R$ 1,00</option><option value="R$ 2.00">R$ 2.00</option><option value="R$ 3.00">R$ 3.00</option><option value="R$ 4,00">R$ 4.00</option><option value="R$ 5.00">R$ 5.00</option><option value="R$ 6.00">R$ 6.00</option><option value="R$ 7.00">R$ 7.00</option><option value="R$ 8.00">R$ 8.00</option><option value="R$ 9.00">R$ 9.00</option><option value="R$ 10.00">R$ 10.00</option><option value="R$ 11.00">R$ 11.00</option><option value="R$ 12.00">R$ 12.00</option><option value="R$ 13.00">R$ 13.00</option><option value="R$ 14.00">R$ 14.00</option><option value="R$ 15.00">R$ 15.00</option></select><input type="number" class="w-input" maxlength="256" name="Tempo-2" data-name="Tempo 2" placeholder="Minutos" id="Tempo-2" required="">
                <div id="w-node-81f1b80d30a1-fb43dcc7">
                  <div class="text-block-84">Até 5Km</div>
                </div><select id="field-2" name="field-2" data-name="Field 2" class="w-select"><option value="Grátis">Grátis</option><option value="R$ 1,00">R$ 1,00</option><option value="R$ 2.00">R$ 2.00</option><option value="R$ 3.00">R$ 3.00</option><option value="R$ 4,00">R$ 4.00</option><option value="R$ 5.00">R$ 5.00</option><option value="R$ 6.00">R$ 6.00</option><option value="R$ 7.00">R$ 7.00</option><option value="R$ 8.00">R$ 8.00</option><option value="R$ 9.00">R$ 9.00</option><option value="R$ 10.00">R$ 10.00</option><option value="R$ 11.00">R$ 11.00</option><option value="R$ 12.00">R$ 12.00</option><option value="R$ 13.00">R$ 13.00</option><option value="R$ 14.00">R$ 14.00</option><option value="R$ 15.00">R$ 15.00</option></select><input type="number" class="w-input" maxlength="256" name="Tempo-2" data-name="Tempo 2" placeholder="Minutos" id="Tempo-2" required="">
                <div id="w-node-77623acb37c7-fb43dcc7">
                  <div class="text-block-84">Até 6Km</div>
                </div><select id="field-2" name="field-2" data-name="Field 2" class="w-select"><option value="Grátis">Grátis</option><option value="R$ 1,00">R$ 1,00</option><option value="R$ 2.00">R$ 2.00</option><option value="R$ 3.00">R$ 3.00</option><option value="R$ 4,00">R$ 4.00</option><option value="R$ 5.00">R$ 5.00</option><option value="R$ 6.00">R$ 6.00</option><option value="R$ 7.00">R$ 7.00</option><option value="R$ 8.00">R$ 8.00</option><option value="R$ 9.00">R$ 9.00</option><option value="R$ 10.00">R$ 10.00</option><option value="R$ 11.00">R$ 11.00</option><option value="R$ 12.00">R$ 12.00</option><option value="R$ 13.00">R$ 13.00</option><option value="R$ 14.00">R$ 14.00</option><option value="R$ 15.00">R$ 15.00</option></select><input type="number" class="w-input" maxlength="256" name="Tempo-2" data-name="Tempo 2" placeholder="Minutos" id="Tempo-2" required="">
                <div id="w-node-5bc6a23c2634-fb43dcc7">
                  <div class="text-block-84">Até 7Km</div>
                </div><select id="field-2" name="field-2" data-name="Field 2" class="w-select"><option value="Grátis">Grátis</option><option value="R$ 1,00">R$ 1,00</option><option value="R$ 2.00">R$ 2.00</option><option value="R$ 3.00">R$ 3.00</option><option value="R$ 4,00">R$ 4.00</option><option value="R$ 5.00">R$ 5.00</option><option value="R$ 6.00">R$ 6.00</option><option value="R$ 7.00">R$ 7.00</option><option value="R$ 8.00">R$ 8.00</option><option value="R$ 9.00">R$ 9.00</option><option value="R$ 10.00">R$ 10.00</option><option value="R$ 11.00">R$ 11.00</option><option value="R$ 12.00">R$ 12.00</option><option value="R$ 13.00">R$ 13.00</option><option value="R$ 14.00">R$ 14.00</option><option value="R$ 15.00">R$ 15.00</option></select><input type="number" class="w-input" maxlength="256" name="Tempo-2" data-name="Tempo 2" placeholder="Minutos" id="Tempo-2" required="">
                <div id="w-node-98bffea3bc77-fb43dcc7">
                  <div class="text-block-84">Até 8Km</div>
                </div><select id="field-2" name="field-2" data-name="Field 2" class="w-select"><option value="Grátis">Grátis</option><option value="R$ 1,00">R$ 1,00</option><option value="R$ 2.00">R$ 2.00</option><option value="R$ 3.00">R$ 3.00</option><option value="R$ 4,00">R$ 4.00</option><option value="R$ 5.00">R$ 5.00</option><option value="R$ 6.00">R$ 6.00</option><option value="R$ 7.00">R$ 7.00</option><option value="R$ 8.00">R$ 8.00</option><option value="R$ 9.00">R$ 9.00</option><option value="R$ 10.00">R$ 10.00</option><option value="R$ 11.00">R$ 11.00</option><option value="R$ 12.00">R$ 12.00</option><option value="R$ 13.00">R$ 13.00</option><option value="R$ 14.00">R$ 14.00</option><option value="R$ 15.00">R$ 15.00</option></select><input type="number" class="w-input" maxlength="256" name="Tempo-2" data-name="Tempo 2" placeholder="Minutos" id="Tempo-2" required="">
                <div id="w-node-39a17040870f-fb43dcc7">
                  <div class="text-block-84">Até 9Km</div>
                </div><select id="field-2" name="field-2" data-name="Field 2" class="w-select"><option value="Grátis">Grátis</option><option value="R$ 1,00">R$ 1,00</option><option value="R$ 2.00">R$ 2.00</option><option value="R$ 3.00">R$ 3.00</option><option value="R$ 4,00">R$ 4.00</option><option value="R$ 5.00">R$ 5.00</option><option value="R$ 6.00">R$ 6.00</option><option value="R$ 7.00">R$ 7.00</option><option value="R$ 8.00">R$ 8.00</option><option value="R$ 9.00">R$ 9.00</option><option value="R$ 10.00">R$ 10.00</option><option value="R$ 11.00">R$ 11.00</option><option value="R$ 12.00">R$ 12.00</option><option value="R$ 13.00">R$ 13.00</option><option value="R$ 14.00">R$ 14.00</option><option value="R$ 15.00">R$ 15.00</option></select><input type="number" class="w-input" maxlength="256" name="Tempo-2" data-name="Tempo 2" placeholder="Minutos" id="Tempo-2" required="">
                <div id="w-node-8a32139ef0e7-fb43dcc7">
                  <div class="text-block-84">Acima de 10Km</div>
                </div><select id="field-2" name="field-2" data-name="Field 2" class="w-select"><option value="Grátis">Grátis</option><option value="R$ 1,00">R$ 1,00</option><option value="R$ 2.00">R$ 2.00</option><option value="R$ 3.00">R$ 3.00</option><option value="R$ 4,00">R$ 4.00</option><option value="R$ 5.00">R$ 5.00</option><option value="R$ 6.00">R$ 6.00</option><option value="R$ 7.00">R$ 7.00</option><option value="R$ 8.00">R$ 8.00</option><option value="R$ 9.00">R$ 9.00</option><option value="R$ 10.00">R$ 10.00</option><option value="R$ 11.00">R$ 11.00</option><option value="R$ 12.00">R$ 12.00</option><option value="R$ 13.00">R$ 13.00</option><option value="R$ 14.00">R$ 14.00</option><option value="R$ 15.00">R$ 15.00</option></select><input type="number" class="w-input" maxlength="256" name="Tempo-2" data-name="Tempo 2" placeholder="Minutos" id="Tempo-2" required=""></div>
            </form>
            <div class="w-form-done">
              <div>Thank you! Your submission has been received!</div>
            </div>
            <div class="w-form-fail">
              <div>Oops! Something went wrong while submitting the form.</div>
            </div>
          </div>
        </div>
        <div class="column-5 w-col w-col-7">
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15335.896820512442!2d-47.9821558!3d-16.0668283!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf47e85171e96bc87!2sAbidine.Shop!5e0!3m2!1spt-BR!2sbr!4v1600826503657!5m2!1spt-BR!2sbr" width="540" height="700 " frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>

        
      </div>
    </div>
  </div>
  
  
  <script src="js/webflow.js" type="text/javascript"></script>