a {
    color: #5F0FEE;
    text-decoration: underline;
}
.grid-30 {
    padding-bottom: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    margin-left: 20px;
}

.image-13 {
    width: 130px;
    margin-left: 30px;
    margin-top: 5px;
}
.image-14 {
    width: 150px;
    margin-left: 25px;
    margin-top: 4px;
}
.image-15 {
    width: 180px;
}
.image-16 {
    margin-left: 10px;
    margin-bottom: 16px;
}
.text-block-85 {
    padding-bottom: 5px;
    color: #a1a1a1;
    font-size: 12px;
    line-height: 16px;
}
.text-block-86 {
    margin-top: 10px;
    font-weight: 700;
}
.text-block-87 {
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: 700;
}
.div-block-104 {
     display: flex;
    font-size: 18px;
    font-weight: 700;
    margin-top: 13px
}
.div-block-105 {
    height: 1px;
    margin-top: 7px;
    margin-bottom: 15px;
    background-color: #e7e7e7;
}
.div-block-106 {
    display: flex;
    justify-content: flex-end;
}
.submit-button-4 {
    margin-top: 20px;
    margin-bottom: 25px;
    padding-right: 40px;
    padding-left: 40px;
    border-radius: 10px;
    background-color: #2eaa7f;
    font-weight: 700;
    text-align: center;
}
label {
    margin-bottom: 0px;
}
.w-checkbox {
    display: block;
    margin-bottom: 5px;
    padding-left: 20px;
}
.w-checkbox-input {
    float: left;
    margin-bottom: 0px;
    margin-left: -20px;
    margin-right: 0px;
    margin-top: 4px;
    line-height: normal;
}
.checkbox-field-3 {
    margin-left: 470px;
}
.checkbox-label {
    font-weight: 700;
}
.paragraph-4 {
    padding-top: 0px;
}
.text-block-41 {
    color: #ff9500;
    font-size: 26px;
    line-height: 32px;
    font-weight: 700;
    margin-bottom: -10px;
}
.container-19 {
    margin-top: 40px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}