
    <div class="container-6 w-container">
      <div class="w-layout-grid grid-7">
        <div class="text-block-21">Início &gt; Configurações</div>
        <div class="text-block-20">Hoje, <strong>{{myDate}}</strong></div>
      </div>
    </div>
    <div class="container-14 w-container">
      <div class="text-block-41">Configurações</div>
      <div class="div-block-40 _2 _24 _6">
        <p class="paragraph-4 _2"><strong>O que é Checkout transparente?</strong><br>- Aceite cartões VISA, MASTER, HIPERCARD, ELO diretamente em sua loja.<br>- Para visualizar condições comerciais de parcelamento, <a href="#">clique aqui.</a><br><br><strong>Tarifas e condições de recebimento, vendas com Cartão de Crédito:</strong><br>- Á vista, com taxa de 4,99% e recebimento D+0 (<strong>Receba na hora!</strong>)<br>- À vista, com taxa de 4,49% e recebimento D+14<br>- À vista, com taxa de 3,99% e recebimento D_30<br><br><strong>Boleto Bancário:</strong><br>- Taxa de R$3,49 e recbimento D+3<br><br>Mais informações sobre as tarifas do Abidine.shop, acesse as <a href="#">condições de recebimento</a>.</p>
      </div>
    </div>
    <div class="container-19 w-container">
      <div class="text-block-87">Configurações Gerais</div>
      <div class="form-block-7 w-form">
        <form id="email-form" name="email-form" data-name="Email Form">
          <div class="w-row">
            <div class="w-col w-col-6">
              <div><label for="name" class="field-label-8">Loja em Manutenção</label>
                <div class="text-block-85">Substitui sua loja por uma página indicando que a mesma está em manutenção.</div>
              </div>
            </div>
            <div class="w-col w-col-6"><select id="field-2" name="field-2" data-name="Field 2" class="select-field-7 w-select"><option value="Sim">Sim</option><option value="Não">Não</option></select></div>
          </div>
          <div class="div-block-105"></div>
          <div class="w-row">
            <div class="w-col w-col-6">
              <div><label for="name" class="field-label-8">Valor do Produto Restrito</label>
                <div class="text-block-85">Exibir o valor dos produtos apenas para usuários logados na loja.</div>
              </div>
            </div>
            <div class="w-col w-col-6"><select id="field-2" name="field-2" data-name="Field 2" class="select-field-7 w-select"><option value="Sim">Sim</option><option value="Não">Não</option></select></div>
          </div>
          <div class="div-block-105"></div>
          <div class="w-row">
            <div class="w-col w-col-6">
              <div><label for="name" class="field-label-8">Gerenciar Clientes</label>
                <div class="text-block-85">O cliente irá precisar de uma aprovação posterior para completar o cadastro na loja.</div>
              </div>
            </div>
            <div class="w-col w-col-6"><select id="field-2" name="field-2" data-name="Field 2" class="select-field-7 w-select"><option value="Sim">Sim</option><option value="Não">Não</option></select></div>
          </div>
          <div class="div-block-105"></div>
        </form>
        <div class="w-form-done">
          <div>Thank you! Your submission has been received!</div>
        </div>
        <div class="w-form-fail">
          <div>Oops! Something went wrong while submitting the form.</div>
        </div>
      </div>
      <div class="form-block-7 w-form">
        <form id="email-form" name="email-form" data-name="Email Form">
          <div class="w-row">
            <div class="w-col w-col-6">
              <div><label for="name" class="field-label-8">Checkout Transparente</label>
                <div class="text-block-85">O cliente fica no ambiente da sua loja durante todo processo da compra.</div>
              </div>
            </div>
            <div class="w-col w-col-6"><select id="field-2" name="field-2" data-name="Field 2" class="select-field-7 w-select"><option value="Sim">Sim</option><option value="Não">Não</option></select></div>
          </div>
          <div class="div-block-105"></div>
          <div class="w-row">
            <div class="w-col w-col-6">
              <div><label for="name" class="field-label-8">Abidine.shop pagamentos</label>
                <div class="text-block-85">O Cliente é direcionado ao Abidine.shop para fazer o pagamento e concluir a compra.</div>
              </div>
            </div>
            <div class="w-col w-col-6"><select id="field-2" name="field-2" data-name="Field 2" class="select-field-7 w-select"><option value="Sim">Sim</option><option value="Não">Não</option></select></div>
          </div>
          <div class="div-block-105"></div>
          <div class="w-row">
            <div class="w-col w-col-6">
              <div><label for="name" class="field-label-8">Nome na Fatura do Comprador</label>
                <div class="text-block-85">Informe o nome que deve aparecer na fatura do cartão do comprador.(Máximo de 11 Caracteres).</div>
              </div>
            </div>
            <div class="w-col w-col-6"><input type="text" class="w-input" maxlength="256" name="field-3" data-name="Field 3" id="field-3" required=""></div>
          </div>
          <div class="div-block-105"></div>
          <div class="w-row">
            <div class="w-col w-col-6">
              <div><label for="name" class="field-label-8">Valor mínimo</label>
                <div class="text-block-85">O valor mínimo aceitado pelo Abidine.shop, por padrão é de R$ 5,00</div>
              </div>
            </div>
            <div class="w-col w-col-6">
              <div class="div-block-63">
                <div class="text-block-57">R$</div><input type="number" class="text-field-2 w-input" maxlength="256" name="field-2" data-name="Field 2" placeholder="00,00" id="field-2" required=""></div>
            </div>
          </div>
          <div class="div-block-105"></div>
          <div class="text-block-86">Configurar Formas de Pagamento</div>
          <div class="w-layout-grid grid-30"><img src="../../assets/images/Logo_PagSeguro.png" srcset="../../assets/images/Logo_PagSeguro-p-500.png 500w, ../../assets/images/Logo_PagSeguro-p-800.png 800w, ../../assets/images/Logo_PagSeguro-p-1080.png 1080w, ../../assets/images/Logo_PagSeguro.png 1722w" sizes="(max-width: 479px) 100vw, 180px" id="w-node-a26c524082b7-f18f92e3" alt="" class="image-15"><img src="../../assets/images/rede-logo.png" id="w-node-679e593793d1-f18f92e3" alt="" class="image-13"><img src="../../assets/images/logo-of-cielo.svg" id="w-node-826d0de4ece1-f18f92e3" alt="" class="image-14">
            <div id="w-node-8a7951b6cc4c-f18f92e3" class="div-block-104"><img src="../../assets/images/023-credit-card.png" width="30" srcset="../../assets/images/023-credit-card-p-500.png 500w, ../../assets/images/023-credit-card.png 512w" sizes="30px" alt="" class="image-16">
              <div style="margin-top: 5px; margin-left: 5px;">Pagar na Entrega</div>
            </div>
          </div>
          <div class="div-block-106"><input type="submit" value="Salvar Alterações" data-wait="Salvando..." class="submit-button-4 w-button"></div>
        </form>
        <div class="w-form-done">
          <div>Thank you! Your submission has been received!</div>
        </div>
        <div class="w-form-fail">
          <div>Oops! Something went wrong while submitting the form.</div>
        </div>
      </div>
    </div>
    <div class="container-19 _1 w-container">
      <div class="text-block-87">Configurações de boleto</div>
      <div class="form-block-7 w-form">
        <form id="email-form" name="email-form" data-name="Email Form">
          <div class="w-row">
            <div class="column-7 w-col w-col-6">
              <div><label for="name" class="field-label-8">Boleto Bancário</label></div>
            </div>
            <div class="w-col w-col-6"><select id="field-2" name="field-2" data-name="Field 2" class="select-field-7 w-select"><option value="Sim">Sim</option><option value="Não">Não</option></select></div>
          </div>
          <div class="div-block-105"></div>
          <div class="w-row">
            <div class="w-col w-col-6">
              <div><label for="name" class="field-label-8">Valor mínimo</label>
                <div class="text-block-85">Informe o valor mínimo para exibir forma de pagamento via boleto.</div>
              </div>
            </div>
            <div class="w-col w-col-6">
              <div class="div-block-63">
                <div class="text-block-57">R$</div><input type="text" class="text-field-2 w-input" maxlength="256" name="field-2" data-name="Field 2" placeholder="00,00" id="field-2" required=""></div>
            </div>
          </div>
          <div class="div-block-105"></div><label class="w-checkbox checkbox-field-3"><input type="checkbox" id="checkbox" name="checkbox" data-name="Checkbox" class="w-checkbox-input"><span class="checkbox-label w-form-label">Usar desconto no boleto?</span><div class="text-block-85">Marque esse campo caso você queira aplicar o desconto no pagamento via boleto.</div></label>
          <div class="div-block-105"></div><label class="w-checkbox checkbox-field-3"><input type="checkbox" id="checkbox-2" name="checkbox-2" data-name="Checkbox 2" class="w-checkbox-input"><span class="checkbox-label w-form-label">Utilizar o serviço de parcelamento externo do Abidine.shop</span><div class="text-block-85">Marque essa opção para utilizar as informações de quantidade de parcelas, taxa de juros e valores mínimos, diretamente configurações em sua conta do abidine.shop. Apenas para pagamento transparente.</div></label>
          <div class="div-block-105"></div>
          <div class="w-row">
            <div class="column-7 w-col w-col-6">
              <div><label for="name" class="field-label-8">Máximo de parcelas</label>
                <div class="text-block-85">Quantidade máxima de parcelas para esta forma de pagamento</div>
              </div>
            </div>
            <div class="w-col w-col-6"><select id="PARCELAS" name="PARCELAS" data-name="PARCELAS" class="w-select"><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option><option value="11">11</option><option value="12">12</option></select></div>
          </div>
          <div class="w-row">
            <div class="column-7 w-col w-col-6">
              <div><label for="name" class="field-label-8">Máximo de parcelas para Redirect</label>
                <div class="text-block-85">Quantidade máxima de parcelas para pagamento redirecionado</div>
              </div>
            </div>
            <div class="w-col w-col-6"><select id="PARCELAS-2" name="PARCELAS-2" data-name="PARCELAS 2" class="w-select"><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option><option value="11">11</option><option value="12">12</option></select></div>
          </div>
          <div class="w-row">
            <div class="column-7 w-col w-col-6">
              <div><label for="name" class="field-label-8">Parcelas sem Juros</label>
                <div class="text-block-85">Número de parcelas sem juros para esta forma de pagamento</div>
              </div>
            </div>
            <div class="w-col w-col-6"><select id="PARCELAS-3" name="PARCELAS-3" data-name="PARCELAS 3" class="w-select"><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option><option value="11">11</option><option value="12">12</option></select></div>
          </div>
          <div class="div-block-106"><input type="submit" value="Salvar Alterações" data-wait="Salvando..." class="submit-button-4 w-button"></div>
        </form>
        <div class="w-form-done">
          <div>Thank you! Your submission has been received!</div>
        </div>
        <div class="w-form-fail">
          <div>Oops! Something went wrong while submitting the form.</div>
        </div>
      </div>
    </div>


