.image-4 {
    margin-left: 6px;
    width: 65%;
    margin-top: 39px;
}


.image-3 {
    width: 30px;
    max-width: none;
    padding-right: 5px;
    padding-left: 5px;
    margin-bottom: 2px;
    margin-left: 1px;
}

.image-2 {
    margin-left: 2px;
    width: 75%;
    margin-bottom: 2px;
}
.div-block-28 {
    margin-bottom: 16px;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}