    <div class="container-6 w-container">
      <div class="w-layout-grid grid-7">
        <div class="text-block-21">Vendas &gt; Mensagens de Clientes</div>
        <div class="text-block-20">Hoje, <strong>{{myDate}}</strong></div>
      </div>
    </div>
    <div class="container-15 w-container">
      <div class="text-block-49">Mensagens de Clientes</div>
      <div class="w-layout-grid grid-16">
        <p id="w-node-a57e2a9d3a85-aa92f580"><strong class="bold-text-4">Contato</strong><br>- É o contato direto que o cliente tem com sua loja durante o processo de entrega de produtos, desde de o pagamento confirmado até a compra entregue e avaliada.<br>‍<br><strong class="bold-text-5">Dúvidas</strong><br>- São as perguntas deixadas pelos possíveis clientes sobre determinado produto, lembrando que estas dúvidas após a resposta ficam em modo público.</p>
        <div id="w-node-4e829226ec1c-aa92f580" class="div-block-44">
          <div class="text-block-50"><strong>TMR</strong> (Tempo Médio de Resposta).</div>
          <div class="div-block-45">
            <div class="text-block-51">Contatos: </div>
            <div class="text-block-52">2H</div>
          </div>
          <div class="div-block-45 _2">
            <div class="text-block-51">Dúvidas:</div>
            <div class="text-block-52">2 Dias</div>
          </div>
        </div>
      </div>
    </div>
    <div class="w-container">
      <div data-duration-in="300" data-duration-out="100" class="tabs w-tabs">
        <div class="w-tab-menu">
          <a data-w-tab="Tab 1" class="tabtab w-inline-block w-tab-link w--current">
            <div>Conversas</div>
          </a>
          <a data-w-tab="Tab 2" class="tabtab w-inline-block w-tab-link">
            <div>Dúvidas</div>
          </a>
        </div>
        <div class="w-tab-content">
          <div data-w-tab="Tab 1" class="w-tab-pane w--tab-active">
            <div class="form-block w-form">
              <form id="email-form" name="email-form" data-name="Email Form">
                <div class="w-layout-grid grid-8 _2">
                  <div id="w-node-41aca42fa53d-aa92f580"><label for="name">Data de início</label>
                    <div class="div-block-27"><input type="number" class="text-field w-input" maxlength="256" name="name-4" data-name="Name 4" placeholder="" id="name-4">
                      <div class="div-block-28"><img src="../../assets/images/calendar.png" alt="" class="image-4"></div>
                    </div>
                  </div>
                  <div id="w-node-41aca42fa544-aa92f580"><label for="name">Data de Termino</label>
                    <div class="div-block-27"><input type="number" class="text-field w-input" maxlength="256" name="name-3" data-name="Name 3" placeholder="" id="name-3">
                      <div class="div-block-28"><img src="../../assets/images/calendar.png" alt="" class="image-3"></div>
                    </div>
                  </div>
                  <div id="w-node-41aca42fa54b-aa92f580"><label for="name">Status do Pedido</label><select id="field" name="field" data-name="Field" class="select-field w-select"><option value="">Recentes</option><option value="Respondidas">Respondidas</option><option value="Pendentes">Pendentes</option></select></div>
                  <div id="w-node-41aca42fa54f-aa92f580"><label for="name">Nome ou ID do Produto</label>
                    <div class="div-block-27"><input type="text" class="text-field _3 w-input" maxlength="256" name="name-2" data-name="Name 2" placeholder="" id="name-2">
                      <div class="div-block-28"><img src="../../assets/images/064-magnifying-glass-searcher.png" srcset="../../assets/images/064-magnifying-glass-searcher.png 500w, ../../assets/images/064-magnifying-glass-searcher.png 512w" sizes="30px" alt="" class="image-2"></div>
                    </div>
                  </div>
                </div>
              </form>
              <div class="w-form-done">
                <div>Thank you! Your submission has been received!</div>
              </div>
              <div class="w-form-fail">
                <div>Oops! Something went wrong while submitting the form.</div>
              </div>
            </div>
            <div class="div-block-46" *ngFor="let msg of msgs">
              <div class="w-layout-grid grid-17">
                <div id="w-node-8ac04512c810-aa92f580" class="text-block-54">Nome do Produto -<strong> ID: 290146575</strong></div>
                <div id="w-node-f4eab1c3d034-aa92f580"><img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" alt=""></div>
                <div id="w-node-2cf46b675ab8-aa92f580">
                  <div class="text-block-53">Nome do Usuário - Feito em: XX/XX/XXXX</div>
                  <p>{{"msg.text"}}Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla...</p>
                </div>
                <div id="w-node-6e6d35887bab-aa92f580"><a href="#" class="button-6 w-button">Responder</a></div>
              </div>
            </div>
            <div class="div-block-32">
              <div class="div-block-33">
                <div>&lt;</div>
              </div>
              <div class="div-block-33">
                <div>1</div>
              </div>
              <div class="div-block-33">
                <div>2</div>
              </div>
              <div class="div-block-33">
                <div>3</div>
              </div>
              <div class="div-block-33">
                <div>4</div>
              </div>
              <div class="div-block-33">
                <div>5</div>
              </div>
              <div class="div-block-33">
                <div>6</div>
              </div>
              <div class="div-block-33">
                <div>&gt;</div>
              </div>
            </div>
          </div>
          <div data-w-tab="Tab 2" class="w-tab-pane">
            <div class="columns w-row">
              <div class="column w-col w-col-4">
                <div class="div-block-55">
                  <div class="div-block-53"></div>
                  <div class="div-block-56">
                    <div class="div-block-54"></div>
                    <div class="text-block-55">Nome do Cliente</div>
                    <div>&quot;Lorem ipsum lorem ipsum...</div>
                  </div>
                </div>
                <div class="div-block-55">
                  <div class="div-block-53"></div>
                  <div class="div-block-56">
                    <div class="div-block-54"></div>
                    <div class="text-block-55">Nome do Cliente</div>
                    <div>&quot;Lorem ipsum lorem ipsum...</div>
                  </div>
                </div>
                <div class="div-block-55">
                  <div class="div-block-53"></div>
                  <div class="div-block-56">
                    <div class="div-block-54"></div>
                    <div class="text-block-55">Nome do Cliente</div>
                    <div>&quot;Lorem ipsum lorem ipsum...</div>
                  </div>
                </div>
                <div class="div-block-55">
                  <div class="div-block-53"></div>
                  <div class="div-block-56">
                    <div class="div-block-54"></div>
                    <div class="text-block-55">Nome do Cliente</div>
                    <div>&quot;Lorem ipsum lorem ipsum...</div>
                  </div>
                </div>
                <div class="div-block-55">
                  <div class="div-block-53"></div>
                  <div class="div-block-56">
                    <div class="div-block-54"></div>
                    <div class="text-block-55">Nome do Cliente</div>
                    <div>&quot;Lorem ipsum lorem ipsum...</div>
                  </div>
                </div>
                <div class="div-block-55">
                  <div class="div-block-53"></div>
                  <div class="div-block-56">
                    <div class="div-block-54"></div>
                    <div class="text-block-55">Nome do Cliente</div>
                    <div>&quot;Lorem ipsum lorem ipsum...</div>
                  </div>
                </div>
                <div class="div-block-55">
                  <div class="div-block-53"></div>
                  <div class="div-block-56">
                    <div class="div-block-54"></div>
                    <div class="text-block-55">Nome do Cliente</div>
                    <div>&quot;Lorem ipsum lorem ipsum...</div>
                  </div>
                </div>
              </div>
              <div class="column-4 w-col w-col-8">
                <div class="div-block-47">
                  <div>
                    <div>Usuário - Pedido #00000000000</div>
                    <div>Status: <strong class="bold-text-6">Em trânsito</strong></div>
                  </div><img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" width="30" alt=""></div>
                <div class="div-block-51">
                  <div class="div-block-48">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
                  </div>
                  <div class="div-block-50">
                    <div class="div-block-49">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
                    </div>
                  </div>
                </div>
                <div class="div-block-52"><a href="#" class="button-7 w-button">Responder</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

