
<div class="utility-page-wrap">
    <div class="utility-page-content w-form"><img src="../../assets/images/Asset-1.png" width="250" srcset="../../assets/images/Asset-1-p-500.png 500w, ../../assets/images/Asset-1.png 1000w" sizes="(max-width: 479px) 100vw, (max-width: 767px) 400px, (max-width: 991px) 600px, 700px" alt="" class="image-12">
      <h2 class="heading-4">Ooops! página não encontrada.</h2>
      <div class="div-block-102">A página que buscou não existe ou possuí um novo endereço.</div><a href="index.html" class="button-21 w-button">Votar Para o Início</a></div>
  </div>
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=5ec829d6c4dfffb40b021510" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="js/webflow.js" type="text/javascript"></script>