<div>
  <div class="w-container">
  <div class="div-block-4">
    <div>
      <div class="text-block"><strong>Início </strong>I <span class="text-span">Panorama geral</span></div>
    </div>
    <div>
        <div class="text-block-20">Hoje, <strong>{{myDate}}</strong></div>    </div>
  </div>
  <div data-animation="slide" data-duration="500" data-infinite="1" class="slider w-slider">
    <div class="mask w-slider-mask">
      <div class="slide w-slide"></div>
    </div>
    <div class="left-arrow w-slider-arrow-left"></div>
    <div class="w-slider-arrow-right"></div>
    <div class="w-slider-nav w-round"></div>
  </div>
  <div class="div-block-5">
    <div class="text-block-4">Chegou a nova <strong class="bold-text-7">Atualização</strong> do Painel Administrativo, agora você conta com a função Acompanhe os pedidos!</div>
  </div>
  <div class="div-block-7">
    <div class="w-layout-grid grid">
      <div id="w-node-45af3d464386-5e021511" class="div-block-12">
        <div class="div-block-11"></div>
        <div class="text-block-10">Bomlixo</div>
      </div>
      <div id="w-node-29f07433ec18-5e021511">
        <div><strong>Sobre:</strong></div>
        <div class="div-block-8"></div>
        <p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. </p>
      </div>
      <div id="w-node-e14bb9401876-5e021511">
        <div><strong>Sobre:</strong></div>
        <div class="div-block-8"></div>
        <div class="text-block-6">Seus Pontos:</div>
        <div class="div-block-9">
          <div class="text-block-5"><strong class="bold-text-2">4,4 </strong>I <strong> </strong>5,0</div><img src="../../assets/images/Estrela-Icon.png" alt=""class="image-2"></div>
        <p class="paragraph _2"><strong>Parabéns! </strong>Você é um <strong class="bold-text">Principe</strong>!<br>Com este título seus produtos aparecem mais vezes para nossos usuários gerando maior tráfego na sua loja!</p>
      </div>
      <div id="w-node-a46dd6ac2443-5e021511">
        <div class="div-block-10">
          <div class="text-block-8">100%</div>
          <div class="text-block-7">Performance de Entrega</div>
        </div>
        <div class="div-block-10 _2">
          <div class="text-block-8">00%</div>
          <div class="text-block-7">índice de<br>Reclamação</div>
        </div>
        <div class="div-block-10 _3">
          <div class="text-block-8">0</div>
          <div class="text-block-7">Total de Avaliações</div>
        </div>
        <div class="text-block-9"><strong>Status da Loja:  </strong> Ativa</div>
      </div>
    </div>
  </div>
</div>
</div>
<div class="section">
<div class="container-4 w-container">
  <div class="div-block-4">
    <div>
      <div class="text-block"><strong>Faturamento </strong>I <span class="text-span">Em Ciclos</span></div>
    </div>
  </div>
  <div class="w-layout-grid grid-2">
    <div id="w-node-0364115c2117-5e021511" class="div-block-13">
      <div class="w-layout-grid grid-3">
        <div>
          <div class="text-block-12">Hoje</div>
        </div>
        <div id="w-node-96b92cdc7fc2-5e021511">
          <div class="text-block-11">R$ 0,00</div>
        </div>
      </div>
    </div>
    <div id="w-node-ca8d1fb0f8a2-5e021511" class="div-block-13">
      <div class="w-layout-grid grid-3">
        <div>
          <div class="text-block-12">14 Dias</div>
        </div>
        <div id="w-node-ca8d1fb0f8a7-5e021511">
          <div class="text-block-11">R$ 0,00</div>
        </div>
      </div>
    </div>
    <div id="w-node-688595ee1bd7-5e021511" class="div-block-13">
      <div class="w-layout-grid grid-3">
        <div>
          <div class="text-block-12">30 Dias</div>
        </div>
        <div id="w-node-688595ee1bdc-5e021511">
          <div class="text-block-11">R$ 0,00</div>
        </div>
      </div>
    </div>
    <div id="w-node-c5e5c77880a2-5e021511" class="div-block-13">
      <div class="w-layout-grid grid-3">
        <div>
          <div class="text-block-12">Total</div>
        </div>
        <div id="w-node-c5e5c77880a7-5e021511">
          <div class="text-block-11">R$ 0,00</div>
        </div>
      </div>
    </div>
  </div>
  <div class="div-block-4 _2">
    <div>
      <div class="text-block"><strong>Histórico de Faturamento dos Últimos 12 Meses</strong></div>
    </div>
  </div>
  <div class="w-layout-grid grid-4">
    <div id="w-node-d014fc7a49c0-5e021511" class="div-block-14"></div>
    <div id="w-node-a7b0ef0cfb74-5e021511" class="div-block-14"></div>
    <div id="w-node-32baf43a8ae9-5e021511" class="div-block-14"></div>
    <div id="w-node-08b51227c9ef-5e021511" class="div-block-14"></div>
    <div id="w-node-f17ceb7caecf-5e021511" class="div-block-14"></div>
    <div id="w-node-54fcd62f1a32-5e021511" class="div-block-14"></div>
    <div id="w-node-dcb1cecbea21-5e021511" class="div-block-14"></div>
    <div id="w-node-02beddcab070-5e021511" class="div-block-14"></div>
    <div id="w-node-16eb1c7c164e-5e021511" class="div-block-14"></div>
    <div id="w-node-b90f1df1f3e3-5e021511" class="div-block-14"></div>
    <div id="w-node-5e307f902521-5e021511" class="div-block-14"></div>
    <div id="w-node-8cd0f4cced06-5e021511" class="div-block-14"></div>
    <div id="w-node-f5d34716f5ab-5e021511" class="div-block-14"></div>
  </div>
  <div class="w-layout-grid grid-4 _2">
    <div id="w-node-199fed12dd90-5e021511" class="text-block-13">Fev</div>
    <div id="w-node-553fa48f8ef0-5e021511" class="text-block-13">Nov</div>
    <div id="w-node-180f9724a5d5-5e021511" class="text-block-13">Mar</div>
    <div id="w-node-1d6240ffa716-5e021511" class="text-block-13">Jan</div>
    <div id="w-node-2326ce507d89-5e021511" class="text-block-13">Abr</div>
    <div id="w-node-b0667940f5c3-5e021511" class="text-block-13">Mai</div>
    <div id="w-node-42f85e70385b-5e021511" class="text-block-13">Ago</div>
    <div id="w-node-2eba319b0d06-5e021511" class="text-block-13">Jun</div>
    <div id="w-node-120c7201981f-5e021511" class="text-block-13">Jul</div>
    <div id="w-node-b9bc72b5105b-5e021511" class="text-block-13">Set</div>
    <div id="w-node-0b63a5fea581-5e021511" class="text-block-13">Out</div>
    <div id="w-node-f333261872b0-5e021511" class="text-block-13">Dez</div>
  </div>
</div>
</div>
<div class="section-2">
<div class="w-container">
  <div class="w-layout-grid grid-5">
    <div id="w-node-c9e7f0356423-5e021511" class="div-block-57">
      <div class="text-block-14">Mais Vendidos</div>

      <div class="div-block-17">
        <div><img src="../../assets/images/Produtos-Mais-vendidos.png" alt=""></div>
        <div class="div-block-18">
          <div class="text-block-15">Lorem Ipsum - Lorem Ipsum</div>
          <div class="div-block-16">
            <div class="div-block-15">
              <div class="text-block-16"><strong class="bold-text-3">30</strong><br>Vendidos</div>
            </div>
            <div class="div-block-15">
              <div class="text-block-16"><strong class="bold-text-3">0</strong><br>Avaliação</div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div id="w-node-aa1b207ad446-5e021511" class="div-block-58">
      <div class="div-block-19">
        <div class="text-block-14">Históricos de Pedidos</div>
        <div class="text-block-14 _2">Status</div>
      </div>

    </div>
    <div id="w-node-12e6a3c7a5e6-5e021511" class="div-block-59">
      <div class="text-block-14">Insights</div>
      <div class="div-block-21">
        <div class="div-block-23">
          <div class="div-block-22">
            <div>Venda Mais!</div>
          </div>
          <div class="div-block-22 _2">
            <div>Tendência</div>
          </div>
        </div>
        <p class="paragraph-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare...</p><a href="#" class="link">Ver Mais +</a></div>
      <div class="div-block-21">
        <div class="div-block-23">
          <div class="div-block-22 _3">
            <div>Semana da Tecnologia</div>
          </div>
          <div class="div-block-22 _2">
            <div>Tendência</div>
          </div>
        </div>
        <p class="paragraph-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare...</p><a href="#" class="link">Ver Mais +</a></div>
      <div class="div-block-21">
        <div class="div-block-23">
          <div class="div-block-22">
            <div>Venda Mais!</div>
          </div>
          <div class="div-block-22 _4">
            <div>Data Comemorativa</div>
          </div>
        </div>
        <p class="paragraph-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare...</p><a href="#" class="link">Ver Mais +</a></div>
    </div>
  </div>
</div>
</div>
<div class="section-3">
<div class="w-container">
  <div class="div-block-4">
    <div>
      <div class="text-block"><strong>Impulsione o seu Negócio! </strong>I <span class="text-span">Conheça mais serviços que ajudam seu negócio a crescer</span></div>
    </div>
  </div>
  <div class="w-layout-grid grid-6">
    <div id="w-node-3c7d62b1e683-5e021511" class="div-block-24"><img src="../../assets/images/Banner-Shark-Sales-Contabilidade.png" alt="">
      <p class="paragraph-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla.</p><a href="#" class="link-2">Conhecer</a></div>
    <div id="w-node-5a3a88e7a6d4-5e021511" class="div-block-24"><img src="../../assets/images/Banner-Abidine-Agência.png" alt="">
      <p class="paragraph-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla.</p><a href="#" class="link-2">Conhecer</a></div>
    <div id="w-node-83b19c8543ba-5e021511" class="div-block-24"><img src="../../assets/images/Banner-Shark-Sales.png" alt="">
      <p class="paragraph-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla.</p><a href="#" class="link-2">Conhecer</a></div>
  </div>
</div>
</div>
