
<div class="container-6 w-container">
  <div class="w-layout-grid grid-7">
    <div class="text-block-21">Início &gt; E-Commerce &gt; Retirada Pessoalmente</div>
    <div class="text-block-20">Hoje, <strong>{{myDate}}</strong></div>
  </div>
</div>
<div class="container-19 _2 w-container">
  <div class="text-block-41">E-Commerce - Retirada Pessoalmente</div>
  <div class="div-block-40 _2 _24 _6">
    <div><img src="../../assets/images/retirar_pessoalmente.png" alt=""></div>
    <p class="paragraph-7">Quando você entregar pessoalmente o produto, é importante considerar algumas coisas:<br><br>‍<strong>Combine o encontro em um lugar seguro</strong>: espaços públicos podem ser os melhores locais, uma rua movimentada no verão ou um shopping se estiver frio/ chovendo!<br>‍<br>‍<strong>Peça ao comprador para assinar a nota fiscal do produto </strong>e que, nesse documento, fique claro:<br><br>- Número da negociação e título do produto.<br><br>- Data de entrega.<br><br>- Nome completo, CPF e assinatura da pessoa que recebeu.</p>
  </div>
  <div class="div-block-107 _4">
    <div>Forma de Envio</div>
  </div>
  <div class="form-block-7 w-form">
    <form id="email-form" name="email-form" data-name="Email Form">
      <div class="w-row">
        <div class="w-col w-col-6">
          <div><label for="name" class="field-label-8">Ativado</label></div>
        </div>
        <div class="w-col w-col-6"><select id="field-2" name="field-2" data-name="Field 2" class="select-field-7 w-select"><option value="Sim">Sim</option><option value="Não">Não</option></select></div>
      </div>
      <div class="div-block-105"></div>
      <div class="w-row">
        <div class="w-col w-col-6">
          <div><label for="name" class="field-label-8">Limite de Peso</label>
            <div class="text-block-85">Informe qual é o lime máximo de peso que omotoboy consegue levar até o cliente.<a href="#"></a></div>
          </div>
        </div>
        <div class="w-col w-col-6"><input type="number" class="w-input" maxlength="256" name="Peso" data-name="Peso" id="Peso" required=""></div>
      </div>
      <div class="div-block-105"></div>
      <div class="w-row">
        <div class="w-col w-col-6">
          <div><label for="name" class="field-label-8">Faixa de CEP Atendidas</label></div>
        </div>
        <div class="w-col w-col-6">

          <div class="text-block-89 inicio"><strong>Região Atendida: </strong>Nome Nome<br><strong>CEP Inicial</strong>: 00000-000<br><strong>CEP Final:</strong> 00000-000<br><strong>Prazo de Entrega:</strong> 1 dia útil<br><strong>Valor (R$):</strong> 4,00</div>
          <div class="text-block-89"><strong>Região Atendida: </strong>Nome Nome<br><strong>CEP Inicial</strong>: 00000-000<br><strong>CEP Final:</strong> 00000-000<br><strong>Prazo de Entrega:</strong> 1 dia útil<br><strong>Valor (R$):</strong> 4,00</div>
          </div>
        <div class="w-col w-col-6">
          <div  *ngFor="let region of faixas" class="text-block-89 inicio"><strong>Região Atendida: </strong>{{region.region}}<br><strong>CEP Inicial</strong>:{{region.cepInit}}<br><strong>CEP Final:</strong> {{region.cepEnd}}<br><strong>Prazo de Entrega:</strong> {{region.dl}}dia útil<br><strong>Valor (R$):</strong>{{region.value}}</div>

        </div>
      </div>
      <div class="div-block-105"></div>
      <div class="div-block-112">
        <div class="w-row">
          <div class="w-col w-col-6">
            <div class="div-block-113"><label for="name" class="field-label-8">Região Atendida</label></div>
          </div>
          <div class="w-col w-col-6">
            <input
            (input)="setRegion($event)"
            type="text" class="w-input" maxlength="256" name="Regi-o-atendida" data-name="Região atendida" id="Regi-o-atendida" required=""></div>
        </div>
        <div class="w-row">
          <div class="w-col w-col-6">
            <div class="div-block-113"><label for="name" class="field-label-8">CEP Incial</label></div>
          </div>
          <div class="w-col w-col-6">
            <input
            (input)="setCEPInit($event)"
            type="number" class="w-input" maxlength="256" name="Regi-o-atendida-2" data-name="Regi O Atendida 2" id="Regi-o-atendida-2" required=""></div>
        </div>
        <div class="w-row">
          <div class="w-col w-col-6">
            <div class="div-block-113"><label for="name" class="field-label-8">CEP final</label></div>
          </div>
          <div class="w-col w-col-6">
            <input
            (input)="setCEPEnd($event)"
            type="number" class="w-input" maxlength="256" name="Regi-o-atendida-3" data-name="Regi O Atendida 3" id="Regi-o-atendida-3" required=""></div>
        </div>
        <div class="w-row">
          <div class="w-col w-col-6">
            <div class="div-block-113"><label for="name" class="field-label-8">Prazo de entrega (em horas)</label></div>
          </div>
          <div class="w-col w-col-6">
            <input
            (input)="setDeadline($event)"
            type="number" class="w-input" maxlength="256" name="Prazo-de-Entrega" data-name="Prazo de Entrega" id="Prazo-de-Entrega" required=""></div>
        </div>
        <div class="w-row">
          <div class="w-col w-col-6">
            <div class="div-block-113"><label for="name" class="field-label-8">Valor (R$)</label></div>
          </div>
          <div class="w-col w-col-6">
            <input
            (input)="setValue($event)"
            type="number" class="w-input" maxlength="256" name="Valor" data-name="Valor" id="Valor" required=""></div>
        </div>
        <div class="div-block-114"><a (click)="addFaixa()" class="button-23 w-button">Adicionar Faixa</a></div>
      </div>
      <div class="div-block-106"><input type="submit" value="Salvar Alterações" data-wait="Salvando..." class="submit-button-4 w-button"></div>
    </form>
    <div class="w-form-done">
      <div>Thank you! Your submission has been received!</div>
    </div>
    <div class="w-form-fail">
      <div>Oops! Something went wrong while submitting the form.</div>
    </div>
  </div>
</div>
