/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.field-label-8 {
  margin-bottom: 0px;
}
.div-block-40._2._24._6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}
img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}
.div-block-107._4 {
  margin-bottom: 20px;
}
.div-block-107 {
  padding-top: 10px;
  padding-bottom: 8px;
  padding-left: 10px;
  background-color: #eee;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}
.div-block-105 {
  height: 1px;
  margin-top: 7px;
  margin-bottom: 15px;
  background-color: #e7e7e7;
}
.text-block-85 {
  padding-bottom: 5px;
  color: #a1a1a1;
  font-size: 12px;
  line-height: 16px;
}
.text-block-89 {
  margin-top: 10px;
  padding: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: silver;
  border-radius: 10px;
}
.div-block-112 {
  padding: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: #ccc;
  border-radius: 10px;
  background-color: #f1f1f1;

}
.div-block-114 {
  text-align: right;
}
.div-block-106 {
   display: flex;
  justify-content: flex-end;
}
.button-23 {
  border-radius: 10px;
  background-color: #2eaa7f;
}
.submit-button-4 {
  margin-top: 20px;
  margin-bottom: 45px;
  padding-right: 40px;
  padding-left: 40px;
  border-radius: 10px;
  background-color: #2eaa7f;
  font-weight: 700;
  text-align: center;
}

.paragraph-7 {
  margin-left: 20px;
}