<div>
  <div class="container-6 w-container">
    <div class="w-layout-grid grid-7">
      <div class="text-block-21">Produto &gt; Cadastro de Novo Produto</div>
      <div class="text-block-20">Hoje, <strong>{{myDate}}</strong></div>
    </div>
  </div>
  <div class="container-9 w-container">
    <div class="div-block-77"><img src="../../assets/images/logotipo-abidineshop-vetor.png" height="80" srcset="../../assets/images/logotipo-abidineshop-vetor-p-500.png 500w, ../../assets/images/logotipo-abidineshop-vetor-p-800.png 800w, ../../assets/images/logotipo-abidineshop-vetor-p-1080.png 1080w, ../../assets/images/logotipo-abidineshop-vetor-p-1600.png 1600w, ../../assets/images/logotipo-abidineshop-vetor-p-2000.png 2000w, ../../assets/images/logotipo-abidineshop-vetor-p-2600.png 2600w, ../../assets/images/logotipo-abidineshop-vetor-p-3200.png 3200w, ../../assets/images/logotipo-abidineshop-vetor.png 6962w" sizes="100vw" alt="" class="image-4">
      <div class="text-block-67"><span class="text-span-7">Tudo Pronto! Seu anúncio foi enviado para ánalise.</span><br>Acompanhe o status de aprovação pelo seu e-mail ou<br>pelo painel administrativo na aba de Meus Pedidos.</div><a routerLink = "/productform1"  class="button-14 w-button">Adicionar Outro Anúncio</a></div>
  </div>
</div>
