  <div class="section-17">
    <div class="container-6 w-container">
      <div class="w-layout-grid grid-7">
        <div class="text-block-21">Produto &gt; Cadastro de Serviço</div>
        <div class="text-block-20">Hoje, <strong>{{myDate}}</strong></div>
      </div>
    </div>
    <div class="container-9 w-container">
      <div class="w-layout-grid grid-18 servi-o">
        <div id="w-node-dfe58b672bfa-928b26f4" class="div-block-62">
          <div class="div-block-61"></div>
          <div class="div-block-60"></div>
          <div class="text-block-56">Empresa</div>
        </div>
        <div id="w-node-d29e932fa8fe-928b26f4" class="div-block-62">
          <div class="div-block-61"></div>
          <div class="div-block-60"></div>
          <div class="text-block-56">Unidades</div>
        </div>
        <div id="w-node-d233e4bf98dc-928b26f4" class="div-block-62">
          <div class="div-block-61"></div>
          <div class="div-block-60"></div>
          <div class="text-block-56">Usuário</div>
        </div>
      </div>
      <div>
        <div class="w-form">
          <form id="email-form" name="email-form" data-name="Email Form">
            <div class="text-block-76">Unidade I</div>
            <div class="text-block-77">Endereço</div>
            <div class="w-layout-grid grid-25">
              <div id="w-node-00342c70bd73-928b26f4"><label for="name" class="field-label-2">CEP*</label><input type="text" class="w-input" maxlength="256" name="name" data-name="Name" placeholder="" id="name"></div>
              <div id="w-node-3aed7a9e54bf-928b26f4"><label for="name-2" class="field-label-2">Rua*</label><input type="text" class="w-input" maxlength="256" name="name-2" data-name="Name 2" placeholder="" id="name-2"></div>
              <div id="w-node-29b91961d273-928b26f4"><label for="name-3" class="field-label-2">Bairro</label><input type="text" class="w-input" maxlength="256" name="name-3" data-name="Name 3" placeholder="" id="name-3"></div>
              <div id="w-node-64480b6bfa4f-928b26f4"><label for="name-4" class="field-label-2">Cidade*</label><input type="text" class="w-input" maxlength="256" name="name-3" data-name="Name 3" placeholder="" id="name-3"></div>
              <div id="w-node-0f8760ca23d3-928b26f4"><label for="name-4" class="field-label-2">Estado*</label><input type="text" class="w-input" maxlength="256" name="name-3" data-name="Name 3" placeholder="" id="name-3"></div>
              <div id="w-node-524eda7e2941-928b26f4"><label for="name-4" class="field-label-2">País*</label><input type="text" class="w-input" maxlength="256" name="name-3" data-name="Name 3" placeholder="" id="name-3"></div>
            </div>
            <div class="text-block-77 _4">Endereço</div>
            <div class="w-layout-grid grid-26">
              <div id="w-node-ba76cebe4c48-928b26f4"><label for="name-4" class="field-label-2">Telefone*</label>
                <div class="div-block-84"><select id="field" name="field" class="select-field-5 w-select"><option value="Celular">Celular</option><option value="Fixo">Fixo</option></select><input type="tel" class="w-input" maxlength="256" name="name-4" data-name="Name 4" placeholder="" id="name-4"></div>
              </div>
              <div id="w-node-242fb593e6b2-928b26f4"><label for="name-5" class="field-label-2">Telefone</label>
                <div class="div-block-84"><select id="field-3" name="field-3" data-name="Field 3" class="select-field-5 w-select"><option value="Celular">Celular</option><option value="Fixo">Fixo</option></select><input type="tel" class="w-input" maxlength="256" name="name-4" data-name="Name 4" placeholder="" id="name-4"></div>
              </div>
              <div id="w-node-6b950a8c405e-928b26f4"><label for="name-5" class="field-label-2">Telefone</label>
                <div class="div-block-84"><select id="field-3" name="field-3" data-name="Field 3" class="select-field-5 w-select"><option value="Celular">Celular</option><option value="Fixo">Fixo</option></select><input type="tel" class="w-input" maxlength="256" name="name-4" data-name="Name 4" placeholder="" id="name-4"></div>
              </div>
              <div id="w-node-1334ebb1adfa-928b26f4"><label for="name-5" class="field-label-2">E-mail Comercial</label><input type="text" class="w-input" maxlength="256" name="name-4" data-name="Name 4" placeholder="" id="name-4"></div>
            </div><a href="#" class="button-15 w-button">Adicionar Nova Unidade</a>
            <div class="div-block-64 _2"><a href="registro-4.html" class="button-16 w-button">Continuar</a></div>
          </form>
          <div class="w-form-done">
            <div>Thank you! Your submission has been received!</div>
          </div>
          <div class="w-form-fail">
            <div>Oops! Something went wrong while submitting the form.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=5ec829d6c4dfffb40b021510" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="js/webflow.js" type="text/javascript"></script>