
    <div class="container-6 w-container">
      <div class="w-layout-grid grid-7">
        <div class="text-block-21">Vendas &gt; Avaliações de Clientes</div>
        <div class="text-block-20">Hoje, <strong>{{myDate}}</strong></div>
      </div>
    </div>
    <div class="container-14 w-container">
      <div class="text-block-41">Avaliações de Clientes</div>
      <div class="div-block-40 _2 _24">
        <div class="div-block-39"><img src="../../assets/images/danger.png" width="25" alt="" class="image-8">
          <div class="text-block-40">Como Funcionam as Avaliações</div>
        </div>
        <p class="paragraph-4">- O Arquivo deve estar no Padrão que será reconhecido pelo Abidine.shop: <a href="#" class="link-4">Veja aqui como organizar o aquivo.</a><br>- A Ferramenta reconhece arquivos no formato .xml<br>- O Tamanho do arquivo não poderá ser superior a 5mb<br>- Produtos duplicados com os já cadastrados em sua loja serão sobrepostos.<br>- A Avaliação e liberação dos produtos serão feitas no prazo de 2 á 3 dias.</p>
      </div>
    </div>
    <div class="w-container">
      <div class="form-block w-form">
        <form id="email-form" name="email-form" data-name="Email Form">
          <div class="w-layout-grid grid-8 _2">
            <div id="w-node-edb04889b91c-21120a4b"><label for="name-2">Data de início</label>
              <div class="div-block-27"><input type="number" class="text-field w-input" maxlength="256" name="name-2" data-name="Name 2" placeholder="" id="name-2">
                <div class="div-block-28"><img src="../../assets/images/calendar.png" alt="" class="image-3"></div>
              </div>
            </div>
            <div id="w-node-edb04889b923-21120a4b" class="div-block-90"><label for="name-3">Data de Termino</label>
              <div class="div-block-27"><input type="number" class="text-field w-input" maxlength="256" name="name-3" data-name="Name 3" placeholder="" id="name-3">
                <div class="div-block-28"><img src="../../assets/images/calendar.png" alt="" class="image-3"></div>
              </div>
            </div>
            <div id="w-node-edb04889b92a-21120a4b"><label for="name-3">Status do Pedido</label><select id="field" name="field" data-name="Field" class="select-field w-select"><option value="">Recentes</option><option value="Respondidas">Respondidas</option><option value="Pendentes">Pendentes</option></select></div>
            <div id="w-node-db329c550571-21120a4b" class="div-block-91"><label for="name-4">Nome ou ID do Produto</label>
              <div class="div-block-27"><input type="number" class="text-field _3 w-input" maxlength="256" name="name-2" data-name="Name 2" placeholder="" id="name-2">
                <div class="div-block-28"><img src="../../assets/images/064-magnifying-glass-searcher.png" srcset="../../assets/images/064-magnifying-glass-searcher-p-500.png 500w, ../../assets/images/064-magnifying-glass-searcher.png 512w" sizes="30px" alt="" class="image-3"></div>
              </div>
            </div>
          </div>
        </form>
        <div class="w-form-done">
          <div>Thank you! Your submission has been received!</div>
        </div>
        <div class="w-form-fail">
          <div>Oops! Something went wrong while submitting the form.</div>
        </div>
      </div>
    </div>
    <div class="container-13 w-container">
      <div class="div-block-43" *ngFor="let rate on rates">
        <div class="w-layout-grid grid-15">
          <div>Nome do Produto -<strong> ID: 218975982367</strong></div>
          <div id="w-node-a030b230e4f0-21120a4b" class="div-block-42">
            <div class="text-block-45">Denunciar</div><img src="../../assets/images/danger.png" width="20" alt="" class="image-9"></div>
          <div id="w-node-b2fc5524aa24-21120a4b">
            <div class="text-block-46">Nome do Usuário - Feito em xx/xx/xxxx</div>
            <p class="paragraph-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
          </div>
          <div id="w-node-c4d00a39a603-21120a4b">
            <div class="text-block-47">Avaliação:</div>
            <div class="text-block-48">5,0</div>
          </div>
          <div id="w-node-8d12eb88129e-21120a4b"><a href="#" class="button-4 w-button">Responder</a></div>
        </div>
      </div>

    </div>
    <div class="container-8 w-container">
      <div class="div-block-32">
        <div class="div-block-33">
          <div>&lt;</div>
        </div>
        <div class="div-block-33">
          <div>1</div>
        </div>
        <div class="div-block-33">
          <div>2</div>
        </div>
        <div class="div-block-33">
          <div>3</div>
        </div>
        <div class="div-block-33">
          <div>4</div>
        </div>
        <div class="div-block-33">
          <div>5</div>
        </div>
        <div class="div-block-33">
          <div>6</div>
        </div>
        <div class="div-block-33">
          <div>&gt;</div>
        </div>
      </div>
    </div>

